{% block crop_image_widget %}
    <div {{ stimulus_controller('cropper', {
        name: form.vars.id,
    }) }} class="gin-cropper">
        <input
            class="d-none" type="file" name="{{ field_name(form.file) }}"
            {{ stimulus_target("cropper", "uploadField")|stimulus_action("cropper", "onFileUploadChange", "change") }}
        />
        <input
            class="d-none" id="{{ form.vars.id }}" name="{{ field_name(form.data) }}" value="{{ field_value(form.data) }}"
            {{ stimulus_target("cropper", "formField") }}
        />

        <div class="d-flex flex-row align-items-start">
            <div class="flex-column">
                <a class="btn d-block btn-sm py-0 px-1" {{ stimulus_action("cropper", "onEditAgain", "click") }}><twig:Icon icon="edit"></twig:Icon></a>
                <a class="btn d-block btn-sm py-0 px-1" {{ stimulus_action("cropper", "onRemove", "click") }}><twig:Icon icon="trash"></twig:Icon></a>
            </div>

            <div
                class="gin-cropper-drop-zone flex-column flex-grow-1"
                id="{{ form.vars.id }}-drop-zone"
                {{ stimulus_target("cropper", "dropZone")|stimulus_action("cropper", "onClick", "click")|stimulus_action("cropper", "onDrop", "drop")|stimulus_action("cropper", "onDragOver", "dragover") }}
            >
                Drop zone
                <img class="d-none" {{ stimulus_target("cropper", "croppedImageStorage") }}>
            </div>
        </div>

        <div class="modal" {{ stimulus_target("cropper", "cropperModal") }}>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Resize</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="d-none" {{ stimulus_target("cropper", "imageStorage") }}>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button" class="btn btn-primary" aria-label="Submit"
                            {{ stimulus_action("cropper", "onCropperSubmit", "click") }}
                        >OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}