{% block __privacy_aware_row %}
    <div class="mb-3">
        <label class="form-label" for="{{ form.vars.id }}">
            {{ form.vars.label }}
        </label>
        <div id="{{ form.vars.id }}" class="row form-group">
            <div class="col-4">
                <legend class="input-group">
                    <div class="input-group-text py-3">
                        {{ form.owner.vars.label }}
                    </div>

                    {{ form_widget(form.owner) }}
                </legend>
                {{ form_help(form.owner) }}
            </div>

            <div class="col-4">
                <legend class="input-group">
                    <div class="input-group-text py-3">
                        {{ form.group.vars.label }}
                    </div>

                    {{ form_widget(form.group) }}
                </legend>
                {{ form_help(form.group) }}
            </div>

            <div class="col-4">
                <legend class="input-group">
                    <div class="input-group-text py-3">
                        {{ form.privacyLevel.vars.label }}
                    </div>

                    {{ form_widget(form.privacyLevel) }}
                </legend>
                {{ form_help(form.privacyLevel) }}
            </div>
        </div>

        {% if form.vars.help %}
            <div id="{{ form.vars.id }}_help" class="form-text mb-0 form-help">{{ form.vars.help }}</div>
        {% endif %}
    </div>
{% endblock %}

{%- block table_live_collection_widget -%}
    {% form_theme form 'form/table_collection.html.twig' %}

    {% set column_map = [] %}
    {% for child in form|last %}
        {% if "hidden" in child.vars.block_prefixes %}
        {% elseif child|length > 0 %}
            {% for subChild in child %}
                {% if not subChild.vars.compound %}
                    {% set column_map = column_map|merge([[subChild.vars.name, subChild.vars.label, child.vars.name]]) %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% set column_map = column_map|merge([[child.vars.name, child.vars.label, ""]]) %}
        {% endif %}
    {% endfor %}

    <div {{ stimulus_controller('TableLiveCollection', {
        "formName": form.vars.full_name,
        "formId": form.vars.id,
        "columnMap": column_map,
    }) }}>

        <div {{ stimulus_target("TableLiveCollection", 'import') }}>
            <details>
                <summary class="mb-1">
                    <twig:Icon icon="import" />
                </summary>
                <div class="mb-5">
                    <div class="row mb-1">
                        <div class="col">
                            <textarea class="form-control w-100" {{ stimulus_target("TableLiveCollection", "importField") }}></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary" {{ stimulus_action("TableLiveCollection", "importData") }}>Import</button>
                        </div>
                    </div>
                </div>
            </details>
        </div>

        <table class="table table-borderless">
            <thead>
            <tr>
                <td></td>
                {% for child in form|last %}
                    {% if "hidden" in child.vars.block_prefixes %}
                        <td></td>
                    {% elseif child|length > 0 %}
                        <!-- Data -->
                        {% for subChild in child %}
                            <th style="min-width: 200px">{{ subChild.vars.label }}</th>
                        {% endfor %}
                    {% else %}
                        <th style="min-width: 200px">
                            {{ child.vars.label }}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody id="{{ form.vars.id }}">
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
            </tbody>
        </table>

        {% if skip_add_button|default(false) is same as(false) and button_add is defined and not button_add.rendered %}
            {{ form_widget(button_add, {"attr": {}|merge(stimulus_target('TableLiveCollection', "add"))}) }}
        {% endif %}
    </div>
{%- endblock -%}

{% block live_collection_widget %}
    {{ block("form_widget") }}

    {% if button_add is defined and not button_add.rendered %}
        {{ form_row(button_add) }}
    {% endif %}
{% endblock %}

{% block live_collection_entry_row %}
    <div class="card mb-3">
        <div class="card-header d-flex">
            {% if button_delete is defined and not button_delete.rendered %}
                <div class="me-3">
                    {{ form_widget(button_delete, {"label": "−", "attr": {"class": "btn btn-outline-danger btn-sm"}}) }}
                </div>
            {% endif %}

            <h4>
                {{ form.vars.value }}
            </h4>
        </div>
        <div class="card-body">
            {# First, render 'direct' fields in columns #}
            <twig:Layout:Row cols="1" md="2" lg="3" xl="4">
                {% for formElement in form|filter(elm => not elm.vars.compound) %}
                    <twig:Layout:Col type="none">
                        {{ form_row(formElement) }}
                    </twig:Layout:Col>
                {% endfor %}
            </twig:Layout:Row>

            {# Then, render composite fields #}
            {% for formElement in form|filter(elm => elm.vars.compound) %}
                {{ form_row(formElement) }}
                {# <twig:Layout:Row cols="1" class="mt-2 pt-2 border-top">
                    <twig:Layout:Col class="px-2">
                        <h6><strong>{{ formElement.vars.label }}</strong></h6>
                    </twig:Layout:Col>
                </twig:Layout:Row>

                <twig:Layout:Row cols="1" md="2" lg="3" xl="4">
                    {% for subFormElement in formElement|filter(elm => elm|length == 0) %}
                        <twig:Layout:Col type="none">
                            {{ form_row(subFormElement) }}
                        </twig:Layout:Col>
                    {% endfor %}
                </twig:Layout:Row>

                {% for subFormElement in formElement|filter(elm => elm|length > 0) %}
                    <twig:Layout:Row cols="1" class="mt-2 pt-2 border-top">
                        <twig:Layout:Col class="px-2">
                            <h6><strong>{{ subFormElement.vars.label }}</strong></h6>
                        </twig:Layout:Col>
                    </twig:Layout:Row>

                    <twig:Layout:Row cols="1" md="2" lg="3" xl="4">
                        {% for subSubFormElement in subFormElement %}
                            <twig:Layout:Col type="none">
                                {{ form_row(subSubFormElement) }}
                            </twig:Layout:Col>
                        {% endfor %}
                    </twig:Layout:Row>
                {% endfor %} #}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block linked_entity_widget %}
    {{ form_widget(form.entity) }}
    {{ form_widget(form.linkedEntity) }}
{% endblock %}

{% block number_search_row %}
    <div class="mb-3">
        <label class="form-label">{{ form.vars.label }}</label>

        <div class="input-group">
            <div class="input-group-text">{{ form.min.vars.label }}</div>
            {{ form_widget(form.min) }}

            <div class="input-group-text">{{ form.max.vars.label }}</div>
            {{ form_widget(form.max) }}

            <div class="input-group-text">{{ form.type.vars.label }}</div>
            {{ form_widget(form.type) }}
        </div>
    </div>
{% endblock %}

{% block form_group_row %}
    <div class="form-fieldset {{ form.vars.errors|length > 0 ? "form-fieldset-error" : "" }}">
        <label for="{{ form.vars.id }}" class="form-label">
            {% if icon %}
                <twig:Icon :icon="icon" :stack="icon_stack" />
            {% endif %}
            {{ form.vars.label }}
        </label>

        {% if form.vars.errors|length > 0 %}
            <div class="form-errors">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div id="{{ form.vars.id }}" class="row">
            {% for child in form %}
                <div class="col">
                    {{ form_row(child) }}
                </div>
            {% endfor %}
        </div>

        <small>{{ form_help(form) }}</small>
    </div>
{% endblock %}

{% block enumerated_widget %}
    <div {{ stimulus_controller("EnumeratedWidget", {
        "inputId": form.vars.id,
        "inputFullName": form.vars.full_name,
        "url": enumeration_url ?? url("stimulus_enumerated_widget"),
    }) }} class="input-group">
        <div class="small text-danger" {{ stimulus_target("EnumeratedWidget", "error") }}></div>

        <div class="input-group">
            <div
                class="btn btn-outline-secondary"
                {{ stimulus_target("EnumeratedWidget", "generation") }}
                {{ stimulus_action("EnumeratedWidget", "generate", "click", {"enumeration_type": enumeration_type}) }}
            >
                <twig:Icon icon="generate" />
            </div>

            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}


{% block fancy_choice_widget %}
    <div {{ stimulus_controller("FancyCollection") }}>
        <div>
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block experimental_model_param_row %}
    <div>
        <strong>{{ form_label(form) }}</strong>
        <small>{{ form_help(form) }}</small>

        <div class="mt-3">
            {{ form_widget(form) }}
        </div>

        <div class="small text-danger">{{ form_errors(form) }}</div>
    </div>
{% endblock %}

{% block experimental_model_param_widget %}
    <div class="input-group input-group-sm">
        {% for formRow in form %}
            {% if formRow.vars.name == "vary" %}
                <div class="input-group-text">{{ form_widget(formRow) }}</div>
            {% else %}
                <div class="input-group-text">{{ form_label(formRow) }}</div>
                {{ form_widget(formRow) }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="small text-danger">
        {% for formRow in form %}
            {{ form_errors(formRow) }}
        {% endfor %}
    </div>
{% endblock %}