{% block privacy_aware_row %}
    <div class="mb-3">
        <label class="form-label" for="{{ form.vars.id }}">
            {{ form.vars.label }}
        </label>
        <div id="{{ form.vars.id }}" class="row form-group">
            <div class="col-4">
                <legend class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text py-3">
                            {{ form.owner.vars.label }}
                        </div>
                    </div>

                    {{ form_widget(form.owner) }}
                </legend>
                {{ form_help(form.owner) }}
            </div>

            <div class="col-4">
                <legend class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text py-3">
                            {{ form.group.vars.label }}
                        </div>
                    </div>

                    {{ form_widget(form.group) }}
                </legend>
                {{ form_help(form.group) }}
            </div>

            <div class="col-4">
                <legend class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text py-3">
                            {{ form.privacyLevel.vars.label }}
                        </div>
                    </div>

                    {{ form_widget(form.privacyLevel) }}
                </legend>
                {{ form_help(form.privacyLevel) }}
            </div>
        </div>

        {% if form.vars.help %}
            <div id="{{ form.vars.id }}_help" class="form-text mb-0 form-help">{{ form.vars.help }}</div>
        {% endif %}
    </div>
{% endblock %}

{%- block experimental_conditions_widget -%}
    {% form_theme form 'form/table_collection.html.twig' %}

    <table class="table table-borderless">
        <thead>
        <tr>
            <td></td>
            {% for child in form|last %}
                {% if "hidden" in child.vars.block_prefixes %}
                    <td></td>
                {% elseif child|length > 0 %}
                    <!-- Data -->
                    {% for subChild in child %}
                        <th>{{ subChild.vars.label }}</th>
                    {% endfor %}
                {% else %}
                    <th>
                        {{ child.vars.label }}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {{ block("form_widget") }}
        </tbody>
    </table>

    {% if skip_add_button|default(false) is same as(false) and button_add is defined and not button_add.rendered %}
        {{ form_widget(button_add) }}
    {% endif %}
{%- endblock -%}
