{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icon %}

{% block title %}Gin :: {% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {% block form_header %}
            {% endblock %}

            <div class="row">
                <div class="col p-0 m-0">
                    <div class="bg-white mx-3 mb-3 border p-3 p-lg-5 overflow-auto">
                        {{ form_start(form) }}

                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>

                        {% set form_groups = form|filter(e => e|length > 0) %}

                        {% if form_groups|length > 0 %}
                            <nav>
                                <ul class="nav nav-tabs" id="form-tab-navigation" role="tablist">
                                    {% for group in form_groups %}
                                        <li class="nav-item" role="presentation">
                                            <a
                                                    class="nav-link {% if loop.index0 == 0 %}active{% endif %}"
                                                    id="form-tab-navigation-tab-{{ group.vars.name }}"
                                                    data-bs-toggle="tab"
                                                    href="#form-tab-navigation-tab-{{ group.vars.name }}-content"
                                                    role="tab"
                                                    aria-controls="form-tab-navigation-tab-{{ group.vars.name }}-content"
                                                    aria-selected="true"
                                            >{{ group.vars.label }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>

                            <div class="tab-content border-light border border-top-0 px-2 py-4 p-lg-5 mb-3 mb-lg-5" id="form-tab-content">
                                {% for group in form_groups %}
                                    <div
                                            class="tab-pane fade show {% if loop.index0 == 0 %}active{% endif %}"
                                            id="form-tab-navigation-tab-{{ group.vars.name }}-content"
                                            role="tabpanel"
                                            aria-labelledby="form-tab-navigation-tab-{{ group.vars.name }}"
                                    >
                                        <div class="row row-cols-1">
                                            {% for child in group %}
                                                {% if not child.rendered %}
                                                    <div class="col">
                                                        {# {% if child.vars.prototype is defined %}
                                                            {{ form_label(child) }}

                                                            <small>{{ form_help(child) }}</small>

                                                            <div class="form-error">
                                                                {{ form_errors(child) }}
                                                            </div>

                                                            <button type="button" class="add_item_link" data-collection-holder-class="{{ child.vars.name }}">Add</button>

                                                            <div
                                                                data-name="{{ child.vars.name }}"
                                                                data-index="{{ child|length > 0 ? child|last.vars.name + 1 : 0 }}"
                                                                data-prototype="{{ form_widget(child.vars.prototype)|e("html_attr") }}"
                                                            ></div>
                                                        {% else %} #}
                                                            {{ form_row(child) }}
                                                        {# {% endif %} #}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {{ form_rest(form) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        <!--<script type="application/javascript">
            const addFormToCollection = (e) => {
                const collectionHolder = document.querySelector("[data-name^=" + e.target.dataset.collectionHolderClass + "]");
                const item = document.createElement("div");
                item.classList.add("border", "roundet", "my-3", "p-3")

                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(/__name__/g, collectionHolder.dataset.index);

                collectionHolder.appendChild(item);
                collectionHolder.dataset.index++;
            };

            document
                .querySelectorAll(".add_item_link")
                .forEach(btn => {
                    btn.addEventListener("click", addFormToCollection)
                })
            ;
        </script>-->
    </div>
{% endblock %}