{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}
{% import 'macros.html.twig' as macros %}

{% if currentLot %}
    {% set var_title = "Consumables :: Lot :: " ~ currentLot.lotIdentifier %}
{% elseif currentConsumable %}
    {% set var_title = "Consumables :: Item :: " ~ currentConsumable.longName %}
{% elseif currentCategory %}
    {% set var_title = "Consumables :: Type :: " ~ currentCategory.longName %}
{% else %}
    {% set var_title = "Consumables" %}
{% endif %}

{% block title %}Gin :: {{ var_title }}{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            <twig:PageHeader :title="var_title" icon="consumable" :barcode="true"  />

            <twig:Layout:Row cols="1" md="2">
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Consumables" icon="consumable" :toolbox="toolbox.category">
                        {% if categories|length == 0 %}
                        {% else %}
                            <twig:TreeView
                                tree="{{ categories|filter(e => not e.parent) }}"
                                :currentNode="currentCategory"
                                :service="treeViewService"
                                childComponentParams="{{ {"currentConsumable": currentConsumable, "currentCategory": currentCategory} }}"
                            >
                            </twig:TreeView>
                        {% endif %}
                    </twig:ElementCard>
                </twig:Layout:Col>

                <twig:Layout:Col type="outer">
                    {% if currentCategory is not null %}
                        <twig:ElementCard class="mb-3 mb-xl-5" title="Consumable Category" icon="consumable" iconStack="box">
                            <h3>{{ currentCategory.longName }}</h3>
                            <div>
                                {{ currentCategory.comment|raw }}
                            </div>
                        </twig:ElementCard>
                    {% endif %}

                    {% if currentConsumable is not null %}
                        <twig:ElementCard class="mb-3 mb-xl-5"  title="Consumable" icon="consumable" iconStack="view" :toolbox="toolbox.consumable">
                            {% import 'macros.html.twig' as macros %}

                            <h3>{{ currentConsumable.longName }}</h3>

                            <twig:Metadata
                                data="{{ {
                                    "Product Number": ["", currentConsumable.productNumber],
                                    "Standard #Units per package": ["", currentConsumable.numberOfUnits],
                                    "Standard #Pieces per unit": ["", currentConsumable.unitSize],
                                    "Standard location": ["", currentConsumable.location is empty ? "none" : currentConsumable.location.pathName],
                                    "Package consumption": ["", currentConsumable.consumePackage ? "Yes" : "No"],
                                    "Vendor": ["raw", macros.vendor_url(currentConsumable.vendor, currentConsumable.vendorPN)],
                                    "Minimum number of units or packages": ["", currentConsumable.orderLimit],
                                    "Critical number of units or packages": ["", currentConsumable.criticalLimit],
                                    "Price per package": ["", currentConsumable.pricePerPackage.priceValue/1000 ~ " " ~ currentConsumable.pricePerPackage.priceCurrency],
                                    "Expected delivery time": ["", currentConsumable.expectedDeliveryTime],
                                    "Instruments": ["entity", currentConsumable.instruments]
                                } }}"
                            ></twig:Metadata>

                            {{ currentConsumable.comment|raw }}
                        </twig:ElementCard>

                        <twig:ElementCard class="mb-3 mb-xl-5" title="Consumable Lots" icon="consumable" iconStack="lot">
                            <twig:StockKeeping:ConsumableLotView loading="lazy" :consumable="currentConsumable" :lot="currentLot" />
                        </twig:ElementCard>

                        {# Attachments #}
                        {% from 'utility/attachments.html.twig' import attachments %}
                        {{ attachments(currentConsumable.attachments) }}
                    {% endif %}
                </twig:Layout:Col>
            </twig:Layout:Row>
        </div>
    </div>
{% endblock %}

{% macro display_categories(groups, current, nesting=true) %}
    {% for group in groups|natsort %}
        {% set groupId = "gin-consumable-category-" ~ group.id %}

        <div class="list-group-item {% if current is same as(group) %}active{% endif %}">
            <div class="d-flex justify-content-between align-items-center">
                <span>
                    {% if group.children|length > 0 and nesting is same as(true) %}
                        <a id="anchor-for-{{ groupId }}" href="#{{ groupId }}" class="text-decoration-none text-black text-reset" data-bs-toggle="collapse">
                            <span class="collapse-icon far fa-plus-square fa-fw"></span>
                        </a>
                    {% else %}
                        <span class="collapse-icon far fa-plus-square fa-fw invisible"></span>
                    {% endif %}

                        {% if is_granted("edit", group) %}
                            <span href="me-2">
                                {{ layout.toolbox_column([
                                    {
                                        "type": "edit",
                                        "tooltipText": "Edit category",
                                        "display": "lg",
                                        "target": url("app_consumables_category_edit", {"category": group.id }),
                                    },
                                ], "sm") }}
                            </span>
                        {% endif %}

                    <a class="text-decoration-none text-black text-reset" href="{{ path("app_consumables_category_view", {"category": group.id}) }}">
                        <span class="fas fa-box fa-fw"></span>
                            {{ group.longName }}
                    </a>

                </span>

                {% if group.showUnits %}
                {# <span>
                    <span class="badge bg-primary rounded-pill" style="width: 30px;">N (N)</span>
                </span>  #}
                {% endif %}
            </div>

            {% if group.showUnits %}
                {% set consumableStock = group.currentStock / group.idealStock %}
                {% set consumableStock = consumableStock > 1 ? 1 : consumableStock %}
                {% set barColor = "bg-success" %}

                {% if group.currentStock < group.criticalLimit %}
                    <span class="text-danger"><strong>Critical:</strong> Orders must be placed</span>
                    {% set barColor = "bg-danger" %}
                {% elseif group.currentStock < group.orderLimit %}
                    <span class="text-warning"><strong>Warning:</strong> Orders should be placed</span>
                    {% set barColor = "bg-warning" %}
                {% endif %}

                <div class="progress mt-3" role="progressbar" aria-label="Stock">
                    <div class="progress-bar {{ barColor }}" style="width: {{ consumableStock*100 }}%"
                         role="progressbar"
                         aria-valuemin="0" aria-valuemax="{{ group.idealStock }}" aria-valuenow="{{ group.currentStock }}"
                    >
                       {{ group.currentStock }} / {{ group.idealStock }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="list-group collapse" id="{{ groupId }}">
            {# Display boxes #}
            {% if group.children|length > 0 and nesting is same as(true) %}
                {{ _self.display_categories(group.children, current)  }}
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}
