{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'parts/cells/cell_macros.html.twig' as cell_macros %}

{% macro cell_tools(cell=null) %}
    {% if cell == null %}
        <div class="btn-group btn-group-sm mr-3" style="visibility: hidden">
            <span class="btn btn-primary btn-sm"><span class="far fa-clipboard"></span></span>
            <span class="btn btn-primary btn-sm"><span class="fa fa-eye"></span></span>
        </div>
    {% else %}
        <div class="btn-group btn-group-sm mr-3">
            {% if cell.rrid %}
                <a
                    class="btn btn-primary btn-sm btn-clipboard"
                    data-toggle="tooltip" data-placement="bottom" title="Copy cell line information"
                    data-clipboard-text="{{ cell.name }} ({{ cell.rrid ? "RRID:" ~ cell.rrid : "" }})"
                >
                    <span class="far fa-clipboard"></span>
                </a>
            {% else %}
                <span class="btn btn-outline-secondary btn-sm disabled"><span class="far fa-clipboard"></span></span>
            {% endif %}
            <a
                href="{{ cell_macros.url_cell(cell) }}"
                class="btn btn-primary btn-sm"
                data-toggle="tooltip" data-placement="bottom" title="View cell"
            >
                <span class="fa fa-eye"></span>
            </a>
        </div>
    {% endif %}
{% endmacro %}


{% block title %}Gin :: Cells{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header("Cells") }}

            {{
                layout.toolbox([
                    {
                        "type": "add",
                        "disabled": true,
                        "tooltipText": "Add new cell",
                    },
                ])
            }}

            {# <div class="row">
                <div class="col bg-white mx-3 mb-3 border py-2 px-3 px-lg-5">
                    <div class="btn-group" role="group" aria-label="tools">
                        <a
                            class="btn btn-primary disabled"
                            data-toggle="tooltip" data-placement="bottom" title="Add new cell"
                        >
                            <span class="fas fa-fw fa-plus"></span>
                        </a>
                    </div>
                </div>
            </div> #}

            <div class="row">
                <div class="col bg-white mx-3 mb-3 border p-3 p-lg-5">
                    <table class="table table-hover fancyTable">
                        <thead>
                        <tr>
                            <th>
                                {{ _self.cell_tools() }}
                            </th>
                            <th scope="col">
                                Nr
                            </th>
                            <th scope="col">Name</th>
                            <th class="d-none d-lg-table-cell" scope="col">Organism</th>
                            <th class="d-none d-lg-table-cell" scope="col">Tissue</th>
                            <th class="d-none d-lg-table-cell" scope="col">Morphology</th>
                            <th class="d-none d-lg-table-cell" scope="col">Aliquotes (Unique)</th>
                            <th class="d-none d-lg-table-cell" scope="col">Cancer</th>
                            <th class="d-none d-lg-table-cell" scope="col">Engineered</th>
                            <th class="d-none d-lg-table-cell" scope="col">RRID</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cell in cells %}
                            <tr>
                                <td>
                                    {{ _self.cell_tools(cell) }}
                                </td>
                                <td>
                                    <strong>{{ cell.cellNumber }}</strong>
                                </td>
                                <td>{{ cell.name }}</td>
                                <td class="d-none d-lg-table-cell">{{ cell.organism ? cell.organism.name : "undefined" }}</td>
                                <td class="d-none d-lg-table-cell">{{ cell.tissue ? cell.tissue.name : "undefined" }}</td>
                                <td class="d-none d-lg-table-cell">{{ cell.morphology ? cell.morphology.name : "undefined" }}</td>
                                <td class="d-none d-lg-table-cell">{% if cell.cellAliquotes|length > 0 %}
                                        {% set aliquoteCount = 0 %}
                                        {% for aliquote in cell.cellAliquotes %}
                                            {% set aliquoteCount = aliquoteCount + aliquote.vials %}
                                        {% endfor %}
                                        {{ aliquoteCount }} ({{ cell.cellAliquotes|length }})
                                    {% else %}
                                        0
                                    {% endif %}</td>
                                <td class="d-none d-lg-table-cell">{{ cell.isCancer ? "Yes" : "No" }}</td>
                                <td class="d-none d-lg-table-cell">{{ cell.isEngineered ? "Yes" : "No" }}</td>
                                <td class="d-none d-lg-table-cell">{{ cell.rrid ? macros.rrid_resolver(cell.rrid) : "-" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}