{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'parts/cells/cell_macros.html.twig' as cell_macros %}
{% import 'utility/icons.html.twig' as icon %}
{% from 'utility/attachments.html.twig' import attachments %}

{% block title %}Gin :: Cell :: {{ cell.cellNumber ~ " -" ~ cell.name }}{% endblock %}

{% macro tab_item(name, id, tabid, active=false, enabled=true) %}
    <a class="nav-link {{ active?"active":"" }} {{ enabled ? "" : "disabled" }}" id="{{ id }}" data-toggle="pill" href="#{{ tabid }}" role="tab" aria-controls="{{ tabid }}" aria-selected="{{ active?"true":"false" }}">{{ name }}</a>
{% endmacro %}

{% macro simple_tab_content(name, content, comment=null) %}
    <div class="col-4 mb-3 pb-3">
        <h4 class="bg-secondary p-2 mb-n1 border-secondary border">{{ name }}</h4>
        <div class="p-2 pt-3 border-secondary border">
            {{ (content ?? "unknown")|raw }}

            {% if comment %}
                <p class="text-muted mt-3 mb-n1">{{ comment }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro cellosauros_url(cell) %}
    {% if cell.cellosaurusId %}
        {% set database = "https://web.expasy.org/cellosaurus/" ~ cell.cellosaurusId %}
        <a href="{{ database }}">{{ cell.name }} ({{ cell.cellosaurusId }}) <span class="fa fa-external-link-alt"></span></a>
    {% else %}
        -
    {% endif %}
{% endmacro %}

{% block body_main %}
    {% set columnClasses = "col-md-6 col-lg-4 col-xl-4 px-3 mb-3 border-light border-bottom" %}


    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header(cell.cellNumber ~ " -" ~ cell.name, false, true, icon.cell()) }}

            {{ layout.toolbox([
                {
                    "type": "up",
                    "target": url("app_cells"),
                    "tooltipText": "Back to all cells",
                },
                {
                    "type": "clipboard",
                    "tooltipText": "Copy information",
                    "clipboardText": ( cell.name ~ "(" ~ (cell.rrid ? "RRID:" ~ cell.rrid : "") ~ ")"),
                },
                {
                    "type": "edit",
                    "tooltipText": "Edit cell",
                    "target": url("app_cell_edit", {"cell": cell.cellNumber ?: cell.id })
                },
                {
                    "type": "add",
                    "tooltipText": "Add cell aliquot",
                    "target": url("app_cell_aliquot_add", {"cell": cell.cellNumber ?: cell.id })
                }
            ]) }}

            <div class="row row-cols-1 row-cols-lg-2">
                {# Cell metadata #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Details", "Details") }}

                        {{ layout.card_body_collapse_start("Details") }}
                        <div class="card-body px-lg-5">
                            <table class="table w-100 table-borderless table-sm table-hover">
                                <tbody>
                                {{ macros.definition_row("ID", cell.id) }}
                                {{ macros.definition_row("RRID", macros.rrid_resolver(cell.rrid)) }}
                                {{ macros.definition_row_raw("Cellosaurus", _self.cellosauros_url(cell)) }}

                                {% if cell.parent %}
                                    {{ macros.definition_row("Parent", cell.parent.name, cell_macros.url_cell(cell.parent)) }}
                                {% else %}
                                    {{ macros.definition_row("Parent", "none") }}
                                {% endif %}

                                {% if cell.children|length > 0 %}
                                    <tr>
                                        <th scope="row">Children</th>
                                        <td>
                                            {{ macros.pillify(cell.children) }}
                                        </td>
                                    </tr>
                                {% else %}
                                    {{ macros.definition_row("Children", "none") }}
                                {% endif %}

                                {{ macros.definition_row("Organism", cell.organism ? cell.organism.fullName : "undefined") }}
                                {{ macros.definition_row("Tissue", cell.tissue ? cell.tissue.name : "undefined") }}
                                {{ macros.definition_row("Age", cell.age) }}
                                {{ macros.definition_row("Sex", cell.sex ?: "-") }}
                                {{ macros.definition_row("Ethnicity", cell.ethnicity ?: "-") }}
                                {{ macros.definition_row("Disease", cell.disease ?: "-") }}
                                {{ macros.definition_row("Morphology", cell.morphology ? cell.morphology.name : "undefined") }}
                                {{ macros.definition_row("Culture type", cell.cultureType) }}
                                {{ macros.definition_row("Cancer", cell.isCancer ? "Yes" : "No") }}
                                {{ macros.definition_row("Engineered", cell.isEngineered ? "Yes" : "No") }}
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Aliquot information #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Aliquot Overview", "AliquotOverview") }}

                        {% if aliquote %}
                            {{ layout.toolbox_card([
                                {
                                    "type": "add",
                                    "tooltipText": "Add cell aliquot",
                                    "target": url("app_cell_aliquot_add", {"cell": cell.cellNumber ?: cell.id })
                                },
                                {
                                    "type": "edit",
                                    "tooltipText": "Edit current aliquot",
                                    "target": url("app_cell_aliquot_edit", {"cell": cell.cellNumber ?: cell.id, "cellAliquot": aliquote.id})
                                },
                            ]) }}
                        {% else %}
                            {{ layout.toolbox_card([
                                {
                                    "type": "add",
                                    "tooltipText": "Add aliquot",
                                    "target": url("app_cell_aliquot_add", {"cell": cell.cellNumber ?: cell.id })
                                },
                            ]) }}
                        {% endif %}

                        {{ layout.card_body_collapse_start("AliquotOverview") }}
                            <div class="card-body px-lg-5">
                                {% if boxes|length == 0 %}
                                    <em>No aliquotes registered.</em>
                                {% else %}
                                    <div class="row row-cols-1 row-cols-xl-2">
                                        <div class="col">
                                            {% set found = null %}
                                            <nav>
                                                <div class="nav nav-tabs" id="box-tab-navigation" role="tablist">
                                                    {% for box in boxes %}
                                                        {% if aliquote %}
                                                            {% for a in boxAliquotes[box.id] %}
                                                                {% if a.id == aliquote.id %}
                                                                    {% set found = box %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% elseif loop.first %}
                                                            {% set found = box %}
                                                        {% endif %}


                                                        <a class="nav-item nav-link {{ found and found.id == box.id ? "active" : "" }}"
                                                           id="box-tab-{{ loop.index }}"
                                                           data-toggle="tab" href="#box-{{ loop.index }}" role="tab"
                                                           aria-controls="box-{{ loop.index }}" aria-selected="{{ found ? "true" : "false" }}"
                                                        >Box {{ loop.index }}</a>
                                                    {% endfor %}
                                                </div>
                                            </nav>

                                            <div class="tab-content border-light border border-top-0 p-5" id="box-tab-content">
                                                {% for box in boxes %}
                                                    <div class="px-lg-5 tab-pane fade {{ found and found.id == box.id ? "show active" : "" }}" id="box-{{ loop.index }}" role="tabpanel" aria-labelledby="box-tab-{{ loop.index }}">
                                                        <h6>{{ box.fullLocation }}</h6>

                                                        <div style="max-width: 20rem">
                                                            {{ macros.make_box(box, boxAliquotes[box.id], cell, aliquote) }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="col p-3">
                                            {% if aliquote %}
                                                <div class="full-width flex-fill p-3">
                                                    <table class="table w-100 table-borderless table-sm">
                                                        <tbody>
                                                        {{ macros.definition_row("Aliquoted on", aliquote.aliquotedOn ? aliquote.aliquotedOn|date("d. F Y") : "unknown") }}
                                                        {{ macros.definition_row("Aliquoted by", aliquote.aliquotedBy ? aliquote.aliquotedBy.fullName : "unknown") }}
                                                        {{ macros.definition_row("Mycoplasma", aliquote.mycoplasmaResult) }}
                                                        {{ macros.definition_row("Cryomedium", aliquote.cryoMedium ?? "unknown") }}
                                                        {{ macros.definition_row("Vial color", aliquote.vialColor ?? "unknown") }}

                                                        <tr>
                                                            <th>Vials left</th>
                                                            <td>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: {{ aliquote.vials/aliquote.maxVials*100 }}%;" aria-valuenow="{{ aliquote.vials }}" aria-valuemin="0" aria-valuemax="aliquote.maxVials">{{ aliquote.vials}}/{{ aliquote.maxVials }}</div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        {{ macros.definition_row("Cell count", "#{aliquote.cellCount} k") }}
                                                        {{ macros.definition_row("Passage", "p#{aliquote.passage}") }}
                                                        </tbody>
                                                    </table>

                                                    <div class="pb-3">
                                                        {% if aliquote.vials > 0 %}
                                                            <a href="{{ url("app_cell_consume_aliquote", {"aliquoteId": aliquote.id}) }}" class="btn btn-primary">Consume</a>
                                                        {% else %}
                                                            <em class="alert-warning">No aliquote left.</em>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">

                {# Origin #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Origin", "Origin") }}

                        {{ layout.card_body_collapse_start("Origin") }}
                        <div class="card-body">
                            <div>
                                {{ (cell.origin ?? "unknown")|raw }}

                                {{ cell.originComment }}
                            </div>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Acquisition #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Acquisition", "Acquisition") }}

                        {{ layout.card_body_collapse_start("Acquisition") }}
                        <div class="card-body">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                {% if cell.vendor and cell.vendorPn %}
                                    {{ macros.definition_row_raw("Vendor", macros.vendor_url(cell.vendor, cell.vendorPn)) }}
                                {% elseif cell.vendor and not cell.vendorPn %}
                                    {{ macros.definition_row("Vendor", cell.vendor) }}
                                {% else %}
                                    {{ macros.definition_row("Vendor", "unknown") }}
                                {% endif %}
                                {{ macros.definition_row("Price", cell.price ? "#{cell.price} CHF" : "???") }}
                                {{ macros.definition_row("Acquired by", cell.boughtBy ?  cell.boughtBy.fullName ? "unknown") }}
                                {{ macros.definition_row("Acquired on", cell.acquiredOn ? cell.acquiredOn|date("m. F Y") : "unknown") }}
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Cell culturing details #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Culturing", "Culturing") }}

                        {{ layout.card_body_collapse_start("Culturing") }}
                        <div class="card-body">
                            <table class="table table-sm table-borderless table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row">Growth medium</th>
                                        <td>{{ cell.medium | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Trypsin</th>
                                        <td>{{ cell.trypsin | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Culture conditions</th>
                                        <td>{{ cell.cultureConditions | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Splitting</th>
                                        <td>{{ cell.splitting | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Freezing</th>
                                        <td>{{ cell.freezing | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Thawing</th>
                                        <td>{{ cell.thawing | raw }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Experimental data #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Experimental", "Experimental") }}

                        {{ layout.card_body_collapse_start("Experimental") }}
                        <div class="card-body">
                            <table class="table table-sm table-borderless table-hover">
                                <tbody>
                                <tr>
                                    <th scope="row">Culturing</th>
                                    <td>{{ cell.seeding | raw }}</td>
                                </tr><tr>
                                    <th scope="row">Cell count at confluency</th>
                                    <td>{{ cell.countOnConfluence?cell.countOnConfluence|number_format:"no data" }}</td>
                                </tr><tr>
                                    <th scope="row">Lysis</th>
                                    <td>{{ cell.lysing | raw }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Associated proteins #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Associated Proteins", "AssociatedProteins") }}

                        {{ layout.card_body_collapse_start("AssociatedProteins") }}
                        <div class="card-body">
                            {% if cell.cellProteins|length == 0 %}
                                none
                            {% else %}
                                <table class="table table-sm table-borderless table-hover">
                                    <tbody>
                                    {% for cellProtein in cell.cellProteins %}
                                        <tr>
                                            <th scope="row">{{ cellProtein.associatedProtein }} <a href="{{ url("app_protein_view", {"proteinId": cellProtein.associatedProtein.ulid}) }}"><span class="fa fa-eye fa-sm"></span></a></th>
                                            <td>
                                                <div>{{ cellProtein.description }}</div>

                                                {% if cellProtein.detection %}
                                                    <dl>
                                                        {% for detection in cellProtein.detection %}
                                                            <dt class="{{ detection.isDetectable ? "text-success" : "text-danger"}}">{{ detection.method }}</dt>
                                                            <dd>{{ detection.comment }}</dd>
                                                        {% endfor %}
                                                    </dl>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Engineering #}
                {% if cell.isEngineered %}
                    <div class="col p-0 m-0 mb-3">
                        <div class="card mx-3 h-100">
                            {{ layout.card_header_collapse("Engineered", "Engineered") }}

                            {{ layout.card_body_collapse_start("Engineered") }}
                            <div class="card-body">
                                <p>Cells have been engineered by {{ cell.engineer ? cell.engineer.fullName : "whoever" }}.</p>

                                {% if cell.engineeringPlasmid %}
                                    <p><em>Plasmid information:</em> {{ cell.engineeringPlasmid}}.</p>
                                {% endif %}

                                {% if cell.engineeringDescription %}
                                    <div>
                                        {{ cell.engineeringDescription }}
                                    </div>
                                {% else %}
                                    <div class="text-muted">
                                        no further details have been given.
                                    </div>
                                {% endif %}
                            </div>
                            {{ layout.card_body_collapse_end() }}
                        </div>
                    </div>
                {% endif %}

                {# Aliquot information #}
                {% if aliquote %}
                    <div class="col p-0 m-0 mb-3">
                        <div class="card mx-3 h-100">
                            {{ layout.card_header_collapse("Aliquot details", "AliquotDetails") }}

                            {{ layout.card_body_collapse_start("AliquotDetails") }}
                            <div class="card-body">
                                <table class="table table-sm table-borderless table-hover">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Mycoplasma</th>
                                            <td>
                                                {% if aliquote.mycoplasmaResult == "unknown" %}
                                                    This aliquote has not yet been tested for macoplasma
                                                {% else %}
                                                    {% set strongColor = "black" %}
                                                    {% if aliquote.mycoplasmaResult == "positive" %}
                                                        {% set strongColor = "red" %}
                                                    {% elseif aliquote.mycoplasmaResult == "negative" %}
                                                        {% set strongColor = "green" %}
                                                    {% endif %}
                                                    <p class="mb-n1">
                                                        The aliquote was tested <strong style="color: {{ strongColor  }}">{{ aliquote.mycoplasmaResult }}</strong> by {{ aliquote.mycoplasmaTestedBy? aliquote.mycoplasmaTestedBy.fullName : "whoever" }}, {{ aliquote.mycoplasmaTestedOn ? (aliquote.mycoplasmaTestedOn|date("d. M. Y")) : "whenever" }}.
                                                    </p>

                                                    {% if aliquote.mycoplasma %}
                                                        <div class="mt-3">
                                                            {{ aliquote.mycoplasma|raw }}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr><tr>
                                            <th scope="row">Typing</th>
                                            <td>{{ aliquote.typing | raw }}</td>
                                        </tr><tr>
                                            <th scope="row">History</th>
                                            <td>{{ aliquote.history | raw }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {{ layout.card_body_collapse_end() }}
                        </div>
                    </div>
                {% endif %}

                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Aliquot list", "AliquotList") }}

                        {{ layout.card_body_collapse_start("AliquotList") }}
                        <div class="card-body px-lg-5">
                            <table class="table table-sm table-borderless table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 25px;"></th>
                                        <th>ID</th>
                                        <th>Passage</th>
                                        <th>Vials</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for aliquot in cell.cellAliquotes %}
                                        <tr>
                                            <td>
                                                {{ layout.toolbox_column([
                                                    {
                                                        "type": "view",
                                                        "tooltipText": "View aliquot",
                                                        "target": url("app_cell_aliquote_view", {"cellId": cell.cellNumber ?: cell.id, "aliquoteId": aliquot.id})
                                                    },
                                                    {
                                                        "type": "edit",
                                                        "tooltipText": "Edit aliquot",
                                                        "target": url("app_cell_aliquot_edit", {"cell": cell.cellNumber ?: cell.id, "cellAliquot": aliquot.id})
                                                    },
                                                ]) }}
                                            </td>
                                            <td>{{ aliquot.id }}</td>
                                            <td>{{ aliquot.passage }}</td>
                                            <td>{{ aliquot.vials }}/{{ aliquot.maxVials }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {{ attachments(cell.attachments) }}
            </div>
        </div>
    </div>
{% endblock %}