{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'parts/cells/cell_macros.html.twig' as cell_macros %}
{% import 'utility/icons.html.twig' as icon %}
{% from 'utility/attachments.html.twig' import attachments %}

{% block title %}Gin :: Cell :: {{ cell.cellNumber ~ " -" ~ cell.name }}{% endblock %}

{% macro tab_item(name, id, tabid, active=false, enabled=true) %}
    <a class="nav-link {{ active?"active":"" }} {{ enabled ? "" : "disabled" }}" id="{{ id }}" data-toggle="pill" href="#{{ tabid }}" role="tab" aria-controls="{{ tabid }}" aria-selected="{{ active?"true":"false" }}">{{ name }}</a>
{% endmacro %}

{% macro simple_tab_content(name, content, comment=null) %}
    <div class="col-4 mb-3 pb-3">
        <h4 class="bg-secondary p-2 mb-n1 border-secondary border">{{ name }}</h4>
        <div class="p-2 pt-3 border-secondary border">
            {{ (content ?? "unknown")|raw }}

            {% if comment %}
                <p class="text-muted mt-3 mb-n1">{{ comment }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro aliquot_list(cell) %}
    <div class="card-body px-lg-5">
        <table class="table table-sm table-borderless table-hover">
            <thead>
            <tr>
                <th scope="col" style="width: 25px;"></th>
                <th>ID</th>
                <th>Passage</th>
                <th>Vials</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            {% for aliquot in cell.cellAliquotes %}
                <tr>
                    <td>
                        {{ layout.toolbox_column([
                            {
                                "type": "view",
                                "tooltipText": "View aliquot",
                                "target": url("app_cell_aliquote_view_number", {"cellNumber": cell.cellNumber ?: cell.id, "aliquoteId": aliquot.id}),
                                "disabled": not is_granted("view", aliquot),
                            },
                            {
                                "type": "edit",
                                "tooltipText": "Edit aliquot",
                                "target": url("app_cell_aliquot_edit", {"cell": cell.cellNumber ?: cell.id, "cellAliquot": aliquot.id}),
                                "disabled": not is_granted("edit", aliquot),
                            },
                        ]) }}
                    </td>
                    <td>{{ aliquot.id }}</td>
                    <td>{{ aliquot.passage }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar"
                                 aria-valuemin="0"
                                 aria-valuemax="{{ aliquot.maxVials }}"
                                 aria-valuenow="{{ aliquot.vials }}"
                                 style="width: {{ (aliquot.vials/(aliquot.maxVials ?? aliquot.vials)*100)|round(0) }}%"
                            >
                                {{ aliquot.vials }}/{{ aliquot.maxVials ?? aliquot.vials }}
                            </div>
                        </div>
                    </td>
                    <td>{{ aliquot.owner.fullName ?? "none" }} {{ "(" ~ (aliquot.group.shortName??"none")~ ")" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro toolbox(cell) %}
    {% set tools = [
        {
            "type": "up",
            "target": cell.cellGroup ? url("app_cells_group", {"cellGroup": cell.cellGroup.id}) : url("app_cells"),
            "tooltipText": "Back to cell overview",
        },
        {
            "type": "clipboard",
            "tooltipText": "Copy information",
            "clipboardText": ( cell.name ~ "(" ~ (cell.rrid ? "RRID:" ~ cell.rrid : "") ~ ")"),
        },
    ] %}

    {% if is_granted("ROLE_USER") %}
        {% set tools = tools|merge([
            {
                "type": "edit",
                "tooltipText": "Edit cell",
                "target": url("app_cell_edit", {"cell": cell.cellNumber ?: cell.id }),
                "disabled": is_granted("edit", cell) ? false : true,
            },
            {
                "type": "add",
                "tooltipText": "Add cell aliquot",
                "target": url("app_cell_aliquot_add", {"cell": cell.cellNumber ?: cell.id }),
                "disabled": is_granted("add_aliquot", cell) ? false : true,
            }
        ]) %}
    {% endif %}

    {{ layout.toolbox(tools) }}
{% endmacro %}

{% block body_main %}
    {% set columnClasses = "col-md-6 col-lg-4 col-xl-4 px-3 mb-3 border-light border-bottom" %}
    {% set displayed_box = false %}


    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header(cell.cellNumber ~ " -" ~ cell.name, false, true, icon.cell(true)) }}

            {{ _self.toolbox(cell) }}

            <div class="row row-cols-1 row-cols-lg-2">
                {# Cell metadata #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Details", "Details") }}

                        {{ layout.card_body_collapse_start("Details") }}
                        <div class="card-body px-lg-5">
                            <table class="table w-100 table-borderless table-sm table-hover">
                                <tbody>
                                {{ macros.definition_row("ID", cell.id) }}
                                {{ macros.definition_row("Group", cell.cellGroup) }}
                                {{ macros.definition_row("RRID", macros.rrid_resolver(cell.rrid)) }}
                                {{ macros.definition_row_raw("Cellosaurus", cell_macros.cellosauros_url(cell)) }}

                                {% if cell.parent %}
                                    {{ macros.definition_row("Parent", cell.parent.name, cell_macros.url_cell(cell.parent)) }}
                                {% else %}
                                    {{ macros.definition_row("Parent", "none") }}
                                {% endif %}

                                {% if cell.children|length > 0 %}
                                    <tr>
                                        <th scope="row">Children</th>
                                        <td>
                                            {{ macros.pillify(cell.children) }}
                                        </td>
                                    </tr>
                                {% else %}
                                    {{ macros.definition_row("Children", "none") }}
                                {% endif %}

                                {{ macros.definition_row("Organism", cell.organism ? cell.organism.fullName : "undefined") }}
                                {{ macros.definition_row("Tissue", cell.tissue ? cell.tissue.name : "undefined") }}
                                {{ macros.definition_row("Age", cell.age) }}
                                {{ macros.definition_row("Sex", cell.sex ?: "-") }}
                                {{ macros.definition_row("Ethnicity", cell.ethnicity ?: "-") }}
                                {{ macros.definition_row("Disease", cell.disease ?: "-") }}
                                {{ macros.definition_row("Morphology", cell.morphology ? cell.morphology.name : "undefined") }}
                                {{ macros.definition_row("Culture type", cell.cultureType) }}
                                {{ macros.definition_row("Cancer", cell.isCancer ? "Yes" : "No") }}
                                {{ macros.definition_row("Engineered", cell.isEngineered ? "Yes" : "No") }}
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Aliquot information #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100 {{ boxes|length == 0 ? "border-danger" : "" }}">
                        {{ layout.card_header_collapse("Aliquot Overview", "AliquotOverview") }}

                        {{ layout.card_body_collapse_start("AliquotOverview") }}

                        {% if aliquote and is_granted("ROLE_USER") %}
                            {{ layout.toolbox_card([
                                {
                                    "type": "add",
                                    "tooltipText": "Add cell aliquot",
                                    "target": url("app_cell_aliquot_add", {"cell": cell.cellNumber ?: cell.id }),
                                    "disabled": not is_granted("add_aliquot", cell),
                                },
                                {
                                    "type": "edit",
                                    "tooltipText": "Edit current aliquot",
                                    "target": url("app_cell_aliquot_edit", {"cell": cell.cellNumber ?: cell.id, "cellAliquot": aliquote.id}),
                                    "disabled": not is_granted("edit", aliquote)
                                },
                                {
                                    "type": "other",
                                    "text": "Consume #" ~ aliquote.id,
                                    "tooltipText": aliquote.vials > 0 ? "Consume one aliquot" : "No aliquots left to consume.",
                                    "disabled": is_granted("consume", aliquote) ? false : (aliquote.vials > 0 ? false : true),
                                    "target": url("app_cell_consume_aliquote", {"aliquoteId": aliquote.id})
                                }
                            ]) }}
                        {% elseif is_granted("ROLE_USER") %}
                            {{ layout.toolbox_card([
                                {
                                    "type": "add",
                                    "tooltipText": "Add aliquot",
                                    "target": url("app_cell_aliquot_add", {"cell": cell.cellNumber ?: cell.id }),
                                    "disabled": not is_granted("add_aliquot", cell),
                                },
                            ]) }}
                        {% endif %}

                        <div class="card-body p-0 pt-2">
                            {% if boxes|length == 0 %}
                                <div class="px-5">
                                    <em>No aliquots registered.</em>
                                </div>
                            {% else %}
                                {% set found = null %}
                                {% set displayed_box = false %}
                                {% for boxMap in boxMaps %}
                                    {% if boxMap.count > 0 %}
                                        {% set displayed_box = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if displayed_box %}
                                    <nav>
                                        <div class="nav nav-tabs" id="box-tab-navigation" role="tablist">
                                            {% for box in boxes %}
                                                {% if aliquote and boxAliquotes[box.ulid.toBase58] is defined %}
                                                    {% for a in boxAliquotes[box.ulid.toBase58] %}
                                                        {% if a.id == aliquote.id %}
                                                            {% set found = box %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elseif loop.first %}
                                                    {% set found = box %}
                                                {% endif %}

                                                {% if boxMaps[box.ulid.toBase58].count > 0 %}
                                                    <a class="nav-item nav-link {{ found and found.ulid.toBase58 == box.ulid.toBase58 ? "active" : "" }}"
                                                       id="box-tab-{{ loop.index }}"
                                                       data-bs-toggle="tab" href="#box-{{ loop.index }}" role="tab"
                                                       aria-controls="box-{{ loop.index }}" aria-selected="{{ found ? "true" : "false" }}"
                                                    >Box {{ loop.index }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </nav>
                                {% endif %}

                                {% if not displayed_box %}
                                    <div class="p-3">
                                        {{ _self.aliquot_list(cell) }}
                                    </div>
                                {% else %}
                                    <div class="tab-content border-light border border-top-0 p-3" id="box-tab-content">
                                        {% for box in boxes %}
                                            {% if boxMaps[box.ulid.toBase58].count > 0 %}
                                                <div class="tab-pane fade {{ found and found.ulid.toBase58 == box.ulid.toBase58 ? "show active" : "" }}" id="box-{{ loop.index }}" role="tabpanel" aria-labelledby="box-tab-{{ loop.index }}">
                                                    <h6>{{ box.fullLocation }}</h6>

                                                    <!--<div style="max-width: 20rem">
                                                    {{ box }}
                                                    {# {{ macros.make_box(box, boxAliquotes[box.ulid.toBase58] is defined ? boxAliquotes[box.ulid.toBase58] : null, cell, aliquote) }} #}
                                                </div>-->

                                                    <div class="mx-0"
                                                            {% if aliquote %}
                                                                {{ stimulus_controller("box", {
                                                                    boxMap: boxMaps[box.ulid.toBase58],
                                                                    substanceTarget: url("app_substance_view", {"substance": "placeholder-substance-id"}),
                                                                    cellTarget: url("app_cell_aliquote_view_number", {"cellNumber": "placeholder-cell-numer", "aliquoteId": "placeholder-aliquot-id"}),
                                                                    currentAliquot: aliquote|json_encode,
                                                                }) }}
                                                            {% else %}
                                                                {{ stimulus_controller("box", {
                                                                    boxMap: boxMaps[box.ulid.toBase58],
                                                                    substanceTarget: url("app_substance_view", {"substance": "placeholder-substance-id"}),
                                                                    cellTarget: url("app_cell_aliquote_view_number", {"cellNumber": "placeholder-cell-numer", "aliquoteId": "placeholder-aliquot-id"}),
                                                                }) }}
                                                            {% endif %}
                                                    >
                                                        <div class="row row-cols-1 row-cols-lg-2">
                                                            <div class="col">
                                                                <div class="text-muted mb-3">Ctrl+Click to access the entry directly. On smartphones, try a long press instead.</div>
                                                                <div {{ stimulus_target("box", "boxMap") }} class="text-center"></div>
                                                            </div>
                                                            <div class="col mb-5" {{ stimulus_target("box", "boxMapContent") }}>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>

                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">

                {# Origin #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Origin", "Origin") }}

                        {{ layout.card_body_collapse_start("Origin") }}
                        <div class="card-body">
                            <div>
                                {{ (cell.origin ?? "unknown")|raw }}

                                {{ cell.originComment|raw }}
                            </div>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Acquisition #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Acquisition", "Acquisition") }}

                        {{ layout.card_body_collapse_start("Acquisition") }}
                        <div class="card-body">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                {% if cell.vendor and cell.vendorPn %}
                                    {{ macros.definition_row_raw("Vendor", macros.vendor_url(cell.vendor, cell.vendorPn)) }}
                                {% elseif cell.vendor and not cell.vendorPn %}
                                    {{ macros.definition_row("Vendor", cell.vendor) }}
                                {% else %}
                                    {{ macros.definition_row("Vendor", "unknown") }}
                                {% endif %}
                                {{ macros.definition_row(
                                    "Price",
                                    cell.price.priceValue is same as(null)
                                        ? 'unknown'
                                        : (cell.price.priceValue > 0
                                            ? "#{cell.price.priceValue/1000} #{cell.price.priceCurrency}"
                                            : "free"
                                        )
                                ) }}
                                {{ macros.definition_row("Acquired by", cell.boughtBy ?  cell.boughtBy.fullName : "unknown") }}
                                {{ macros.definition_row("Acquired on", cell.acquiredOn ? cell.acquiredOn|date("m. F Y") : "unknown") }}
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Cell culturing details #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Culturing", "Culturing") }}

                        {{ layout.card_body_collapse_start("Culturing") }}
                        <div class="card-body">
                            <table class="table table-sm table-borderless table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row">Growth medium</th>
                                        <td>{{ cell.medium | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Trypsin</th>
                                        <td>{{ cell.trypsin | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Culture conditions</th>
                                        <td>{{ cell.cultureConditions | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Splitting</th>
                                        <td>{{ cell.splitting | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Freezing</th>
                                        <td>{{ cell.freezing | raw }}</td>
                                    </tr><tr>
                                        <th scope="row">Thawing</th>
                                        <td>{{ cell.thawing | raw }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Experimental data #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Experimental", "Experimental") }}

                        {{ layout.card_body_collapse_start("Experimental") }}
                        <div class="card-body">
                            <table class="table table-sm table-borderless table-hover">
                                <tbody>
                                <tr>
                                    <th scope="row">Culturing</th>
                                    <td>{{ cell.seeding | raw }}</td>
                                </tr><tr>
                                    <th scope="row">Cell count at confluency</th>
                                    <td>{{ cell.countOnConfluence?cell.countOnConfluence|number_format:"no data" }}</td>
                                </tr><tr>
                                    <th scope="row">Lysis</th>
                                    <td>{{ cell.lysing | raw }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Associated proteins #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Associated Proteins", "AssociatedProteins") }}

                        {{ layout.card_body_collapse_start("AssociatedProteins") }}
                        <div class="card-body">
                            {% if cell.cellProteins|length == 0 %}
                                none
                            {% else %}
                                <table class="table table-sm table-borderless table-hover">
                                    <tbody>
                                    {% for cellProtein in cell.cellProteins %}
                                        <tr>
                                            <th scope="row">{{ cellProtein.associatedProtein }} <a href="{{ url("app_protein_view", {"proteinId": cellProtein.associatedProtein.ulid}) }}"><span class="fa fa-eye fa-sm"></span></a></th>
                                            <td>
                                                <div>{{ cellProtein.description }}</div>

                                                {% if cellProtein.detection %}
                                                    <dl>
                                                        {% for detection in cellProtein.detection %}
                                                            <dt class="{{ detection.isDetectable ? "text-success" : "text-danger"}}">{{ detection.method }}</dt>
                                                            <dd>{{ detection.comment }}</dd>
                                                        {% endfor %}
                                                    </dl>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Engineering #}
                {% if cell.isEngineered %}
                    <div class="col p-0 m-0 mb-3">
                        <div class="card mx-3 h-100">
                            {{ layout.card_header_collapse("Engineered", "Engineered") }}

                            {{ layout.card_body_collapse_start("Engineered") }}
                            <div class="card-body">
                                {% if cell.engineer %}
                                    <p>Cells have been engineered by {{ cell.engineer ? cell.engineer.fullName : "whoever" }}.</p>
                                {% else %}
                                    <p>Cells have been engineered.</p>
                                {% endif %}

                                {% if cell.engineeringPlasmid %}
                                    <p><em>Engineered with</em> {{ macros.pillify([cell.engineeringPlasmid]) }}</p>
                                {% endif %}

                                {% if cell.engineeringDescription %}
                                    <div>
                                        {{ cell.engineeringDescription|raw }}
                                    </div>
                                {% else %}
                                    <div class="text-muted">
                                        no further details have been given.
                                    </div>
                                {% endif %}
                            </div>
                            {{ layout.card_body_collapse_end() }}
                        </div>
                    </div>
                {% endif %}

                {# Aliquot information #}
                {% if aliquote %}
                    <div class="col p-0 m-0 mb-3">
                        <div class="card mx-3 h-100">
                            {{ layout.card_header_collapse("Aliquot details", "AliquotDetails") }}

                            {{ layout.card_body_collapse_start("AliquotDetails") }}
                            <div class="card-body">
                                <table class="table table-sm table-borderless table-hover">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Mycoplasma</th>
                                            <td>
                                                {% if aliquote.mycoplasmaResult == "unknown" %}
                                                    This aliquot has not yet been tested for macoplasma
                                                {% else %}
                                                    {% set strongColor = "black" %}
                                                    {% if aliquote.mycoplasmaResult == "positive" %}
                                                        {% set strongColor = "red" %}
                                                    {% elseif aliquote.mycoplasmaResult == "negative" %}
                                                        {% set strongColor = "green" %}
                                                    {% endif %}
                                                    <p class="mb-n1">
                                                        The aliquot was tested <strong style="color: {{ strongColor  }}">{{ aliquote.mycoplasmaResult }}</strong> by {{ aliquote.mycoplasmaTestedBy? aliquote.mycoplasmaTestedBy.fullName : "whoever" }}, {{ aliquote.mycoplasmaTestedOn ? (aliquote.mycoplasmaTestedOn|date("d. M. Y")) : "whenever" }}.
                                                    </p>

                                                    {% if aliquote.mycoplasma %}
                                                        <div class="mt-3">
                                                            {{ aliquote.mycoplasma|raw }}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr><tr>
                                            <th scope="row">Typing</th>
                                            <td>{{ aliquote.typing | raw }}</td>
                                        </tr><tr>
                                            <th scope="row">History</th>
                                            <td>{{ aliquote.history | raw }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {{ layout.card_body_collapse_end() }}
                        </div>
                    </div>
                {% endif %}

                {% if displayed_box %}
                    <div class="col p-0 m-0 mb-3">
                        <div class="card mx-3 h-100">
                            {{ layout.card_header_collapse("Aliquot list", "AliquotList") }}

                            {{ layout.card_body_collapse_start("AliquotList") }}
                            {{ _self.aliquot_list(cell) }}
                            {{ layout.card_body_collapse_end() }}
                        </div>
                    </div>
                {% endif %}

                {{ attachments(cell.attachments) }}
            </div>
        </div>
    </div>
{% endblock %}