{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'parts/cells/cell_culture_macros.html.twig' as cell_culture_macros %}

{% block title %}Gin :: Cell Culture :: {{ culture.name }}{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header(culture.name) }}

            {{ layout.toolbox([
                {
                    "type": "up",
                    "target": url("app_cell_cultures"),
                    "tooltipText": "Back to all cell cultures",
                }, {
                    "type": "edit",
                    "target": url("app_cell_culture_edit", {"cellCulture": culture.id, "redirect": "cellCulture"}),
                    "tooltipText": "Edit culture",
                }, {
                    "btnClass": "btn-secondary",
                    "iconClass": "fas fa-tag",
                    "disabled": culture.trashedOn ? true : false,
                    "tooltipText": "Add new event",
                    "target": url("app_cell_culture_create_event", {"cellCulture": culture.id, "eventType": "other", "redirect": "cellCulture"}),
                }, {
                    "btnClass": "btn-secondary",
                    "iconClass": "fas fa-hospital-symbol",
                    "disabled": culture.trashedOn ? true : false,
                    "tooltipText": "Add new mycoplasma test",
                    "target": url("app_cell_culture_create_event", {"cellCulture": culture.id, "eventType": "test", "redirect": "cellCulture"}),
                }, {
                    "btnClass": "btn-secondary",
                    "iconClass": "fas fa-fill-drip",
                    "disabled": culture.trashedOn ? true : false,
                    "tooltipText": "Add new splitting event",
                    "target": url("app_cell_culture_create_event", {"cellCulture": culture.id, "eventType": "split", "redirect": "cellCulture"}),
                }, {
                    "type": culture.trashedOn ? "restore" : "trash",
                    "target": culture.trashedOn ? url("app_cell_culture_restore", {"cellCulture": culture.id, "redirect": "cellCulture"}) : url("app_cell_culture_trash", {"cellCulture": culture.id, "redirect": "cellCulture"}),
                    "tooltipText": culture.trashedOn ? "Restore culture" : "Trash culture",
                }
            ]) }}

            <div class="row">
                <div class="col p-0 m-0">
                    <div class="bg-white mx-3 mb-3 border py-2 px-3 px-lg-5 overflow-auto">
                        <div id="cellCultureChart" style="position: relative;"></div>
                        <div id="cellCultureChartEventInfo" style="color: black; background: whitesmoke; font-size: 10px; width: 150px; position: absolute; display: none; padding: 3px 6px; margin-left: -80px;"></div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-lg-2">
                {# Details #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Details", "Details") }}

                        {{ layout.card_body_collapse_start("Details") }}
                        <div class="card-body">
                            <table class="table table-sm table-borderless table-hover">
                                <tbody>
                                {{ macros.definition_row("ID", culture.id) }}
                                {{ macros.definition_row("No", culture.number) }}
                                {{ macros.definition_row("Scientist", culture.owner) }}
                                {{ macros.definition_row("Created on", culture.unfrozenOn|date("d. F Y")) }}
                                {{ macros.definition_row("Trashed on", (culture.trashedOn ? culture.trashedOn|date("d. F Y") : "-")) }}

                                {% if culture.aliquot %}
                                    {{ macros.definition_row("Aliquot", culture.aliquot, url("app_cell_aliquote_view_number", {"cellNumber": culture.aliquot.cell.cellNumber, "aliquoteId": culture.aliquot.id}) ) }}
                                {% else %}
                                    {{ macros.definition_row("Ancestor culture", culture.parentCellCulture.name, url("app_cell_culture_view", {"cellCulture": culture.parentCellCulture.id})) }}
                                {% endif %}

                                <tr>
                                    <th>Descendents</th>
                                    <td>
                                        {% if culture.subCellCultures|length > 0 %}
                                            {% for subculture in culture.subCellCultures %}
                                                <a href="{{ url("app_cell_culture_view", {"cellCulture": subculture.id}) }}">{{ subculture.name }}</a>{% if culture != loop.last %},{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>

                </div>

                {# List of events #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Events", "Events") }}

                        {{ layout.card_body_collapse_start("Events") }}
                        <div class="card-body">
                            <table class="table table-sm table-borderless table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 80px">
                                        <div class="btn-group btn-group-sm" role="group" style="visibility: hidden;">
                                    <span
                                            class="btn btn-primary"
                                    ><span class="fas fa-fw fa-edit"></span></span>

                                            <span
                                                    class="btn btn-warning"
                                            ><span class="fas fa-fw fa-trash-alt"></span></span>
                                        </div>
                                    </th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th class="d-none d-lg-table-cell" >Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in culture.events %}
                                    <tr>
                                        <td>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <a
                                                        class="btn btn-primary {{ culture.trashedOn ? "disabled" : "" }}"
                                                        href="{{ url("app_cell_culture_edit_event", {"cellCulture": culture.id, "cellCultureEvent": event.id, "redirect": "cellCulture"}) }}"
                                                        data-toggle="tooltip" data-placement="bottom" title="Edit event"
                                                ><span class="fas fa-fw fa-edit"></span></a>

                                                <a
                                                        class="btn btn-warning {{ culture.trashedOn ? "disabled" : "" }}"
                                                        href="{{ url("app_cell_culture_trash_event", {"cellCulture": culture.id, "cellCultureEvent": event.id, "redirect": "cellCulture"}) }}"
                                                        data-toggle="tooltip" data-placement="bottom" title="Trash event"
                                                ><span class="fas fa-fw fa-trash-alt"></span></a>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="d-md-none">{{ event.date|date("d.m.Y") }}</span>
                                            <span class="d-none d-md-inline">{{ event.date|date("d. F Y") }}</span>
                                        </td>
                                        <td>{{ event.shortName }}</td>
                                        <td class="d-none d-lg-table-cell" >{{ event is cellCultureTestEvent ? "Mycoplasma test" : event is cellCultureSplittingEvent ? "Splitting" : "Other" }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_bottom %}
    {{ cell_culture_macros.culture_timeline([culture], startDate, endDate, 20) }}
{% endblock %}