{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'parts/cells/cell_macros.html.twig' as cell_macros %}

{% block title %}Cell Genie: Cells{% endblock %}

{% macro tab_item(name, id, tabid, active=false, enabled=true) %}
    <a class="nav-link {{ active?"active":"" }} {{ enabled ? "" : "disabled" }}" id="{{ id }}" data-toggle="pill" href="#{{ tabid }}" role="tab" aria-controls="{{ tabid }}" aria-selected="{{ active?"true":"false" }}">{{ name }}</a>
{% endmacro %}

{% macro simple_tab_content(name, content, comment=null) %}
    <div class="col-4 mb-3 pb-3">
        <h4 class="bg-secondary p-2 mb-n1 border-secondary border">{{ name }}</h4>
        <div class="p-2 pt-3 border-secondary border">
            {{ (content ?? "unknown")|raw }}

            {% if comment %}
                <p class="text-muted mt-3 mb-n1">{{ comment }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro cellosauros_url(cell) %}
    {% if cell.cellosaurusId %}
        {% set database = "https://web.expasy.org/cellosaurus/" ~ cell.cellosaurusId %}
        <a href="{{ database }}">{{ cell.name }} ({{ cell.cellosaurusId }}) <span class="fa fa-external-link-alt"></span></a>
    {% else %}
        -
    {% endif %}
{% endmacro %}

{% block body_main %}
    {% set columnClasses = "col-md-6 col-lg-4 col-xl-4 px-3 mb-3 border-light border-bottom" %}

    <div class="row p-3">
        <div class="col col-12 p-5 bg-white mb-3 border">
            <div class="row">
                <h1>
                    {{ cell.cellNumber }} - {{ cell.name }}
                    <a
                            data-clipboard-text="{{ cell.name }} ({{ cell.rrid ? "RRID:" ~ cell.rrid : "" }})"
                            class="btn-clipboard far fa-clipboard small"
                            role="button"
                    ></a>
                </h1>
            </div>
        </div>

        <div class="col col-12 mb-3">
            <div class="row row-cols-2">
                <div class="col">
                    <div class="bg-white border p-5 mr-1 ml-n3 h-100">
                        <table class="table w-100 table-borderless table-sm">
                            <tbody>
                                {{ macros.definition_row("ID", cell.id) }}
                                {{ macros.definition_row("RRID", macros.rrid_resolver(cell.rrid)) }}
                                {{ macros.definition_row_raw("Cellosaurus", _self.cellosauros_url(cell)) }}

                                {% if cell.parent %}
                                    {{ macros.definition_row("Parent", cell.parent.name, cell_macros.url_cell(cell.parent)) }}
                                {% else %}
                                    {{ macros.definition_row("Parent", "none") }}
                                {% endif %}

                                {% if cell.children|length > 0 %}
                                    <tr>
                                        <th>Children</th>
                                        <td>
                                            {% for child in cell.children %}
                                                {% set childUrl = cell_macros.url_cell(child) %}

                                                <a class='badge rounded-pill bg-primary text-light' href='{{ childUrl }}'>{{ child.name }}</a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% else %}
                                    {{ macros.definition_row("Children", "none") }}
                                {% endif %}

                                {{ macros.definition_row("Organism", cell.organism ? cell.organism.fullName : "undefined") }}
                                {{ macros.definition_row("Tissue", cell.tissue ? cell.tissue.name : "undefined") }}
                                {{ macros.definition_row("Age", cell.age) }}
                                {{ macros.definition_row("Sex", cell.sex ?: "-") }}
                                {{ macros.definition_row("Ethnicity", cell.ethnicity ?: "-") }}
                                {{ macros.definition_row("Disease", cell.disease ?: "-") }}
                                {{ macros.definition_row("Morphology", cell.morphology ? cell.morphology.name : "undefined") }}
                                {{ macros.definition_row("Culture type", cell.cultureType) }}
                                {{ macros.definition_row("Cancer", cell.isCancer ? "Yes" : "No") }}
                                {{ macros.definition_row("Engineered", cell.isEngineered ? "Yes" : "No") }}
                            </tbody>
                        </table>
                    </div>

                    {# <dl class="row bg-white border p-5 mr-1 h-100">


                    </dl> #}
                </div>

                <div class="col">
                    <div class="bg-white border p-5 ml-1 mr-n3 h-100">
                        {% if boxes|length == 0 %}
                            <em>No aliquotes registered.</em>
                        {% else %}
                            <div class="row">
                                <div class="col">
                                    {% set found = null %}
                                    <nav>
                                        <div class="nav nav-tabs" id="box-tab-navigation" role="tablist">
                                            {% for box in boxes %}
                                                {% if aliquote %}
                                                    {% for a in boxAliquotes[box.id] %}
                                                        {% if a.id == aliquote.id %}
                                                            {% set found = box %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elseif loop.first %}
                                                    {% set found = box %}
                                                {% endif %}


                                                <a class="nav-item nav-link {{ found and found.id == box.id ? "active" : "" }}"
                                                   id="box-tab-{{ loop.index }}"
                                                   data-toggle="tab" href="#box-{{ loop.index }}" role="tab"
                                                   aria-controls="box-{{ loop.index }}" aria-selected="{{ found ? "true" : "false" }}"
                                                >Box {{ loop.index }}</a>
                                            {% endfor %}
                                        </div>
                                    </nav>

                                    <div class="tab-content border-light border border-top-0 p-5" id="box-tab-content">
                                        {% for box in boxes %}
                                            <div class="tab-pane fade {{ found and found.id == box.id ? "show active" : "" }}" id="box-{{ loop.index }}" role="tabpanel" aria-labelledby="box-tab-{{ loop.index }}">
                                                <h6>{{ box.fullLocation }}</h6>
                                                {{ macros.make_box(box, boxAliquotes[box.id], cell, aliquote) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col p-3">
                                {% if aliquote %}
                                        <div class="full-width flex-fill p-3">
                                            <h3>Aliquote details</h3>

                                            <table class="table w-100 table-borderless table-sm">
                                                <tbody>
                                                    {{ macros.definition_row("Aliquoted on", aliquote.aliquotedOn ? aliquote.aliquotedOn|date("d. F Y") : "unknown") }}
                                                    {{ macros.definition_row("Aliquoted by", aliquote.aliquotedBy ? aliquote.aliquotedBy.fullName : "unknown") }}
                                                    {{ macros.definition_row("Mycoplasma", aliquote.mycoplasmaResult) }}
                                                    {{ macros.definition_row("Cryomedium", aliquote.cryoMedium ?? "unknown") }}
                                                    {{ macros.definition_row("Vial color", aliquote.vialColor ?? "unknown") }}
                                                    {{ macros.definition_row("Vials left", aliquote.vials) }}
                                                    {{ macros.definition_row("Cell count", "#{aliquote.cellCount} k") }}
                                                    {{ macros.definition_row("Passage", "p#{aliquote.passage}") }}
                                                </tbody>
                                            </table>

                                            <div class="pb-3">
                                                {% if aliquote.vials > 0 %}
                                                    <a href="{{ url("app_cell_consume_aliquote", {"aliquoteId": aliquote.id}) }}" class="btn btn-primary">Consume</a>
                                                {% else %}
                                                    <em class="alert-warning">No aliquote left.</em>
                                                {% endif %}
                                            </div>
                                        </div>
                                {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-12 mb-3">
            <div class="row bg-white p-5 border">
                <div class="col-3 col-xl-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {{ _self.tab_item("Origin", "cell-info-origin", "cell-info-origin-content", true) }}
                        {{ _self.tab_item("Culturing", "cell-info-culturing", "cell-info-culturing-content") }}
                        {{ _self.tab_item("Experiments", "cell-info-experiments", "cell-info-experiments-content") }}
                        {% if cell.isEngineered %}
                            {{ _self.tab_item("Engineering", "cell-info-engineering", "cell-info-engineering-content") }}
                        {% endif %}
                        {{ _self.tab_item("Aliquote testing", "cell-info-aliquotes", "cell-info-aliquotes-content", false, aliquote?true:false) }}
                        {{ _self.tab_item("Attachments", "cell-info-attachments", "cell-info-attachments-content", false, cell.attachments|length > 0?true:false) }}
                    </div>
                </div>

                <div class="col-9 col-xl-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        {# Cell origin #}
                        <div class="tab-pane fade show active" id="cell-info-origin-content" role="tabpanel" aria-labelledby="cell-info-origin">
                            <div class="row">
                                <div class="col-4">
                                    <h4 class="bg-secondary p-2 mb-n1 border-secondary border">Origin</h4>
                                    <div class="p-2 pt-3 border-secondary border">
                                        {{ (cell.origin ?? "unknown")|raw }}
                                    </div>
                                </div>

                                <div class="col-4">
                                    <h4 class="bg-secondary p-2 mb-n1 border-secondary border">Acquisition</h4>
                                    <div class="p-2 pt-3 border-secondary border">
                                        <table class="table table-sm table-borderless">
                                            <tbody>
                                                {% if cell.vendor and cell.vendorPn %}
                                                    {{ macros.definition_row_raw("Vendor", macros.vendor_url(cell.vendor, cell.vendorPn)) }}
                                                {% elseif cell.vendor and not cell.vendorPn %}
                                                    {{ macros.definition_row("Vendor", cell.vendor) }}
                                                {% else %}
                                                    {{ macros.definition_row("Vendor", "unknown") }}
                                                {% endif %}
                                                {{ macros.definition_row("Price", cell.price ? "#{cell.price} CHF" : "???") }}
                                                {{ macros.definition_row("Acquired by", cell.boughtBy ?  cell.boughtBy.fullName ? "unknown") }}
                                                {{ macros.definition_row("Acquired on", cell.acquiredOn ? cell.acquiredOn|date("m. F Y") : "unknown") }}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                {% if cell.originComment %}
                                    {{ _self.simple_tab_content("Comment", cell.originComment) }}
                                {% endif %}
                            </div>
                        </div>

                        {# Cell culturing details #}
                        <div class="tab-pane fade" id="cell-info-culturing-content" role="tabpanel" aria-labelledby="cell-info-culturing">
                            <div class="row">
                                {{ _self.simple_tab_content("Growth medium", cell.medium) }}
                                {{ _self.simple_tab_content("Trypsin", cell.trypsin) }}
                                {{ _self.simple_tab_content("Culture conditions", cell.cultureConditions) }}
                                {{ _self.simple_tab_content("Splitting", cell.splitting) }}
                                {{ _self.simple_tab_content("Freezing", cell.freezing) }}
                                {{ _self.simple_tab_content("Thawing", cell.thawing) }}
                            </div>
                        </div>

                        <div class="tab-pane fade" id="cell-info-experiments-content" role="tabpanel" aria-labelledby="cell-info-experiments">
                            <div class="row">
                                {{ _self.simple_tab_content("Seeding", cell.seeding, cell.countOnConfluence?("Cell count at confluency: " ~ cell.countOnConfluence|number_format):null) }}
                                {{ _self.simple_tab_content("Lysis", cell.lysing) }}

                                {# List of proteins #}
                                <div class="col-4 mb-3">
                                    <h4 class="bg-secondary p-2 mb-n1 border-secondary border">Associated proteins</h4>
                                    <div class="p-2 pt-3 border-secondary border">
                                        {% if cell.cellProteins|length == 0 %}
                                            none
                                        {% else %}
                                            {% for cellProtein in cell.cellProteins %}
                                                <div class="border border-1 border-dark mb-1">
                                                    <h5 class="bg-secondary p-1">{{ cellProtein.associatedProtein }} <a href="{{ url("app_protein_view", {"proteinId": cellProtein.associatedProtein.ulid}) }}"><span class="fa fa-eye fa-sm"></span></a></h5>

                                                    <div class="p-1">
                                                        <p>
                                                            {{ cellProtein.description }}
                                                        </p>

                                                        {% if cellProtein.detection %}
                                                            <dl>
                                                                {% for detection in cellProtein.detection %}
                                                                    <dt class="{{ detection.isDetectable ? "text-success" : "text-danger"}}">{{ detection.method }}</dt>
                                                                    <dd>{{ detection.comment }}</dd>
                                                                {% endfor %}
                                                            </dl>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                {# List of experiment types # }
                                <div class="col-4 mb-3">
                                    <h4 class="bg-secondary p-2 mb-n1 border-secondary border">Experiment types</h4>
                                    <div class="p-2 pt-3 border-secondary border">
                                        {% if experimentTypes|length == 0 %}
                                            none
                                        {% else %}
                                            {% for experimentType in experimentTypes %}
                                                <span class="badge rounded-pill bg-primary text-light"><a>{{ experimentType.name }}</a></span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                {# List of actual experiments! # }
                                <div class="col-4 mb-3">
                                    <h4 class="bg-secondary p-2 mb-n1 border-secondary border">Expeirments</h4>
                                    <div class="p-2 pt-3 border-secondary border">
                                        {% if cell.experiments|length == 0 %}
                                            none
                                        {% else %}
                                            {% for experiment in cell.experiments %}
                                                <span class="badge rounded-pill bg-primary text-light"><a>{{ experiment.name }}</a></span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                {# List of chemicals # }
                                <div class="col-4 mb-3">
                                    <h4 class="bg-secondary p-2 mb-n1 border-secondary border">Chemicals</h4>
                                    <div class="p-2 pt-3 border-secondary border">
                                        {% if chemicals|length == 0 %}
                                            none
                                        {% else %}
                                            {% for chemical in chemicals %}
                                                <span class="badge rounded-pill bg-primary text-light" data-toggle="tooltip" title="{{ chemical.longName }}"><a>{{ chemical.shortName }}</a></span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>#}
                            </div>
                        </div>

                        {# Cell engineering details #}
                        <div class="tab-pane fade" id="cell-info-engineering-content" role="tabpanel" aria-labelledby="cell-info-engineering">
                            <div class="row">
                                {% if cell.isEngineered %}
                                    <div>
                                        <h4>Engineering</h4>

                                        <p>Cells have been engineered by {{ cell.engineer ? cell.engineer.fullName : "whoever" }}.</p>

                                        {% if cell.engineeringPlasmid %}
                                            <p><em>Plasmid information:</em> {{ cell.engineeringPlasmid}}.</p>
                                        {% endif %}

                                        {% if cell.engineeringDescription %}
                                            <div>
                                                {{ cell.engineeringDescription }}
                                            </div>
                                        {% else %}
                                            <div class="text-muted">
                                                no further details have been given.
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        {# Aliquote information #}
                        <div class="tab-pane fade" id="cell-info-aliquotes-content" role="tabpanel" aria-labelledby="cell-info-aliquotes">
                            {% if aliquote %}
                                <div class="row">
                                    <div class="col-4 mb-3 pb-3">
                                        <h4 class="bg-secondary p-2 mb-n1 border-secondary border">Mycoplasma</h4>
                                        <div class="p-2 pt-3 border-secondary border">
                                            {% if aliquote.mycoplasmaResult == "unknown" %}
                                                This aliquote has not yet been tested for macoplasma
                                            {% else %}
                                                {% set strongColor = "black" %}
                                                {% if aliquote.mycoplasmaResult == "positive" %}
                                                    {% set strongColor = "red" %}
                                                {% elseif aliquote.mycoplasmaResult == "negative" %}
                                                    {% set strongColor = "green" %}
                                                {% endif %}
                                                <p class="mb-n1">
                                                    The aliquote was tested <strong style="color: {{ strongColor  }}">{{ aliquote.mycoplasmaResult }}</strong> by {{ aliquote.mycoplasmaTestedBy? aliquote.mycoplasmaTestedBy.fullName : "whoever" }}, {{ aliquote.mycoplasmaTestedOn ? (aliquote.mycoplasmaTestedOn|date("d. M. Y")) : "whenever" }}.
                                                </p>

                                                {% if aliquote.mycoplasma %}
                                                    <div class="mt-3">
                                                        {{ aliquote.mycoplasma|raw }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    {{ _self.simple_tab_content("Typing", aliquote.typing ?? "no data") }}
                                    {{ _self.simple_tab_content("History", aliquote.history ?? "no data") }}
                                </div>
                            {% endif %}
                        </div>

                        {# Attached documents #}
                        <div class="tab-pane fade" id="cell-info-attachments-content" role="tabpanel" aria-labelledby="cell-info-attachments">
                            <div class="row">
                                {{ macros.list_of_files(cell.attachments) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# <div class="col col-12 mb-3">



                    <div class="tab-pane fade" id="cell-info-testing-content" role="tabpanel" aria-labelledby="cell-info-testing">
                        {% if aliquote %}
                            <div class="row">
                                <div class="{{ columnClasses }}">
                                    <h4>Mycoplasma</h4>
                                    <div class="mb-5">{{ (aliquote.mycoplasma ?? "no data")|raw }}</div>
                                </div>

                                <div class="{{ columnClasses }}">
                                    <h4>Typing</h4>
                                    <div class="mb-5">{{ (aliquote.typing ?? "no data")|raw }}</div>
                                </div>

                                <div class="{{ columnClasses }}">
                                    <h4>History</h4>
                                    <div class="mb-5">{{ (aliquote.history ?? "no data")|raw }}</div>
                                </div>
                            </div>
                        {% else %}
                            <em>No aliquote selected</em>
                        {% endif %}
                    </div>

                    {# TAB 5 - Attachments # }
                    <div class="tab-pane fade" id="tabbing-tab4-content" role="tabpanel" aria-labelledby="tabbing-tab4">
                        <div class="row">
                            {{ macros.list_of_files(cell.attachments) }}
                        </div>
                    </div>
                </div>
            </div>
        </div> #}
    </div>
{% endblock %}