{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'parts/cells/cell_macros.html.twig' as cell_macros %}
{% import 'utility/icons.html.twig' as icon %}
{% from 'utility/attachments.html.twig' import attachments %}

{% set title %}
    {{ cell.cellNumber ~ " - " ~ cell.name }}
    {% if aliquote %}
        | Aliquot {{ aliquote.aliquotName }}
    {% endif %}
{% endset %}

{% set subtitle = cell.cellGroup.name %}
{% if cell.rrid %}
    {% set subtitle = subtitle ~ " (RRID:" ~ cell.rrid ~ ")" %}
{% endif %}

{% block title %}Gin :: Cell :: {{ title }}{% endblock %}

{% macro tab_item(name, id, tabid, active=false, enabled=true) %}
    <a class="nav-link {{ active?"active":"" }} {{ enabled ? "" : "disabled" }}" id="{{ id }}" data-toggle="pill" href="#{{ tabid }}" role="tab" aria-controls="{{ tabid }}" aria-selected="{{ active?"true":"false" }}">{{ name }}</a>
{% endmacro %}

{% macro simple_tab_content(name, content, comment=null) %}
    <div class="col-4 mb-3 pb-3">
        <h4 class="bg-secondary p-2 mb-n1 border-secondary border">{{ name }}</h4>
        <div class="p-2 pt-3 border-secondary border">
            {{ (content ?? "unknown")|raw }}

            {% if comment %}
                <p class="text-muted mt-3 mb-n1">{{ comment }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro aliquot_list(cell) %}
    <div class="card-body px-lg-5">
        <table class="table table-sm table-borderless table-hover">
            <thead>
            <tr>
                <th scope="col" style="width: 25px;"></th>
                <th>ID</th>
                <th>Name</th>
                <th>p</th>
                <th>Vials</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            {% for aliquot in cell.cellAliquotes %}
                <tr>
                    <td>
                        {% set tools =  [
                            {
                                "type": "view",
                                "tooltipText": "View aliquot",
                                "target": url("app_cell_aliquot_view_number", {"cellNumber": cell.cellNumber ?: cell.id, "aliquotId": aliquot.id}),
                                "disabled": not is_granted("view", aliquot),
                            },
                            {
                                "type": "edit",
                                "tooltipText": "Edit aliquot",
                                "target": url("app_cell_aliquot_edit", {"cell": cell.cellNumber ?: cell.id, "cellAliquot": aliquot.id}),
                                "disabled": not is_granted("edit", aliquot),
                            },
                        ]%}

                        {% if is_granted("remove", aliquot) %}
                            {% set tools = tools|merge([{
                                "type": "trash",
                                "tooltipText": "Trash aliquot",
                                "target": url("app_cell_trash_aliquot", {"aliquotId": aliquot.id}),
                                "disabled": not is_granted("trash", aliquot),
                            }]) %}
                        {% endif %}


                        {{ layout.toolbox_column(tools) }}

                    </td>
                    <td>{{ aliquot.id }}</td>
                    <td>{{ aliquot.aliquotName }}</td>
                    <td>{{ aliquot.passage }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar"
                                 aria-valuemin="0"
                                 aria-valuemax="{{ aliquot.maxVials }}"
                                 aria-valuenow="{{ aliquot.vials }}"
                                 style="width: {{ (aliquot.vials/(aliquot.maxVials ?? aliquot.vials)*100)|round(0) }}%"
                            >
                                {{ aliquot.vials }}/{{ aliquot.maxVials ?? aliquot.vials }}
                            </div>
                        </div>
                    </td>
                    <td>{{ aliquot.owner.fullName ?? "none" }} {{ "(" ~ (aliquot.group.shortName??"none")~ ")" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro toolbox(cell) %}
    {% set tools = [
        {
            "type": "up",
            "target": cell.cellGroup ? url("app_cells_group", {"cellGroup": cell.cellGroup.id}) : url("app_cells"),
            "tooltipText": "Back to cell overview",
        },
        {
            "type": "clipboard",
            "tooltipText": "Copy information",
            "clipboardText": ( cell.name ~ "(" ~ (cell.rrid ? "RRID:" ~ cell.rrid : "") ~ ")"),
        },
    ] %}

    {% if is_granted("ROLE_USER") %}
        {% set tools = tools|merge([
            {
                "type": "edit",
                "tooltipText": "Edit cell",
                "target": url("app_cell_edit", {"cell": cell.cellNumber ?: cell.id }),
                "disabled": is_granted("edit", cell) ? false : true,
            },
            {
                "type": "add",
                "tooltipText": "Add cell aliquot",
                "target": url("app_cell_aliquot_add", {"cell": cell.cellNumber ?: cell.id }),
                "disabled": is_granted("add_aliquot", cell) ? false : true,
            }
        ]) %}
    {% endif %}

    {{ layout.toolbox(tools) }}
{% endmacro %}

{% block body_main %}
    {% set columnClasses = "col-md-6 col-lg-4 col-xl-4 px-3 mb-3 border-light border-bottom" %}
    {% set displayed_box = false %}

    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            <twig:PageHeader :title="title" :subTitle="subtitle" icon="cell" :barcode="true"  />

            <twig:Layout:Row>
                <twig:Layout:Col type="inner">
                    <twig:Toolbox :toolbox="toolbox" />
                </twig:Layout:Col>
            </twig:Layout:Row>

            <twig:Layout:Row>
                <twig:Layout:Col type="outer" class="col-12 col-lg-6 col-xl-8">
                    <twig:ElementCard title="Cell metadata">
                        <twig:Metadata
                                data="{{ {
                                    "ID": cell.id,
                                    "Group": ["entity", cell.cellGroup],
                                    "RRID": ["rrid", cell.rrid],
                                    "Cellosaurus": ["cellosaurus", cell.cellosaurusId],
                                    "Parent Cell": ["entity", cell.parent],
                                    "Derived Cells": ["entity", cell.children],
                                    "Organism": cell.organism ? cell.organism.fullName : "undefined",
                                    "Tissue": cell.tissue ? cell.tissue.name : "undefined",
                                    "Age": cell.age ?? "unknown",
                                    "Sex": cell.sex ?? "unknown",
                                    "Ethnicity": cell.ethnicity ?? "unknown",
                                    "Disease": cell.disease ?? "unknown",
                                    "Morphology": cell.morphology ? cell.morphology.name ? "unknown",
                                    "Culture Type": cell.cultureType ?? "unknown",
                                    "Cancer cell": ["boolean", cell.isCancer],
                                    "Engineered cell": ["boolean", cell.isEngineered],
                                } }}"
                        />
                        <section class="mt-3 border-top pt-3">
                            <h3>Aliquots</h3>

                            <twig:Live:CellAliquotTable :cell="cell" loading="lazy" :currentAliquot="currentAliquot"></twig:Live:CellAliquotTable>
                        </section>

                        {% if currentAliquot %}
                            <section class="mt-3 border-top pt-3">
                                <h3>Aliquot</h3>

                                {% set mycoplasmaStatus %}
                                    {% if currentAliquot.mycoplasmaResult == "unknown" %}
                                        <p class="text-muted">Not tested for mycoplasma</p>
                                    {% elseif currentAliquot.mycoplasmaResult == "negative" %}
                                        <p class="text-success">This aliquot was tested mycoplasma negative</p>
                                    {% else %}
                                        <p class="text-danger">This aliquot was tested mycoplasma positive</p>
                                    {% endif %}
                                {% endset %}

                                <twig:Metadata
                                    data="{{ {
                                        "ID": currentAliquot.id,
                                        "Name": currentAliquot.aliquotName,
                                        "Typing": ["raw", currentAliquot.typing],
                                        "History": ["raw", currentAliquot.history],
                                        "Mycoplasma Status": ["raw", mycoplasmaStatus],
                                        "Test comment": ["raw", currentAliquot.mycoplasma],
                                        "Tested by": [currentAliquot.mycoplasmaTestedBy],
                                        "Tested on": ["date", currentAliquot.mycoplasmaTestedOn],
                                    } }}"
                                />
                            </section>
                        {% endif %}
                    </twig:ElementCard>
                </twig:Layout:Col>

                <twig:Layout:Col type="outer" class="col-12 col-lg-6 col-xl-4">
                    <twig:ElementCard title="Boxes" noPadding>
                        <twig:Live:Boxes :boxes="boxes" :currentCellAliquot="currentAliquot"></twig:Live:Boxes>
                    </twig:ElementCard>
                </twig:Layout:Col>
            </twig:Layout:Row>

            <twig:Layout:Row cols="1" md="2" xl="4">
                {# Origin #}
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Origin" collapsed>
                        {% if cell.origin %}
                            {{ cell.origin|raw }}

                            {{ cell.originComment|raw }}
                        {% else %}
                            No information about the origin of this cell has been given.
                        {% endif %}
                    </twig:ElementCard>
                </twig:Layout:Col>

                {# Acquisition #}
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Acquisition" icon="vendor" collapsed>
                        <twig:Metadata
                            columns="1"
                            xl="2"
                            md="1"
                            data="{{ {
                                "Vendor": cell.vendor ? (cell.vendor.catalogUrl ? ["url", {"title": cell.vendor.name, "href": cell.vendor.productUrl(cell.vendorPn ?? "")}] : cell.vendor) : "unknown",
                                "Price": cell.price.priceValue is same as(null) ? "unknown" : (cell.price.priceValue > 0 ? "#{cell.price.priceValue/1000} #{cell.price.priceCurrency}" : "free"),
                                "Acquired by" : cell.boughtBy ? cell.boughtBy.fullName : "unknown",
                                "Acquired on": cell.acquiredOn ? cell.acquiredOn|date("m. F Y") : "unknown",
                            } }}"
                        />
                    </twig:ElementCard>
                </twig:Layout:Col>

                {# Cell culture details #}
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Culturing" icon="cell" iconStack="cellCulture" collapsed>
                        <twig:Metadata
                            columns="1"
                            xl="1"
                            md="1"
                            data="{{ {
                                "Growth medium": ["raw", cell.medium],
                                "Trypsin": ["raw", cell.trypsin],
                                "Culture Conditions": ["raw", cell.cultureConditions],
                                "Splitting": ["raw", cell.splitting],
                                "Freezing": ["raw", cell.freezing],
                                "Thawing": ["raw", cell.thawing],
                            } }}"
                        />
                    </twig:ElementCard>
                </twig:Layout:Col>

                {# Experimental hints #}
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Experimental Suggestions" icon="experiment" iconStack="hint" collapsed>
                        <twig:Metadata
                            columns="1"
                            xl="1"
                            md="1"
                            data="{{ {
                                "Culturing": ["raw", cell.seeding],
                                "Cell count at confluency": [cell.countOnConfluence ? cell.countOnConfluence|number_format : "no data"],
                                "Lysis": ["raw", cell.lysing],
                            } }}"
                        />
                    </twig:ElementCard>
                </twig:Layout:Col>

                {# Associated proteins #}
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Associated Proteins" icon="protein" collapsed>
                        {% for protein in cell.cellProteins %}
                            <section class="{% if loop.index0 > 0 %}border-top pt-2 mt-2{% endif %}">
                                {% set regulation = "" %}
                                {% if protein.geneRegulation %}
                                    {% if protein.geneRegulation.value == "doublein" or protein.geneRegulation.value == "two" %}
                                        {% set regulation = "<sup>(+/+)</sup>" %}
                                    {% elseif protein.geneRegulation.value == "in" or protein.geneRegulation.value == "out" or protein.geneRegulation.value == "one" %}
                                        {% set regulation = "<sup>(+/-)</sup>" %}
                                    {% elseif protein.geneRegulation.value == "doubleout" %}
                                        {% set regulation = "<sup>(-/-)</sup>" %}
                                    {% elseif protein.geneRegulation.value == "unknown" %}
                                        {% set regulation = "<sup>?</sup>" %}
                                    {% elseif protein.geneRegulation.value == "up" %}
                                        {% set regulation = "<sup>↑</sup>" %}
                                    {% elseif protein.geneRegulation.value == "down" %}
                                        {% set regulation = "<sup>↓</sup>" %}
                                    {% endif %}
                                {% endif %}

                                <h4>{{ protein.associatedProtein }}{{ regulation|raw }} <a href="{{ path("app_protein_view", {"proteinId": protein.associatedProtein.ulid}) }}"><twig:Icon icon="view" /></a></h4>

                                <div>
                                    {% if protein.description %}{{ protein.description }}{% else %}<span class="text-muted">no description given</span>{% endif %}
                                </div>

                                <div class="ps-2">
                                    <h5 class="mt-2">Detection methods</h5>

                                    {% if protein.detection|length > 0 %}
                                        <dl class="ms-2">
                                            {% for detection in protein.detection %}
                                                <dt>{{ detection.method }} <twig:Toggle value="{{ detection.isDetectable }}" /></dt>
                                                <dd>{{ detection.comment }}</dd>
                                            {% endfor %}
                                        </dl>
                                    {% else %}
                                        <div class="text-muted">No detection details given</div>
                                    {% endif %}
                                </div>
                            </section>
                        {% else %}
                            <span class="text-muted">No proteins have been associated with this cell line.</span>
                        {% endfor %}
                    </twig:ElementCard>
                </twig:Layout:Col>

                {% if cell.isEngineered %}
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Engineering" icon="cell" iconStack="engineering" collapsed>
                        <twig:Metadata
                            columns="1"
                            xl="2"
                            md="1"
                            data="{{ {
                                "Engineer": cell.engineer,
                                "Plasmid": ["entity", cell.engineeringPlasmid],
                            } }}"
                        />

                        <twig:Metadata
                            columns="1"
                            xl="1"
                            md="1"
                            data="{{ {
                                "Details": ["raw", cell.engineeringDescription],
                            } }}"
                        />
                    </twig:ElementCard>
                </twig:Layout:Col>
                {% endif %}

                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Attachments" icon="attachment" collapsed>
                        <twig:Attachments :attachments="cell.attachments"></twig:Attachments>
                    </twig:ElementCard>
                </twig:Layout:Col>
            </twig:Layout:Row>
        </div>
    </div>
{% endblock %}