{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'parts/cells/cell_culture_macros.html.twig' as cell_culture_macros %}

{% block title %}Gin: Cell Cultures{% endblock %}

{% block body_main %}
    <div class="row p-3">
        <div class="col col-12 p-5 bg-white mb-3 border">
            <div class="row">
                <h1 class="col">Cell Cultures</h1>

                <div class="col text-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary"><span class="fas fa-fw fa-plus"></span></button>
                        {# <button type="button" class="btn btn-secondary"><span class=""></span></button>
                <button type="button" class="btn btn-secondary"><span class=""></span>Right</button> #}
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-12 p-5 bg-white mb-3 border">
            {% if cultures|length == 0 %}
                <p>There are currently no cells in culture.</p>
            {% else %}
                <div class="row g-0"><form method="get" action="{{ app.request.getBaseUrl ~ app.request.getPathInfo }}">
                        <div class="col col-md-12 input-group">
                            <input class="form-control" type="date" name="startDate" value="{{ startDate|date("Y-m-d") }}">
                            <input class="form-control" type="date" name="endDate" value="{{ endDate|date("Y-m-d") }}">
                            <button class="btn btn-primary" type="submit">Display</button>
                        </div>
                    </form></div>
                <div id="cellCultureChart" style="position: relative;">
                    {% for culture in cultures %}
                        <div id="culture-buttons-{{ culture.id.toBase58 }}" class="btn-group btn-group-sm mr-3" style="position: absolute; left: 0px; top: {{ 60 + loop.index0*50 - 15}}px">
                            <a class="btn btn-primary"
                               href="{{ url("app_cell_culture_view", {"cellCulture": culture.id}) }}"
                               data-toggle="tooltip" data-placement="bottom" title="View culture"
                            ><span class="fa fa-eye"></span></a>
                            <a class="btn btn-primary"
                               href="{{ url("app_cell_culture_edit", {"cellCulture": culture.id}) }}"
                               data-toggle="tooltip" data-placement="bottom" title="Edit culture"
                            ><span class="fa fa-edit"></span></a>
                            <a class="btn btn-secondary {{ culture.trashedOn ? "disabled" : "" }}"
                               href="{{ url("app_cell_culture_create_event", {"cellCulture": culture.id, "eventType": "other"}) }}"
                               data-toggle="tooltip" data-placement="bottom" title="Add new event"
                            ><span class="fas fa-tag"></span></a>
                            <a class="btn btn-secondary {{ culture.trashedOn ? "disabled" : "" }}"
                               href="{{ url("app_cell_culture_create_event", {"cellCulture": culture.id, "eventType": "test"}) }}"
                               data-toggle="tooltip" data-placement="bottom" title="Add new mycoplasma test"
                            ><span class="fas fa-hospital-symbol"></span></a>
                            <a class="btn btn-secondary {{ culture.trashedOn ? "disabled" : "" }}"
                               href="{{ url("app_cell_culture_create_event", {"cellCulture": culture.id, "eventType": "split"}) }}"
                               data-toggle="tooltip" data-placement="bottom" title="Add new splitting event"
                            ><span class="fas fa-fill-drip"></span></a>

                            {% if culture.trashedOn %}
                                <a class="btn btn-warning btn-sm" href="{{ url("app_cell_culture_restore", {"cellCulture": culture.id}) }}" data-toggle="tooltip" data-placement="bottom" title="Restore cell culture"><span class="fas fa-trash-restore"></span></a>
                            {% else %}
                                <a class="btn btn-warning btn-sm" href="{{ url("app_cell_culture_trash", {"cellCulture": culture.id}) }}" data-toggle="tooltip" data-placement="bottom" title="Trash cell culture"><span class="fas fa-trash-alt"></span></a>
                            {% endif %}
                            <!--<a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Create aliquots"><span class="fas fa-snowflake"></span></a>-->
                        </div>
                    {% endfor %}
                </div>
                <div id="cellCultureChartEventInfo" style="color: black; background: whitesmoke; font-size: 10px; width: 150px; position: absolute; display: none; padding: 3px 6px; margin-left: -80px;"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script_bottom %}
    {{ cell_culture_macros.culture_timeline(cultures, startDate, endDate) }}
{% endblock %}