{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}
{% import 'parts/cells/cell_culture_macros.html.twig' as cell_culture_macros %}

{% block title %}Gin :: Cell Cultures{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header("Cell Cultures") }}

            {{
                layout.toolbox([
                    {
                        "type": "add",
                        "disabled": true,
                        "tooltipText": "Add new cell culture",
                    },
                ])
            }}

            <div class="row">
                <div class="col p-0 m-0">
                    <div class="bg-white mx-3 mb-3 border py-2 px-3 px-lg-5">
                        <form method="get" action="{{ app.request.getBaseUrl ~ app.request.getPathInfo }}">
                            <div class="row">
                                <div class="col col-12 col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-text"><label for="ginCellCultureViewStartDate">From</label></span>
                                        <input id="ginCellCultureViewStartDate" class="form-control" type="date" name="startDate" value="{{ startDate|date("Y-m-d") }}">
                                        <span class="input-group-text" id="basic-addon1"><label for="ginCellCultureViewToDate">To</label></span>
                                        <input id="ginCellCultureViewToDate" class="form-control" type="date" name="endDate" value="{{ endDate|date("Y-m-d") }}">
                                    </div>
                                </div>

                                <div class="col col-12 col-md-6 col-lg-4 col-xl-2">
                                    <div class="input-group">
                                        <span class="input-group-text"><label for="ginCellCultureViewIncubator">Incubator</label></span>
                                        <input id="ginCellCultureViewIncubator" class="form-control" type="text" name="incubator" value="{{ app.request.get("incubator") }}">
                                    </div>
                                </div>

                                <div class="col col-12 col-md-6 col-lg-4 col-xl-2">
                                    <div class="input-group">
                                        <span class="input-group-text"><label for="ginCellCultureViewScientist">Scientist</label></span>
                                        <input id="ginCellCultureViewScientist" class="form-control" type="text" name="scientist" value="{{ app.request.get("scientist") }}">
                                    </div>
                                </div>

                                <div class="col col-12 col-md-6 col-lg-4 col-xl-2">
                                    <button class="btn btn-primary form-control" type="submit">Display</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col p-0 m-0">
                    <div class="bg-white mx-3 mb-3 border py-2 px-3 px-lg-5 overflow-auto">
                        <twig:Cell:CellCultureDiagram
                            :startDate="startDate"
                            :endDate="endDate"
                            :incubatorFilter="app.request.get('incubator')"
                            :scientistFilter="app.request.get('scientist')"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}