{% extends 'homepage.html.twig' %}
{% from 'macros.html.twig' import vendor_url, validation_status, rrid_resolver, pillify_proteins %}

{% block title %}Cell Genie: Antibodies{% endblock %}

{% block body_main %}
    <h1>Antibodies</h1>

    <h2>Primary antibodies</h2>
    <table class="mb-5 mt-3 table">
        <trhead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Targets</th>
                <th>Organism</th>
                <th>Vendor</th>
                <th>RRID</th>
            </tr>
        </trhead>
        <tbody>
            {% for entry in primaryAntibodies %}
                {% set primaryAntibody = entry[0] %}
                <tr>
                    <th>
                        <a class="" href="{{ url("app_antibody_view", {"antibodyId": primaryAntibody.id}) }}">
                            {{ primaryAntibody.number }}{{ validation_status(primaryAntibody) }}
                        </a>
                    </th>
                    <td>{{ primaryAntibody.shortName }} - <em>{{ primaryAntibody.longName }}</em></td>
                    <td>{{ pillify_proteins(primaryAntibody.proteinTarget) }}</td>
                    <td>{{ entry.hostOrganism }}</td>
                    <td>{{ vendor_url(primaryAntibody.vendor, primaryAntibody.vendorPn) }}</td>
                    <td>{% if primaryAntibody.rrid %}{{ rrid_resolver(primaryAntibody.rrid)}}{% else %}-{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Secondary antibodies</h2>
    <table class="mb-5 mt-3 table">
        <trhead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Target Organism</th>
                <th>Detection</th>
                <th>Vendor</th>
                <th>RRID</th>
            </tr>
        </trhead>
        <tbody>
        {% for entry in secondaryAntibodies %}
            {% set secondaryAntibody = entry[0] %}
            <tr>
                <th>
                    <a class="" href="{{ url("app_antibody_view", {"antibodyId": secondaryAntibody.id}) }}">
                        {{ secondaryAntibody.number }}{{ validation_status(secondaryAntibody) }}
                    </a>
                </th>
                <td>{{ secondaryAntibody.shortName }} - <em>{{ secondaryAntibody.longName }}</em></td>
                <td>{{ entry.hostName }}</td>
                <td>{{ secondaryAntibody.detection }}</td>
                <td>{{ vendor_url(secondaryAntibody.vendor, secondaryAntibody.vendorPn) }}</td>
                <td>{% if secondaryAntibody.rrid %}{{ rrid_resolver(secondaryAntibody.rrid)}}{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}