{% extends 'homepage.html.twig' %}
{% from 'macros.html.twig' import vendor_url, validation_status, rrid_resolver, pillify_proteins %}

{% macro format_antibody_name(antibody) %}
    <span data-toggle="tooltip" data-placement="bottom" title="{{ antibody.longName }}">{{ antibody.shortName }}</span>
{% endmacro %}

{% block title %}Cell Genie: Antibodies{% endblock %}

{% block search %}
    <form class="form-inline my-2 my-lg-0" action="{{ url("app_antibodies_search") }}" method="post">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" minlength="3">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}

{% block body_main %}
    <div class="row px-lg-3">
        <div class="col col-12">
            <h1>Antibodies</h1>
        </div>

        {% if antibodies|length > 0 %}
            <div class="col col-12">
                <h2>Search results</h2>

                <table class="mb-5 mt-3 table px-5">
                    <trhead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Targets</th>
                            <th scope="col">Organism</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">RRID</th>
                            <th scope="col">Options</th>
                        </tr>
                    </trhead>
                    <tbody>
                    {% for entry in antibodies %}
                        {% set antibody = entry[0] %}
                        <tr>
                            <th>{{ antibody.number }}{{ validation_status(antibody) }}</th>
                            <td>{{ _self.format_antibody_name(antibody) }}</td>
                            {% if antibody.hostTarget %}
                                <td>{{ entry.hostTarget }}</td>
                            {% else %}
                                <td>{{ pillify_proteins(antibody.proteinTarget) }}</td>
                            {% endif %}
                            <td>{{ entry.hostOrganism }}</td>
                            <td>{{ vendor_url(antibody.vendor, antibody.vendorPn) }}</td>
                            <td>{% if antibody.rrid %}{{ rrid_resolver(antibody.rrid)}}{% else %}-{% endif %}</td>
                            <td><a href="{{ url("app_antibody_view", {"antibodyId": antibody.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-eye"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <div class="col col-sm-12 col-md-12 col-lg-6">
            <h2>Primary antibodies</h2>

            <table class="mb-5 mt-3 table px-5">
                <trhead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Targets</th>
                        <th scope="col">Organism</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">RRID</th>
                        <th scope="col">Options</th>
                    </tr>
                </trhead>
                <tbody>
                {% for entry in primaryAntibodies %}
                    {% set primaryAntibody = entry[0] %}
                    <tr>
                        <th>{{ primaryAntibody.number }}{{ validation_status(primaryAntibody) }}</th>
                        <td>{{ _self.format_antibody_name(primaryAntibody) }}</td>
                        <td>{{ pillify_proteins(primaryAntibody.proteinTarget) }}</td>
                        <td>{{ entry.hostOrganism }}</td>
                        <td>{{ vendor_url(primaryAntibody.vendor, primaryAntibody.vendorPn) }}</td>
                        <td>{% if primaryAntibody.rrid %}{{ rrid_resolver(primaryAntibody.rrid)}}{% else %}-{% endif %}</td>
                        <td><a href="{{ url("app_antibody_view", {"antibodyId": primaryAntibody.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-eye"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="col col-sm-12 col-md-12 col-lg-6">
            <h2>Secondary antibodies</h2>

            <table class="mb-5 mt-3 table">
                <trhead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Target Organism</th>
                        <th scope="col">Detection</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">RRID</th>
                        <th scope="col">Options</th>
                    </tr>
                </trhead>
                <tbody>
                {% for entry in secondaryAntibodies %}
                    {% set secondaryAntibody = entry[0] %}
                    <tr>
                        <th>{{ secondaryAntibody.number }}{{ validation_status(secondaryAntibody) }}</th>
                        <td>{{ _self.format_antibody_name(secondaryAntibody) }}</td>
                        <td>{{ entry.hostName }}</td>
                        <td>{{ secondaryAntibody.detection }}</td>
                        <td>{{ vendor_url(secondaryAntibody.vendor, secondaryAntibody.vendorPn) }}</td>
                        <td>{% if secondaryAntibody.rrid %}{{ rrid_resolver(secondaryAntibody.rrid)}}{% else %}-{% endif %}</td>
                        <td><a href="{{ url("app_antibody_view", {"antibodyId": secondaryAntibody.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-eye"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}