{% extends 'homepage.html.twig' %}
{% from 'macros.html.twig' import vendor_url, validation_status %}

{% block title %}Cell Genie: Antibodies{% endblock %}

{% block body_main %}
    <h1>Antibodies</h1>

    <h2>Primary antibodies</h2>
    <table class="mb-5 mt-3 table">
        <trhead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Targets</th>
                <th>Secondaries</th>
                <th>Vendor</th>
            </tr>
        </trhead>
        <tbody>
            {% for primaryAntibody in primaryAntibodies %}
                <tr>
                    <th>{{ primaryAntibody.number }}{{ validation_status(primaryAntibody) }}</th>
                    <td>{{ primaryAntibody.shortName }} - <em>{{ primaryAntibody.longName }}</em></td>
                    <td>{% for target in primaryAntibody.proteinTarget %}
                            <a class='badge rounded-pill bg-primary text-light' href='{{ url("app_protein_view", {"proteinId": target.id}) }}'>{{ target }}</a>
                        {% endfor %}</td>
                    <td>{% for secondaryAntibody in primaryAntibody.secondaryAntibody %}
                            <a class='badge rounded-pill bg-primary text-light' href='#'>{{ secondaryAntibody }}</a>
                    {% endfor %}</td>
                    <td>{{ vendor_url(primaryAntibody.vendor, primaryAntibody.vendorPn) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Secondary antibodies</h2>
    <table class="mb-5 mt-3 table">
        <trhead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Targets</th>
                <th>Detection</th>
                <th>Vendor</th>
            </tr>
        </trhead>
        <tbody>
        {% for entry in secondaryAntibodies %}
            {% set secondaryAntibody = entry[0] %}
            <tr>
                <th>{{ secondaryAntibody.number }}{{ validation_status(secondaryAntibody) }}</th>
                <td>{{ secondaryAntibody.shortName }} - <em>{{ secondaryAntibody.longName }}</em></td>
                <td>{{ entry.targets }}</td>
                <td>{{ secondaryAntibody.detection }}</td>
                <td>{{ vendor_url(secondaryAntibody.vendor, secondaryAntibody.vendorPn) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}