{% extends 'homepage.html.twig' %}
{% from 'macros.html.twig' import vendor_url, validation_status, rrid_resolver, pillify_epitopes %}

{% macro format_antibody_name(antibody) %}
    <span data-toggle="tooltip" data-placement="bottom" title="{{ antibody.longName }}">{{ antibody.shortName }}</span>
{% endmacro %}

{% block title %}Cell Genie: Antibodies{% endblock %}

{% block search %}
    <form class="form-inline my-2 my-lg-0" action="{{ url("app_antibodies_search") }}" method="post">
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" minlength="3">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </form>
{% endblock %}

{% block body_main %}
    <div class="row p-3">
        {% set antibodyType = app.request.get('antibodyType')%}
        {% set pageTitle = "Antibodies" %}
        {% if antibodyType == "primaries" %}
            {% set pageTitle = "Primary antibodies" %}
        {% elseif antibodyType == "secondaries" %}
            {% set pageTitle = "Secondary antibodies" %}
        {% endif %}


        <div class="col col-12 p-5 bg-white mb-3 border">
            <div class="row">
                {% if antibodies|length > 0 %}
                    <div class="col"><h1>{{ pageTitle }}</h1></div>
                {% else %}
                    <h1 class="col">{{ pageTitle }}</h1>

                    <div class="col text-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"><span class="fas fa-fw fa-plus"></span></button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if antibodies|length > 0 %}
            <div class="col col-12 p-5 bg-white mb-3 border">
                {# Display search results #}
                {{ _self.display_any(antibodies) }}
            </div>
        {% else %}
            {% if antibodyType == "primaries" %}
                {# Display *only* primary antibodies #}
                <div class="col col-12 p-5 bg-white mb-3 border">
                    {{ _self.display_primaries(primaryAntibodies) }}
                </div>
            {% elseif antibodyType == "secondaries" %}
                {# Display *only* secondary antibodies #}
                <div class="col col-12 p-5 bg-white mb-3 border">
                    {{ _self.display_secondaries(secondaryAntibodies) }}
                </div>
            {% else %}
                {# Display *both* primary and secondary antibodies. #}
                <div class="col col-6 ml-n3 mr-3">
                    <div class="p-5 bg-white mb-3 border">
                        <h2>Primary antibodies</h2>

                        {{ _self.display_primaries(primaryAntibodies) }}
                    </div>
                </div>

                <div class="col col-6 ml-3 mr-n3">
                    <div class="p-5 bg-white mb-3 border">
                        <h2>Secondary antibodies</h2>

                        {{ _self.display_secondaries(secondaryAntibodies) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% macro antibody_tools(antibody) %}
    <div class="btn-group btn-group-sm">
        <a
                class="btn btn-info btn-clipboard"
                data-clipboard-text="{{ antibody.longName }} ({{ antibody.vendor.name ?? "??" }}, {{ antibody.vendorPN ?? "??" }}{{ antibody.rrid ? ", RRID:" ~ antibody.rrid : "" }})"
        >
            <span class="far fa-clipboard"></span>
        </a>

        {% if antibody.number %}
            <a href="{{ url("app_antibody_view_number", {"antibodyNr": antibody.number}) }}" class="btn btn-info btn-sm"><span class="far fa-eye"></span></a>
        {% else %}
            <a href="{{ url("app_antibody_view", {"antibodyId": antibody.ulid}) }}" class="btn btn-info btn-sm"><span class="far fa-eye"></span></a>
        {% endif %}
    </div>
{% endmacro %}

{% macro display_any(antibodies) %}
    <table class="mb-5 mt-3 table px-5 table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Epitope</th>
                <th scope="col">Organism</th>
                <th scope="col">Vendor</th>
                <th scope="col">RRID</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in antibodies %}
            {% set antibody = entry[0] %}
            {# {% set antibody = entry %}  #}
            <tr>
                <th>{{ antibody.number }}{{ validation_status(antibody) }}</th>
                <td>{{ _self.format_antibody_name(antibody) }}</td>
                <td>{{ pillify_epitopes(antibody.epitopeTargets) }}</td>
                <td>{{ entry.hostName }}</td>
                <td>{{ vendor_url(antibody.vendor, antibody.vendorPn) }}</td>
                <td>{% if antibody.rrid %}{{ rrid_resolver(antibody.rrid)}}{% else %}-{% endif %}</td>
                <td>{{ _self.antibody_tools(antibody) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro display_primaries(primaryAntibodies) %}
    <table class="mb-5 mt-3 table px-5 table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Epitope</th>
                <th scope="col">Host</th>
                <th scope="col">Vendor</th>
                <th scope="col">RRID</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in primaryAntibodies %}
            {% set primaryAntibody = entry[0] %}
            {# {% set primaryAntibody = entry %}  #}
            <tr>
                <th>{{ primaryAntibody.number }}{{ validation_status(primaryAntibody) }}</th>
                <td>{{ _self.format_antibody_name(primaryAntibody) }}</td>
                <td>{{ pillify_epitopes(primaryAntibody.epitopeTargets) }}</td>
                <td>{{ entry.hostName }}</td>
                <td>{{ vendor_url(primaryAntibody.vendor, primaryAntibody.vendorPn) }}</td>
                <td>{% if primaryAntibody.rrid %}{{ rrid_resolver(primaryAntibody.rrid)}}{% else %}-{% endif %}</td>
                <td>{{ _self.antibody_tools(primaryAntibody) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro display_secondaries(secondaryAntibodies) %}
    Amount of antries {{ secondaryAntibodies|length }}
    <table class="mb-5 mt-3 table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Epitope</th>
                <th scope="col">Host Organism</th>
                <th scope="col">Detection</th>
                <th scope="col">Vendor</th>
                <th scope="col">RRID</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in secondaryAntibodies %}
            {% set secondaryAntibody = entry[0] %}
            {# {% set secondaryAntibody = entry %} #}
            <tr>
                <th>{{ secondaryAntibody.number }}{{ validation_status(secondaryAntibody) }}</th>
                <td>{{ _self.format_antibody_name(secondaryAntibody) }}</td>
                <td>{{ pillify_epitopes(secondaryAntibody.epitopeTargets) }}</td>
                <td>{{ entry.hostName }}</td>
                <td>{{ secondaryAntibody.detection }}</td>
                <td>{{ vendor_url(secondaryAntibody.vendor, secondaryAntibody.vendorPn) }}</td>
                <td>{% if secondaryAntibody.rrid %}{{ rrid_resolver(secondaryAntibody.rrid)}}{% else %}-{% endif %}</td>
                <td>{{ _self.antibody_tools(secondaryAntibody) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}