{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}

{% block title %}Gin :: Antibody :: {{ antibody }}{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header(antibody) }}

            {{ layout.toolbox([
                {
                    "type": "clipboard",
                    "tooltipText": "Copy information",
                    "clipboardText": ( antibody.longName ~ " (" ~ (antibody.vendor.name ?? "??") ~ ", " ~ (antibody.vendorPN ?? "??") ~(antibody.rrid ? ", RRID:" ~antibody.rrid : "") ~ ")" ),
                },
                {
                    "type": "edit",
                    "disabled": true,
                    "tooltipText": "Edit antibody",
                }
            ]) }}


            <div class="row row-cols-1 row-cols-lg-2">
                {# Antibody metadata #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Details", "Details") }}

                        {{ layout.card_body_collapse_start("Details") }}
                        <div class="card-body px-lg-5 mx-0">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                {{ macros.definition_row("ID", antibody.number) }}
                                {{ macros.definition_row_raw("Short name", antibody.shortName ~ macros.validation_status(antibody)) }}
                                {{ macros.definition_row("Long name", antibody.longName) }}
                                {{ macros.definition_row("RRID", macros.rrid_resolver(antibody.rrid)) }}
                                {% if antibody.vendor %}
                                    {{ macros.definition_row_raw("Vendor", macros.vendor_url(antibody.vendor, antibody.vendorPN)) }}
                                {% endif %}
                                {{ macros.definition_row("Host organism", antibody.hostOrganism) }}
                                {{ macros.definition_row("Clonality", antibody.clonality) }}

                                {% if antibody.epitopeTargets|length > 0 %}
                                    {{ macros.definition_row("Epitope targets", macros.pillify_epitopes(antibody.epitopeTargets)) }}
                                {% endif %}

                                {% if antibody.detection %}
                                    {{ macros.definition_row("Detection", antibody.detection) }}
                                {% endif %}

                                {{ macros.definition_row("Store at", antibody.storageTemperature ~ " °C") }}
                                {{ macros.definition_row("Usage", antibody.usage ?? "(unknown)") }}
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Antibody metadata #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Lots", "Lots") }}

                        {{ layout.card_body_collapse_start("Lots") }}

                        <div class="card-body px-lg-4">
                            {% if not antibody.lots %}
                                No lots registered
                            {% else %}
                                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                                    {% for lot in antibody.lots %}
                                        {% set lotName = antibody.number ~ "." ~ lot %}
                                        <div class="col">
                                            <div class="card">
                                                {{ layout.card_header_collapse(lotName, lot.id, "md") }}
                                                {{ layout.card_body_collapse_start(lot.id, "md") }}
                                                {{ layout.toolbox_card([{
                                                    "type": "clipboard",
                                                    "tooltipText": "Copy information",
                                                    "clipboardText": (
                                                        antibody.longName
                                                        ~ " ("
                                                        ~ (antibody.vendor.name ?? "??")
                                                        ~ ", "
                                                        ~ (antibody.vendorPN ?? "??")
                                                        ~ ", Lot#" ~ lot.lotNumber
                                                        ~ (antibody.rrid ? ", RRID:" ~antibody.rrid : "") ~ ")"),
                                                },]) }}

                                                <div class="card-body px-lg-2">
                                                    <table class="table table-sm table-borderless table-hover">
                                                        <tbody>
                                                        <tr>
                                                            <th>Lot#</th>
                                                            <td>{{ lot.lotNumber }}</td>
                                                        </tr>

                                                        <tr>
                                                            <th>Storage</th>
                                                            <td>{{ lot.box }}</td>
                                                        </tr>

                                                        <tr>
                                                            <th>Amount</th>
                                                            <td>{{ lot.amount }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Concentration</th>
                                                            <td>{{ lot.purity }}</td>
                                                        </tr>

                                                        {% if lot.numberOfAliquotes > 0 %}
                                                            <tr>
                                                                <th>Aliquots</th>
                                                                <td>{{ lot.numberOfAliquotes }} ({{ lot.aliquoteSize }})</td>
                                                            </tr>
                                                        {% else %}
                                                            <tr><td colspan="2">Not aliquots</td></tr>
                                                        {% endif %}
                                                        </tbody>
                                                    </table>

                                                    {% if lot.comment %}
                                                        <div>{{ (lot.comment ?? "")|raw }}</div>
                                                    {% else %}
                                                    {% endif %}
                                                </div>

                                                <div class="card-footer">
                                                    <p class="text-muted">
                                                        This antibody was bought by <em>{{ lot.boughtBy }}</em>
                                                        on <em>{{ lot.boughtOn|date("d. M Y") }}</em>.
                                                        Opened on <em>{{ lot.openedOn|date("d. M Y") }}</em>.
                                                    </p>
                                                </div>
                                                {{ layout.card_body_collapse_end() }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Attachments #}
                {% if antibody.vendorDocumentation|length > 0 %}
                    <div class="col p-0 m-0 mb-3">
                        <div class="card mx-3 h-100">
                            {{ layout.card_header_collapse("Attachments", "Attachments") }}

                            {{ layout.card_body_collapse_start("Attachments") }}
                            <div class="card-body px-lg-4">
                                {{ macros.list_of_files(antibody.vendorDocumentation) }}
                            </div>
                            {{ layout.card_body_collapse_end() }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{#
        <div class="col col-12 bg-white mb-3 border p-5">

        </div>

        {# Tabbed info at the bottom # }
        <div class="col col-12 mb-3">
            <div class="row bg-white p-5 border">
                <div class="col-3 col-xl-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {{ macros.tab_item("Lots", "tab-lots", "tab-lots-content", true) }}
                        {{ macros.tab_item("Dilutions", "tab-dilutions", "tab-dilutions-content") }}
                        {{ macros.tab_item("Experiments", "tab-experiments", "tab-experiments-content") }}
                        {{ macros.tab_item("Attachments", "tab-attachments", "tab-attachments-content", false, antibody.vendorDocumentation|length > 0?true:false) }}
                    </div>
                </div>

                <div class="col-9 col-xl-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        {# Antibodies # }
                        <div class="tab-pane fade show active" id="tab-lots-content" role="tabpanel" aria-labelledby="tab-lots">
                            <div class="row">
                                {% if not antibody.lots %}
                                    No lots registered
                                {% else %}
                                    {% for lot in antibody.lots %}
                                        <div class="col-4 mb-3 pb-3">
                                            <div class="bg-secondary p-2 mb-n1 border-secondary border">
                                                <h4 class="float-left">{{ antibody.number ~ "." ~ lot }}</h4>
                                                <div class="text-right">
                                                    <a
                                                            class="far fa-clipboard btn-clipboard small"
                                                            data-clipboard-text="{{ antibody.longName }} ({{ antibody.vendor.name ?? "??" }}, {{ antibody.vendorPN ?? "??" }}, Lot# {{ lot.lotNumber }}{{ antibody.rrid ? ", RRID:" ~ antibody.rrid : "" }})"
                                                    ></a>
                                                </div>
                                            </div>

                                            <div class="p-2 pt-3 border-secondary border">



                                                <p class="text-muted">
                                                    This antibody was bought by <em>{{ lot.boughtBy }}</em>
                                                    on <em>{{ lot.boughtOn|date("d. M Y") }}</em>.
                                                    Opened on <em>{{ lot.openedOn|date("d. M Y") }}</em>.
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end row -->
    </div>#}
{% endblock %}