{% extends 'homepage.html.twig' %}
{% from 'macros.html.twig' import vendor_url, validation_status, rrid_resolver, pillify_epitopes %}
{% import 'layout.html.twig' as layout %}

{% macro format_antibody_name(antibody) %}
    <span data-toggle="tooltip" data-placement="bottom" title="{{ antibody.longName }}">{{ antibody.shortName }}</span>
{% endmacro %}

{% set antibodyType = app.request.get('antibodyType')%}
{% set pageTitle = "Antibodies" %}
{% if antibodyType == "primaries" %}
    {% set pageTitle = "Primary antibodies" %}
{% elseif antibodyType == "secondaries" %}
    {% set pageTitle = "Secondary antibodies" %}
{% endif %}

{% block title %}Gin :: {{ pageTitle }}{% endblock %}

{% block search %}
    <form class="form-inline my-2 my-lg-0" action="{{ url("app_antibodies_search") }}" method="post">
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" minlength="3">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </form>
{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header(pageTitle) }}

            {{
            layout.toolbox([
                {
                    "type": "add",
                    "tooltipText": "Add new antibody",
                    "target": url("app_substance_new", {"type": "antibody"}),
                },
            ])
            }}

            <div class="row row-cols-1 {{ (antibodyType == "primaries" or antibodyType == "secondaries" or antibodies|length>0 or (primaryAntibodies is not defined and secondaryAntibodies is not defined))?"":"row-cols-lg-2" }}">
                {% if antibodies|length > 0 or (primaryAntibodies is not defined and secondaryAntibodies is not defined) %}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header("Search results") }}

                        {{ layout.card_body_start() }}
                        <div class="card-body">
                            {{ _self.display_any(antibodies) }}
                        </div>
                        {{ layout.card_body_end() }}
                    </div>
                </div>
                {% else %}
                    {% if antibodyType == "primaries" %}
                        <div class="col p-0 m-0 mb-3">
                            <div class="card mx-3 h-100">
                                {{ layout.card_header("Search results") }}
                                {{ layout.card_body_start() }}
                                <div class="card-body">
                                    {{ _self.display_any(primaryAntibodies) }}
                                </div>
                                {{ layout.card_body_end() }}
                            </div>
                        </div>
                    {% elseif antibodyType == "secondaries" %}
                        <div class="col p-0 m-0 mb-3">
                            <div class="card mx-3 h-100">
                                {{ layout.card_header("Search results") }}
                                {{ layout.card_body_start() }}
                                <div class="card-body">
                                    {{ _self.display_any(secondaryAntibodies) }}
                                </div>
                                {{ layout.card_body_end() }}
                            </div>
                        </div>
                    {% else %}
                        <div class="col p-0 m-0 mb-3">
                            <div class="card mx-3 h-100">
                                {{ layout.card_header_collapse("Primary antibodies", "PrimaryAntibodies") }}
                                {{ layout.card_body_collapse_start("PrimaryAntibodies") }}
                                <div class="card-body">
                                    {{ _self.display_any(primaryAntibodies) }}
                                </div>
                                {{ layout.card_body_collapse_end() }}
                            </div>
                        </div>

                        <div class="col p-0 m-0 mb-3">
                            <div class="card mx-3 h-100">
                                {{ layout.card_header_collapse("Secondary antibodies", "SecondaryAntibodies") }}
                                {{ layout.card_body_collapse_start("SecondaryAntibodies") }}
                                <div class="card-body">
                                    {{ _self.display_any(secondaryAntibodies) }}
                                </div>
                                {{ layout.card_body_collapse_end() }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% macro antibody_tools(antibody) %}
    {% if antibody is not same as(false) %}
        <div class="btn-group btn-group-sm mr-3">
            <a
                    class="btn btn-info btn-clipboard"
                    data-clipboard-text="{{ antibody.longName }} ({{ antibody.vendor.name ?? "??" }}, {{ antibody.vendorPN ?? "??" }}{{ antibody.rrid ? ", RRID:" ~ antibody.rrid : "" }})"
            >
                <span class="far fa-clipboard"></span>
            </a>

            {% if antibody.number %}
                <a href="{{ url("app_antibody_view_number", {"antibodyNr": antibody.number}) }}" class="btn btn-info btn-sm"><span class="far fa-eye"></span></a>
            {% else %}
                <a href="{{ url("app_antibody_view", {"antibodyId": antibody.ulid}) }}" class="btn btn-info btn-sm"><span class="far fa-eye"></span></a>
            {% endif %}
        </div>
    {% else %}
        <div class="btn-group btn-group-sm mr-3" style="visibility: hidden">
            <span class="btn btn-info btn-clipboard" ><span class="far fa-clipboard"></span></span>
            <span class="btn btn-info"><span class="far fa-eye"></span></span>
        </div>
    {% endif %}
{% endmacro %}

{% macro display_any(antibodies) %}
    <table class="table table-hover fancyTable">
        <thead>
            <tr>
                <th scope="col">
                    {{ _self.antibody_tools(false) }}
                </th>
                <th scope="col">
                    ID
                </th>
                <th scope="col">Name</th>
                <th scope="col">Epitope</th>
                <th scope="col">Organism</th>
                <th class="d-none d-lg-table-cell" scope="col">Vendor</th>
                <th class="d-none d-lg-table-cell" scope="col">RRID</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in antibodies %}
            {% set antibody = entry[0] %}
            {# {% set antibody = entry %}  #}
            <tr>
                <td>
                    {{ _self.antibody_tools(antibody) }}
                </td>
                <td>
                    <strong>{{ antibody.number }}</strong>{{ validation_status(antibody) }}
                </td>
                <td>{{ _self.format_antibody_name(antibody) }}</td>
                <td>{{ pillify_epitopes(antibody.epitopeTargets) }}</td>
                <td>{{ pillify_epitopes([antibody.hostOrganism]) }}</td>
                <td class="d-none d-lg-table-cell" >{{ vendor_url(antibody.vendor, antibody.vendorPn) }}</td>
                <td class="d-none d-lg-table-cell" >{% if antibody.rrid %}{{ rrid_resolver(antibody.rrid)}}{% else %}-{% endif %}</td>
            </tr>
        {% else %}
            <tr><td colspan="7" class="align-content-center align-middle">No antibodies found</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro display_primaries(primaryAntibodies) %}
    <table class="mb-5 mt-3 table px-5 table-hover">
        <thead>
            <tr>
                <th scope="col">
                    {{ _self.antibody_tools(false) }}
                    ID
                </th>
                <th scope="col">Name</th>
                <th scope="col">Epitope</th>
                <th scope="col">Host</th>
                <th scope="col">Vendor</th>
                <th scope="col">RRID</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in primaryAntibodies %}
            {% set primaryAntibody = entry[0] %}
            {# {% set primaryAntibody = entry %}  #}
            <tr>
                <th>
                    {{ _self.antibody_tools(primaryAntibody) }}
                    {{ primaryAntibody.number }}{{ validation_status(primaryAntibody) }}
                </th>
                <td>{{ _self.format_antibody_name(primaryAntibody) }}</td>
                <td>{{ pillify_epitopes(primaryAntibody.epitopeTargets) }}</td>
                <td>{{ pillify_epitopes([primaryAntibody.hostOrganism]) }}</td>
                <td>{{ vendor_url(primaryAntibody.vendor, primaryAntibody.vendorPn) }}</td>
                <td>{% if primaryAntibody.rrid %}{{ rrid_resolver(primaryAntibody.rrid)}}{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro display_secondaries(secondaryAntibodies) %}
    <table class="mb-5 mt-3 table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    {{ _self.antibody_tools(false) }}
                    ID
                </th>
                <th scope="col">Name</th>
                <th scope="col">Epitope</th>
                <th scope="col">Host Organism</th>
                <th scope="col">Detection</th>
                <th scope="col">Vendor</th>
                <th scope="col">RRID</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in secondaryAntibodies %}
            {% set secondaryAntibody = entry[0] %}
            {# {% set secondaryAntibody = entry %} #}
            <tr>
                <th>
                    {{ _self.antibody_tools(secondaryAntibody) }}
                    {{ secondaryAntibody.number }}{{ validation_status(secondaryAntibody) }}
                </th>
                <td>{{ _self.format_antibody_name(secondaryAntibody) }}</td>
                <td>{{ pillify_epitopes(secondaryAntibody.epitopeTargets) }}</td>
                <td>{{ pillify_epitopes([secondaryAntibody.hostOrganism]) }}</td>
                <td>{{ secondaryAntibody.detection }}</td>
                <td>{{ vendor_url(secondaryAntibody.vendor, secondaryAntibody.vendorPn) }}</td>
                <td>{% if secondaryAntibody.rrid %}{{ rrid_resolver(secondaryAntibody.rrid)}}{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}