{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icons %}
{% from 'utility/substance_lot.html.twig' import lot %}
{% from 'utility/attachments.html.twig' import attachments %}

{% block title %}Gin :: Chemical :: {{ chemical.shortName }}{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {# Modified layout version #}
            {{ layout.header(chemical.shortName ~ " | " ~ chemical.longName, false, true, icons.chemical(true)) }}

            {{ layout.toolbox([
                {
                    "type": "up",
                    "target": url("app_compounds"),
                    "tooltipText": "Back to all chemicals",
                },
                {
                    "type": "edit",
                    "tooltipText": "Edit chemical",
                    "target": url("app_substance_edit", {"substance": chemical.ulid}),
                },
                {
                    "type": "add",
                    "tooltipText": "Add lot",
                    "target": url("app_substance_add_lot", {"substance": chemical.ulid}),
                },
            ]) }}


            <div class="row row-cols-1 row-cols-lg-2">
                {# Details #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Details", "Details") }}

                        {{ layout.card_body_collapse_start("Details") }}
                        <div class="card-body px-lg-5 mx-0">
                            <table class="table table-sm table-borderless table-hover">
                                <tbody>
                                {{ macros.definition_row("ID", chemical.ulid) }}
                                {{ macros.definition_row("Short name", chemical.shortName) }}
                                {{ macros.definition_row("Name", chemical.longName) }}

                                {% if chemical.labjournal %}
                                    {{ macros.definition_row("Labjournal", chemical.labjournal, chemical.labjournal) }}
                                {% else %}
                                    {{ macros.definition_row("Labjournal", "no entry") }}
                                {% endif %}

                                {% if chemical.vendor %}
                                    {{ macros.definition_row("Vendor", chemical.vendor.name, chemical.vendor.catalogUrl) }}
                                    {{ macros.definition_row("Vendor PN", chemical.vendorPN) }}
                                {% else %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Structure #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header("Structure") }}

                        {{ layout.card_body_start() }}
                        <div class="card-body px-lg-5 mx-0">
                            <div {{ stimulus_controller("smiles", {
                                "id": chemical.ulid,
                                "smiles": chemical.smiles,
                            }) }}>
                                <h3>Canonical smiles</h3>
                                <p class="font-monospace" {{ stimulus_target("smiles", "smiles") }}>{{ chemical.smiles }}</p>

                                <h3>Structure</h3>
                                <div class="text-center">
                                    <canvas class="border d-inline-block align-middle" {{ stimulus_target("smiles", "canvas") }} style="width: 500px"></canvas>
                                </div>
                            </div>
                        </div>
                        {{ layout.card_body_end() }}
                    </div>
                </div>

                {# Lot #}
                {{ lot(chemical) }}

                {{ attachments(chemical.attachments) }}
            </div>
        </div>
    </div>
{% endblock %}