{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icons %}

{% block title %}Gin :: Substance Import{% endblock %}

{% block body_container %}
    {{ layout.header("Substance Import", false, true, icons.oligo()) }}

    <div class="row row-cols-1" {{ stimulus_controller("import", {
        "data": null,
        "postUrl": postUrl,
    }) }}>
        <div class="col bg-white mx-3 mb-3 border p-3 p-lg-5">
            <div class="mb-3">
                <label for="import-controller-data" class="form-label">Copy-Paste your data and press on submit to continue</label>
                <textarea id="import-controller-data" {{ stimulus_target("import", "data") }} class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Delimiter</span>
                    <select class="form-select" {{ stimulus_target("import", "delimiter") }}>
                        <option value="auto" selected>Auto</option>
                        <option value="tab">Tabs</option>
                        <option value="space">Space</option>
                        <option value="comma">Comma (,)</option>
                        <option value="semicolon">Semi colon (;)</option>
                    </select>
                    <span class="input-group-text">Header</span>
                    <select class="form-select" {{ stimulus_target("import", "hasHeader") }}>
                        <option value="yes" selected>Yes</option>
                        <option value="no">No</option>
                    </select>
                    <button class="btn btn-primary form-control" {{ stimulus_action("import", "prepareImport", "click") }}>Start import</button>
                </div>
            </div>

            <div {{ stimulus_target("import", "importMeta") }}></div>
        </div>

        <div class="col bg-white mx-3 mb-3 border p-3 p-lg-5 collapse" {{ stimulus_target("import", "importAssignment") }} data-bs-toggle="collapse">
            {% for category in importForm|filter(e => e|length > 0) %}
                <fieldset class="gin-import-group border rounded-3 p-3 mb-3" data-name="{{ category.vars.name }}">
                    <legend>{{ form_label(category) }}</legend>
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th class="col-4" scope="col">Field</th>
                                <th class="col-4" scope="col">Column</th>
                                <th class="col-4" scope="col">Constant value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ _self.add_rows(category) }}
                        </tbody>
                    </table>
                </fieldset>
            {% endfor %}

            <div class="input-group input-group-sm">
                <span class="input-group-text">Validate only</span>
                <select class="form-select" {{ stimulus_target("import", "validateOnly") }}>
                    <option value="yes" selected>Yes</option>
                    <option value="no">No</option>
                </select>
                <span class="input-group-text">Ignore errors</span>
                <select class="form-select" {{ stimulus_target("import", "ignoreErrors") }}>
                    <option value="no" selected>No</option>
                    <option value="yes">yes</option>
                </select>
                <button class="btn btn-primary form-control" {{ stimulus_action("import", "runImport", "click") }}>Import data</button>
            </div>

        </div>

        <div class="col bg-white mx-3 mb-3 border p-3 p-lg-5 collapse" {{ stimulus_target("import", "errorMessages") }} data-bs-toggle="collapse"></div>
    </div>
{% endblock %}


{% macro add_rows(group) %}
    {%- for f in group -%}
        {% if f|length > 0 %}
            {{ _self.add_rows(f) }}
        {% else %}
            <tr class="gin-import-column" data-name="{{ f.vars.name }}">
                <td>{{ form_label(f) }}</td>
                <td><select class="gin-import-column-select form-select form-select-sm" name="column-{{ f.vars.full_name }}">
                        <option value="none">None</option>
                    </select></td>
                <td>{{ form_widget(f, {'attr': {'class': 'form-select-sm'}}) }}</td>
            </tr>
        {% endif %}
    {%- endfor -%}
{% endmacro %}