{% macro antibody(classOnly=false) %}
    {% if classOnly %}
        icon icon-antibody
    {% else %}
        <span class="icon icon-antibody"></span>
    {% endif %}
{% endmacro %}

{% macro antibody_primary(classOnly=false) %}
    {% if classOnly %}
        icon icon-antibody-primary
    {% else %}
        <span class="icon icon-antibody-primary-twocolor"><span class="path1"></span><span class="path2"></span></span>
    {% endif %}
{% endmacro %}

{% macro antibody_secondary(classOnly=false) %}
    {% if classOnly %}
        icon icon--antibody-secondary
    {% else %}
        <span class="icon icon-antibody-secondary-twocolor"><span class="path1"></span><span class="path2"></span></span>
    {% endif %}
{% endmacro %}

{% macro epitope(classOnly=false) %}
    {% if classOnly %}
        icon icon-epitope
    {% else %}
        <span class="icon icon-epitope-twocolor"><span class="path1"></span><span class="path2"></span></span>
    {% endif %}
{% endmacro %}

{% macro chemical(classOnly=false) %}
    {% if classOnly %}
        icon icon-chemical
    {% else %}
        <span class="icon icon-chemical"></span>
    {% endif %}
{% endmacro %}

{% macro protein(classOnly=false) %}
    {% if classOnly %}
        icon icon-protein
    {% else %}
    <span class="icon icon-protein"></span>
    {% endif %}
{% endmacro %}

{% macro oligo(classOnly=false) %}
    {% if classOnly %}
        icon icon-oligomer
    {% else %}
        <span class="icon icon-oligomer"></span>
    {% endif %}
{% endmacro %}

{% macro plasmid(classOnly=false) %}
    {% if classOnly %}
        icon icon-plasmid
    {% else %}
        <span class="icon icon-plasmid"></span>
    {% endif %}
{% endmacro %}

{% macro cell(classOnly=false) %}
    {% if classOnly %}
        icon icon-oligomer
    {% else %}
        <span class="icon icon-mammalian-cell"></span>
    {% endif %}
{% endmacro %}

{% macro any(any, classOnly=false) %}
    {% if any is substanceAntibody %}
        {{ _self.antibody(classOnly) }}
    {% elseif any is substanceChemical %}
        {{ _self.chemical(classOnly) }}
    {% elseif any is substanceOligo %}
        {{ _self.oligo(classOnly) }}
    {% elseif any is substanceProtein %}
        {{ _self.protein(classOnly) }}
    {% elseif any is substancePlasmid %}
        {{ _self.plasmid(classOnly) }}
    {% elseif any is cell %}
        {{ _self.cell(classOnly) }}
    {% endif %}
{% endmacro %}

{% macro span(class, classOnly=false) %}
    {% if classOnly %}{{ class }}{% else %}<span class="{{ class }}"></span>{% endif %}
{% endmacro %}

{% macro add(classOnly=false) %}
    {{ _self.span("fas fa-fw fa-plus", classOnly) }}
{% endmacro %}

{% macro trash(classOnly=false) %}
    {{ _self.span("fas fa-fw fa-trash-alt", classOnly) }}
{% endmacro %}

{% macro edit(classOnly=false) %}
    {{ _self.span("fa fa-fw fa-pen", classOnly) }}
{% endmacro %}

{% macro rack(classOnly=false, addClass="") %}
    {{ _self.span("fas fa-fw fa-boxes " ~ addClass, classOnly) }}
{% endmacro %}

{% macro box(classOnly=false, addClass="") %}
    {{ _self.span("fas fa-fw fa-box " ~ addClass, classOnly) }}
{% endmacro %}