
{% macro lot(substance) %}
    {% import 'layout.html.twig' as layout %}
    {% import 'macros.html.twig' as macros %}
    {% from 'utility/attachments.html.twig' import list_of_files %}

    <div class="col p-0 m-0 mb-3">
        <div class="card mx-3 h-100">
            {{ layout.card_header_collapse("Lots", "Lots", null, substance.lots|length) }}
            {{ layout.card_body_collapse_start("Lots") }}
            <div class="card-body px-lg-5 mx-0">
                {% if substance.lots|length == 0 %}
                    No lots registered.
                {% else %}
                    <div class="row row-cols-1">
                        {% for lot in substance.lots %}
                            <div class="col mb-2">
                                <div class="card">
                                    {{ layout.card_header_collapse(substance.shortName ~ "." ~ lot.number, lot.id, "sm") }}
                                    {{ layout.card_body_collapse_start(lot.id, "sm") }}

                                    {{ layout.toolbox_card([
                                        {
                                            "type": "edit",
                                            "tooltipText": "Edit lot",
                                            "target": url("app_substance_edit_lot", {"substance": substance.ulid, "lot": lot.id}),
                                        },
                                        {
                                            "type": "clipboard",
                                            "tooltipText": "Copy information",
                                            "clipboardText": (
                                                substance.longName
                                                ~ " ("
                                                ~ (substance is substanceAntibody ? (
                                                    (substance.vendor.name ?? "??")
                                                    ~ ", "
                                                    ~ (substance.vendorPN ?? "??")
                                                ) : (
                                                    (lot.vendor.name ?? "??")
                                                    ~ ", "
                                                    ~ (lot.vendorPN ?? "??")
                                                ))
                                                ~ ", Lot#" ~ lot.lotNumber
                                                ~ (substance.rrid is defined and substance.rrid ? ", RRID:" ~substance.rrid : "") ~ ")"
                                            ),
                                        }
                                    ], "sm") }}

                                    <div class="card-body px-lg-2">
                                        <table class="table table-sm table-borderless table-hover">
                                            <tbody>
                                            {{ macros.definition_row("Lot #", lot.lotNumber) }}
                                            {% if substance is not substanceAntibody %}
                                            {{ macros.definition_row_raw("Vendor", macros.vendor_url(lot.vendor, lot.vendorPN)) }}
                                            {% endif %}
                                            {{ macros.definition_row("Storage", lot.box) }}
                                            {{ macros.definition_row("Amount", lot.amount) }}
                                            {{ macros.definition_row("Concentration", lot.purity) }}

                                            {% if lot.numberOfAliquotes > 0 %}
                                                {{ macros.definition_row("Aliquots", lot.numberOfAliquotes ~ " (à " ~ lot.aliquoteSize ~ ")") }}
                                            {% else %}
                                                {{ macros.definition_row("Aliquots", "none") }}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>

                                    {{ list_of_files(lot.attachments) }}

                                    <div class="card-footer">
                                        <p class="text-muted">
                                            Bought by <em>{{ lot.boughtBy }}</em>
                                            on <em>{{ lot.boughtOn|date("d. M Y") }}</em>.
                                            Opened on <em>{{ lot.openedOn|date("d. M Y") }}</em>.
                                        </p>
                                    </div>
                                    {{ layout.card_body_collapse_end() }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {{ layout.card_body_collapse_end() }}
        </div>
    </div>
{% endmacro %}