<div{{ attributes }}>
    {{ form_start(form, formAttributes) }}

    {{ form_errors(form) }}

    <twig:Layout:Row cols="1" md="2" lg="3" xl="4">
        {% for child in form.children %}
            {% if child|length > 0 and child.vars.block_prefixes|length == 2 %}
                {% for subChild in child %}
                    <twig:Layout:Col type="none">
                        {{ form_row(subChild) }}
                    </twig:Layout:Col>
                {% endfor %}
            {% else %}
                <twig:Layout:Col type="none">
                    {{ form_row(child) }}
                </twig:Layout:Col>
            {% endif %}
        {% endfor %}
    </twig:Layout:Row>

    {% block content %}{% endblock %}

    {{ form_end(form) }}
</div>