<div{{ attributes.defaults(
    stimulus_controller("liveform")|merge({"class": "col-12"})
) }}>
    <div data-skip-morph>
        {{ form_start(form, {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': "submit",
            }
        }) }}

        {{ form_errors(form) }}

        {% set form_groups = form|filter(e => e|length > 0) %}

        {% if form_groups|length > 0 %}
            {% for group in form_groups %}
                <twig:Layout:Row cols="1">
                    <twig:Layout:Col>
                        <twig:ElementCard title="{{ group.vars.label }}">
                            {% for child in group %}
                                {{ form_row(child) }}
                            {% endfor %}
                        </twig:ElementCard>
                    </twig:Layout:Col>
                </twig:Layout:Row>
            {% endfor %}
        {% else %}
            {% for child in form.children %}
                <twig:Layout:Col type="none">
                    {{ form_row(child) }}
                </twig:Layout:Col>
            {% endfor %}
        {% endif %}
        </twig:Layout:Row>
    </div>

    <twig:Layout:Row cols="1">
        <twig:Layout:Col type="inner">
            {% block content %}
                <div>
                    <div>

                        {{ form_rest(form) }}
                    </div>

                    <div>
                        <button class="btn btn-primary">{{ submitButtonLabel }}</button>
                        {# <button class="btn btn-outline-primary" data-action="live#action:prevent" data-live-action-param="remember">Remember</button>  #}
                        <button class="btn btn-outline-primary" data-action="live#action:prevent" data-live-action-param="save">{{ saveButtonLabel }}</button>
                    </div>
                </div>
            {% endblock %}
        </twig:Layout:Col>
    </twig:Layout:Row>

    {{ form_end(form) }}
</div>