<div{{ attributes.defaults(
    stimulus_controller("liveform")|merge({"class": "col-12"})
) }}>
    <div data-loading="addClass(opacity-50 text-muted)">
        {{ form_start(form, {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': "submit",
            }
        }) }}

        {{ form_errors(form) }}

        {% set form_groups = form|filter(e => e|length > 0) %}

        {% if form_groups|length > 0 %}
            {% for group in form_groups %}
                <twig:Layout:Row cols="1">
                    <twig:Layout:Col>
                        <twig:ElementCard title="{{ group.vars.label }}">
                            {{ form_errors(group) }}

                            {% for child in group %}
                                {{ form_errors(child) }}

                                {{ form_row(child) }}
                            {% endfor %}
                        </twig:ElementCard>
                    </twig:Layout:Col>
                </twig:Layout:Row>
            {% endfor %}
        {% else %}
            <twig:Layout:Row cols="1">
                {% for child in form.children %}
                    <twig:Layout:Col type="none">
                        {{ form_row(child) }}
                    </twig:Layout:Col>
                {% endfor %}
            </twig:Layout:Row>
        {% endif %}
    </div>

    <twig:Layout:Row cols="1">
        {% if saved is defined and saved %}
            <twig:Layout:Col type="inner">
                <div class="alert alert-success w-100" data-loading="hide">
                    Successfully saved!
                </div>
            </twig:Layout:Col>
        {% endif %}

        <twig:Layout:Col type="inner">
            {% block content %}
                <div>
                    <div>
                        {{ form_rest(form) }}
                    </div>

                    <div class="d-inline-flex">
                        <button class="btn btn-primary d-inline-flex" data-action="live#action:prevent" data-live-action-param="submit">
                                <span>
                                    {{ submitButtonLabel }}
                                </span>

                            <span class="spinner-border spinner-border-sm" role="status" data-loading="action(submit)|show">
                                    <span class="visually-hidden">Loading...</span>
                                </span>
                        </button>
                        {# <button class="btn btn-outline-primary" data-action="live#action:prevent" data-live-action-param="remember">Remember</button>  #}
                        <button class="btn btn-outline-primary d-inline-flex" data-action="live#action:prevent" data-live-action-param="save">
                                <span>
                                    {{ saveButtonLabel }}
                                </span>

                            <span class="spinner-border spinner-border-sm" role="status" data-loading="action(save)|show">
                                    <span class="visually-hidden">Loading...</span>
                                </span>
                        </button>
                    </div>
                </div>
            {% endblock %}
        </twig:Layout:Col>
    </twig:Layout:Row>

    {{ form_end(form) }}
</div>