<div{{ attributes.defaults(
    stimulus_controller("liveform")|merge({"class": "col-12"})
) }}>
    <div>
        {{ form_start(form, {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': "submit",
            }
        }) }}

        {{ form_errors(form) }}

        {% if errors is defined and errors|length > 0 %}
            <div class="alert alert-danger">
                {{ errors }}
            </div>
        {% endif %}

        <twig:Layout:Row cols="1">
            {% set form_groups = form|filter(e => e|length > 0) %}

            {% if form_groups|length > 0 %}
                <twig:Layout:Tabbed>
                    {% set tabs = "" %}
                    {% set tab_containers = "" %}

                    {% for group in form_groups %}
                        {% set tabs %}
                            {{ tabs }}

                            <twig:Layout:Tab
                                key="{{ group.vars.name }}"
                                label="{{ group.vars.label }}"
                                active="{{ loop.index0 == 0 ? true : false }}"
                            />
                        {% endset %}

                        {% set tab_containers %}
                            {{ tab_containers }}

                            <twig:Layout:TabContent
                                key="{{ group.vars.name }}"
                                label="{{ group.vars.label }}"
                                active="{{ loop.index0 == 0 ? true : false }}"
                            >
                                {% if group.vars.errors|length > 0 %}
                                    <div class="is-invalid my-3">
                                        {{ form_errors(group) }}
                                    </div>
                                {% endif %}

                                {% for child in group %}
                                    {% if not child.rendered %}
                                        <div class="col">
                                            {{ form_row(child) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </twig:Layout:TabContent>
                        {% endset %}
                    {% endfor %}

                    <twig:Layout:Tabs>
                        {{ tabs }}
                    </twig:Layout:Tabs>

                    <twig:Layout:TabContentContainer>
                        {{ tab_containers }}
                    </twig:Layout:TabContentContainer>
                </twig:Layout:Tabbed>
            {% else %}
                {% for child in form.children %}
                    <twig:Layout:Col type="none">
                        {{ form_row(child) }}
                    </twig:Layout:Col>
                {% endfor %}
            {% endif %}
        </twig:Layout:Row>

        <twig:Layout:Row cols="1">
            {% if saved is defined and saved %}
                <twig:Layout:Col>
                    <div class="alert alert-success w-100" data-loading="hide">
                        Successfully saved!
                    </div>
                </twig:Layout:Col>
            {% endif %}

            <twig:Layout:Col type="inner">
                {% block content %}
                    <div>
                        <div>
                            {{ form_rest(form) }}
                        </div>

                        <div class="d-inline-flex">
                            <button class="btn btn-primary d-inline-flex" data-action="live#action:prevent" data-live-action-param="submit">
                                <span>
                                    {{ submitButtonLabel }}
                                </span>

                                <span class="spinner-border spinner-border-sm" role="status" data-loading="action(submit)|show">
                                    <span class="visually-hidden">Loading...</span>
                                </span>
                            </button>
                            {# <button class="btn btn-outline-primary" data-action="live#action:prevent" data-live-action-param="remember">Remember</button>  #}
                            <button class="btn btn-outline-primary d-inline-flex" data-action="live#action:prevent" data-live-action-param="save">
                                <span>
                                    {{ saveButtonLabel }}
                                </span>

                                <span class="spinner-border spinner-border-sm" role="status" data-loading="action(save)|show">
                                    <span class="visually-hidden">Loading...</span>
                                </span>
                            </button>
                        </div>
                    </div>
                {% endblock %}
            </twig:Layout:Col>
        </twig:Layout:Row>

    {{ form_end(form) }}
    </div>
</div>
