{%- extends 'homepage.html.twig' -%}

{%- block title -%}Gin :: Experiment :: {{ design.number }}{%- endblock -%}

{% set has_models = design.models|length > 0 and run.conditions|map((c) => c.models|length)|sum > 0 ? true : false %}


{%- block body_main -%}
<div class="row">
    <div class="container container-fluid w-100 p-0 m-0">
        <twig:PageHeader title="{{ design.number }} - {{ design.shortName }}" :subTitle="run.name" icon="experiment" barcode />

        {% if toolbox is defined %}
            <twig:Layout:Row>
                <twig:Layout:Col type="inner">
                    <twig:Toolbox :toolbox="toolbox"></twig:Toolbox>
                </twig:Layout:Col>
            </twig:Layout:Row>
        {% endif %}

        <twig:Layout:Row cols="{{ has_models ? 2 : 1 }}">
            <twig:Layout:Col type="outer">
                <twig:ElementCard title="Overview" class="mb-3">
                    <twig:Metadata
                        columns="4"
                        data="{{ {
                            "ID": run.id.toRfc4122,
                            "Name": run.name,
                            "Scientist": run.scientist,
                            "LabJournal": (run.labJournal ? ["ExternalUrl", {
                                "title": "Link",
                                "href": run.labjournal
                            }] : ""),
                            "Created at": ["date", run.createdAt],
                            "Modified at": ["date", run.modifiedAt],
                        } }}"
                    />

                    {{ run.comment }}
                </twig:ElementCard>

                {%- if design.fields|filter((f) => f.role.name == "Top" and f.isExposed == true)|length > 0 -%}
                    <twig:ElementCard title="Run data" class="mb-3">
                        {%- set metaData = {} -%}
                        {%- for field in design.fields|filter((f) => f.role.name == "Top") -%}
                            {%- set metaData = metaData|merge({(field.label): ["datum", {
                                "field": field,
                                "formRow": field.formRow,
                                "datum": run.data[field.formRow.fieldName] is defined ? run.data[field.formRow.fieldName].value : "",
                            }]}) -%}
                        {%- endfor -%}
                        <twig:Metadata
                            columns="4"
                            :data="metaData"
                        />
                    </twig:ElementCard>
                {%- endif -%}
            </twig:Layout:Col>

            {% if has_models %}
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Models" class="mb-3">
                        <twig:Layout:Tabbed>
                            <twig:Layout:Tabs>
                                {% for model in design.models %}
                                    <twig:Layout:Tab
                                        :key="model.model"
                                        :label="model.name"
                                        active="{{ loop.index0 == 0 ? true : false }}"
                                    />
                                {% endfor %}
                            </twig:Layout:Tabs>


                            <twig:Layout:TabContentContainer>
                                {% for model in design.models %}
                                    <twig:Layout:TabContent
                                        :key="model.model"
                                        :label="model.name"
                                        active="{{ loop.index0 == 0 ? true : false }}"
                                    >
                                        <twig:Experiment:ModelView :model="model" :run="run" />
                                    </twig:Layout:TabContent>
                                {% endfor %}
                            </twig:Layout:TabContentContainer>
                        </twig:Layout:Tabbed>
                    </twig:ElementCard>
                </twig:Layout:Col>
            {% endif %}
        </twig:Layout:Row>

        <twig:Layout:Row cols="1">
            <twig:Layout:Col type="outer">
                {%- if conditionTable.data|length > 0 -%}
                <twig:ElementCard title="Conditions" class="mb-3">
                    <twig:Table :table="conditionTable" />
                </twig:ElementCard>
                {%- endif -%}

                {%- if comparisonTable.data|length > 0 -%}
                <twig:ElementCard title="Comparisons" class="mb-3">
                    <twig:Table :table="comparisonTable" />
                </twig:ElementCard>
                {%- endif -%}

                {%- if datasetTable.data|length > 0 -%}
                    <twig:ElementCard title="Data" class="mb-3">
                        <twig:Table :table="datasetTable" />
                    </twig:ElementCard>
                {%- endif -%}
            </twig:Layout:Col>
        </twig:Layout:Row>
    </div>
</div>
{%- endblock -%}