{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}

{% block title %}Gin :: Experiments{% endblock %}

{% macro show_children(type) %}
    {% if type.children|length > 0 %}
        <div class="row">
            {% for child_type in type.children %}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse(child_type.name, child_type.id, "sm") }}


                        {{ layout.card_body_collapse_start(child_type.id, "sm") }}
                        {% if child_type.description %}
                            <div class="card-body border-bottom">
                                {{ child_type.description }}
                            </div>
                        {% endif %}

                        {% if child_type.experiments|length > 0 %}
                            <div class="card-body border-bottom">
                                {{ _self.show_table(child_type) }}
                            </div>
                        {% endif %}

                        <div class="card-body">
                            {{ _self.show_children(child_type) }}
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro show_table(type) %}
    {% if type.experiments|length > 0 %}
        <table class="table table-sm full table-borderless table-hover fancyTable">
            <thead>
                <tr>
                    <th>
                        <span class="btn-group mr-3" style="visibility: hidden;">
                            <a class="btn btn-sm btn-primary"><span class="fa fa-eye"></span></a>
                            <a class="btn btn-sm btn-primary"><span class="fa fa-plus"></span></a>
                            <a class="btn btn-sm btn-primary"><span class="fa fa-download"></span></a>
                        </span>
                    </th>
                    <th>
                        Experiment
                    </th>
                    <th># Runs</th>
                </tr>
            </thead>
            <tbody>
                {% for experiment in type.experiments -%}
                    <tr>
                        <td>
                            <span class="btn-group mr-3">
                                <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="List runs"
                                   href="{{ url("app_experiments_view", {"experiment": experiment.id}) }}"
                                ><span class="fa fa-eye"></span></a>
                                <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Create a new run"
                                   href="{{ url("app_experiments_new_run", {"experiment": experiment.id}) }}"
                                ><span class="fa fa-plus"></span></a>
                                <a class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Get raw data"
                                   href="{{ url("api_runs", {"experiment": experiment.id}) }}"
                                ><span class="fas fa-fw fa-download"></span></a>
                            </span>
                        </td>
                        <td>
                            {{ experiment.name }}
                        </td>
                        <td>
                            {{ experiment.experimentalRuns|length }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header("Experiments") }}

            {{
            layout.toolbox([
                {
                    "type": "add",
                    "disabled": true,
                    "tooltipText": "Add new experiment",
                },
            ])
            }}

            <div class="row row-cols-1">
                {% for type in (experiment_types|filter(t => t.parent is null )) %}
                    <div class="col p-0 m-0 mb-3">
                        <div class="card mx-3 h-100">
                            {{ layout.card_header_collapse(type.name, type.id) }}


                            {{ layout.card_body_collapse_start(type.id) }}
                            {% if type.description %}
                                <div class="card-body border-bottom">
                                    {{ type.description }}
                                </div>
                            {% endif %}

                            {% if type.experiments|length > 0 %}
                                <div class="card-body border-bottom">
                                    {{ _self.show_table(type) }}
                                </div>
                            {% endif %}

                            <div class="card-body">
                                {{ _self.show_children(type) }}
                            </div>
                            {{ layout.card_body_collapse_end() }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}