<div {{ attributes }}>
    <details class="mb-3">
        <summary class="text-bold h5 mb-3">Quick order form</summary>

        <p class="text-muted">This form only adds lots - it does not actually place an order.</p>

        <twig:Form:CompactForm :form="form" formAttributes="{{ {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': 'placeQuickOrder'
            }
        } }}">
            <button class="btn btn-outline-primary">Place order</button>
        </twig:Form:CompactForm>
    </details>


    <button {{ live_action("toggleShowEmpty") }} class="btn btn-outline-primary mb-3">
        <twig:Icon icon="{{ showEmpty ? "view" : "hidden" }}" /> {{ showEmpty ? "Empty shown" : "Empty hidden" }}
    </button>

    <ul class="list-group">
        {% for lot in this.lots|sort((a, b) => (a.sortValue == b.sortValue ? a.lotIdentifier <=> b.lotIdentifier : b.sortValue <=> a.sortValue)) %}
            {% set bg_color = "" %}
            {% if lot.availability.value == "ordered" %}
                {% set bg_color = "bg-warning-subtle"  %}
            {% elseif lot.availability.value == "empty" %}
                {% set bg_color = "bg-secondary-subtle"  %}
            {% elseif lot.isPristine() %}
                {% set bg_color = "" %}
            {% endif %}

            <li class="list-group-item px-0 {{ bg_color }}" id="gin-consumable-lot-{{ lot.id }}">
                <div class="list-group-item-tools">
                    <div class="" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-fw"></i>
                    </div>

                    <twig:Toolbox asDropdown="true" :toolbox="this.lotTools(lot)" size="sm" />
                </div>

                <div class="list-group-item-label">
                    <div class="d-flex justify-content-between align-items-start mb-3">
                        <div class="ms-2 me-auto">
                            <div><strong>{{ lot.lotIdentifier }}</strong></div>
                            <div>Location: {{ lot.location is empty ? "unknown" : lot.location.pathName }}</div>
                        </div>
                        <div class="text-end">
                            {% if lot.availability.value == "available" %}
                                <div>{{ lot.availability.value }}</div>
                                <div class="text-muted">{{ lot.arrivedOn is empty ? "unknown" : lot.arrivedOn|date("D, d M Y") }}</div>
                            {% elseif lot.availability.value == "ordered" or lot.availability.value == "in preparation" %}
                                <div>{{ lot.availability.value }}</div>
                                <div class="text-muted">{{ lot.boughtOn is empty ? "unknown" : lot.boughtOn|date("D, d M Y") }}</div>
                            {% else %}
                                <div>{{ lot.availability.value }}</div>
                            {% endif %}
                        </div>
                    </div>

                    {% if lot is same as(selectedLot) %}
                        <twig:Metadata data="{{ {
                            "Identifier": ["", selectedLot.lotIdentifier],
                            "Consumable": ["entity", selectedLot.consumable],
                            "Category": ["entity", selectedLot.consumable.category],
                            "#Units per package": ["", selectedLot.numberOfUnits],
                            "#Pieces per unit": ["", selectedLot.unitSize],
                            "Location": ["", selectedLot.location is empty ? "unknown" : selectedLot.location.pathName],
                            "Price per package": ["", selectedLot.pricePerPackage.priceValue/1000 ~ " " ~ selectedLot.pricePerPackage.priceCurrency],
                            "Bought by": ["", selectedLot.boughtBy],
                            "Bought on": ["date", selectedLot.boughtOn],
                            "Arrived on": selectedLot.arrivedOn ? ["date", selectedLot.arrivedOn] : ["", "never"],
                            "Time to arrive": ["", selectedLot.arrivedOn is empty or selectedLot.boughtOn is empty ? "n.d." : (
                                ((selectedLot.boughtOn.diff(selectedLot.arrivedOn).days/7)|round(0, "floor")) ~ " weeks, " ~
                                ((selectedLot.boughtOn.diff(selectedLot.arrivedOn).days%7)|round(0, "floor")) ~ " days"
                            )],
                            "Opened on": selectedLot.openedOn ? ["date", selectedLot.openedOn] : ["", "never"],
                        } }}" />
                    {% endif %}

                    <twig:ProgressBar :current="lot.totalAvailablePieces" :max="lot.totalAmountOfPieces" />
                </div>
            </li>
        {% endfor %}
    </ul>
</div>