<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/lumen/bootstrap.min.css" integrity="sha256-0CBEGZPfIKqXlsN64tyG4Miq7fdqf8Nd0oUaLtqLklE=" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="h-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url("app_homepage") }}">Cell Genie</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if app.user %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-white">
                    <li class="nav-item"><span class="nav-link">Hi, {{ app.user.fullName }}</span></li>

                    <li class="nav-item"><a class="nav-link" href="{{ url("admin") }}">Edit data</a></li>

                    <li class="nav-item"><a class="nav-link" href="{{ logout_url(key = null) }}"><span class="fas fa-sign-out-alt"></span> Logout</a></li>
                </ul>
            </div>
            {% endif %}

            <!--

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <! --
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                -- >
            </div>-->
        </nav>

        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/smiles-drawer@1.2.0/dist/smiles-drawer.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
        <script type="application/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip({"html": true})
            });
        </script>
        <script type="application/javascript">
            new ClipboardJS('.btn-clipboard');
        </script>
        <script type="application/javascript">
            let canvas = $('[data-smiles-type="small"]');
            let options = {
                width: 100,
                height: 100,
                bondThickness: 1.0,
                bondLength: 10,
                shortBondLength: 0.6,
                bondSpacing: 0.25 * 10,
                fontSizeLarge: 6,
                fontSizeSmall: 4,
                padding: 20.0,
            };

            // Initialize the drawer to draw to canvas
            let smilesDrawer = new SmilesDrawer.Drawer(options);
            // Alternatively, initialize the SVG drawer:
            // let svgDrawer = new SmilesDrawer.SvgDrawer(options);

            canvas.each(function(index, canvas) {
                console.log(canvas.dataset.smiles)
                SmilesDrawer.parse(canvas.dataset.smiles, function(tree) {
                    smilesDrawer.draw(tree, canvas, "light", false)
                })
            })

            let largeCanvas = $('[data-smiles-type="large');
            let largeOptions = {width: 200, height: 200,
                bondThickness: 1.0,
                bondLength: 10,
                shortBondLength: 0.6,
                bondSpacing: 0.25 * 10,
                fontSizeLarge: 6,
                fontSizeSmall: 4,
                padding: 20.0,}

            // Initialize the drawer to draw to canvas
            let largeSmilesDrawer = new SmilesDrawer.Drawer(largeOptions);
            // Alternatively, initialize the SVG drawer:
            // let svgDrawer = new SmilesDrawer.SvgDrawer(options);

            largeCanvas.each(function(index, canvas) {
                console.log(canvas.dataset.smiles)
                SmilesDrawer.parse(canvas.dataset.smiles, function(tree) {
                    largeSmilesDrawer.draw(tree, canvas, "light", false)
                })
            })
        </script>
    </body>
</html>
