{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}Cell Genie: Compounds{% endblock %}

{% block body_main %}
    <h1 class="row">Compounds</h1>

    <div class="row">

        <canvas data-smiles-type="large" data-smiles="{{ chemical.smiles ? chemical.smiles : "" }}" class="border-light border"></canvas>

        <dl class="row ml-3 col-sm-3">
            {{ macros.definition_row("ID", chemical.id) }}
            {{ macros.definition_row("Short name", chemical.shortName) }}
            {{ macros.definition_row("Name", chemical.longName) }}

            {% if chemical.labjournal %}
                {{ macros.definition_row("Labjournal", chemical.labjournal, chemical.labjournal) }}
            {% else %}
                {{ macros.definition_row("Labjournal", "no entry") }}
            {% endif %}

            {% if chemical.vendor %}
                {{ macros.definition_row("Vendor", chemical.vendor.name, chemical.vendor.catalogUrl) }}
                {{ macros.definition_row("Vendor PN", chemical.vendorPN) }}
            {% else %}
            {% endif %}
        </dl>
    </div>

    <div class="row mt-3">
        <h2>Experiments</h2>
    </div>
{% endblock %}