{% extends 'homepage.html.twig' %}
{% import 'utility/icons.html.twig' as icons %}

{% macro make_card(name, symbol, target) %}
    <div class="col mb-2">
        <div class="card w-100 p-2 text-center">
            <a href="{{ target }}" class="link-dark text-decoration-none">
                <span class="card-img-top display-3 {{ symbol }}"></span> <br />
                <span class="card-text">{{ name }}</span>
            </a>
        </div>
    </div>
{% endmacro %}

{% block title %}Gin{% endblock %}

{% block body_main %}
    <div class="row mb-5">
        <div class="container container-fluid w-100 p-0 m-0">
            <twig:Layout:Row cols="1" class="d-lg-none">
                <twig:Layout:Col>
                    <div class="bg-white m-2">
                        <div id="qr-reader" style="display: none"></div>
                        <div id="qr-reader-results"></div>
                    </div>
                </twig:Layout:Col>
            </twig:Layout:Row>

            <twig:Layout:Row cols="3" class="gx-2 gy-2 d-lg-none">
                <twig:Layout:Col>
                    <div class="card w-100 p-2 text-center">
                        <a id="qr-reader-toggle" class="link-dark text-decoration-none" data-homepage="{{ path("app_homepage") }}">
                            <div class="card-img-top display-3 "><span class="fas fa-fw fa-qrcode"></span></div>
                            <div class="card-text">Scan</div>
                        </a>
                    </div>
                </twig:Layout:Col>

                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Cells" icon="cell" target="{{ path("app_cells_all") }}" /></twig:Layout:Col>
                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Cell Cultures" icon="cellCulture" target="{{ path("app_cell_cultures") }}" /></twig:Layout:Col>

                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Antibodies" icon="antibody" target="{{ path("app_antibodies") }}" /></twig:Layout:Col>
                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="1° Antibodies" icon="antibody.primary" target="{{ path("app_antibodies", {"antibodyType": "primaries"}) }}" /></twig:Layout:Col>
                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="2° Antibodies" icon="antibody.secondary" target="{{ path("app_antibodies", {"antibodyType": "secondaries"}) }}" /></twig:Layout:Col>

                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Chemicals" icon="chemical" target="{{ path("app_compounds") }}" /></twig:Layout:Col>
                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Proteins" icon="protein" target="{{ path("app_proteins") }}" /></twig:Layout:Col>
                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Oligos" icon="oligo" target="{{ path("app_oligos") }}" /></twig:Layout:Col>
                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Plasmids" icon="plasmid" target="{{ path("app_plasmids") }}" /></twig:Layout:Col>

                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Recipes" icon="recipe" target="{{ path("app_recipes") }}" /></twig:Layout:Col>
                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Instruments" icon="instrument" target="{{ path("app_instruments") }}" /></twig:Layout:Col>
                <twig:Layout:Col class="mb-2"><twig:Layout:CardNav label="Resources" icon="resource" target="{{ path("app_resources") }}" /></twig:Layout:Col>
            </twig:Layout:Row>

            <div class="row justify-content-center">
                <div class="col col-sm-12 col-md-12 col-lg-6 p-1">
                    <h1 class="bg-white m-0 p-5 border">System changes</h1>
                    {% if systemMessages > 0 %}
                        {% for message in systemMessages.messages %}
                            <div class="bg-white mt-3 border">
                                <h2 class="bg-dark text-white p-3 border-bottom border-dark">{{ message.title }}</h2>

                                <div class="p-3">
                                    {{ message.body|raw }}
                                </div>

                                <p class="px-3">
                                    <small class="text-muted">{{ message.date|date("d. F Y H:i") }} by {{ message.author }}</small>
                                </p>
                            </div>
                        {% endfor -%}
                    {% endif -%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
