{% macro header(title, subtitle) %}
    <div class="row">
        <div class="col bg-white mx-3 mb-3 border d-flex align-items-center">
            <div class="float-lg-start p-3 p-lg-5 flex-fill">
                {% if subtitle %}
                    <h2 class="text-muted">{{ subtitle }}</h2>
                {% endif %}

                <h1>{{ title }}</h1>
            </div>

            <div class="d-none d-lg-block float-lg-end p-2 py-auto">{{ app.request.pathInfo|GinPathQRCode }}</div>
        </div>
    </div>
{% endmacro %}

{% macro toolbox_content(tools, size="md") %}
    {% set btnGroupClass = size == "lg" ? "btn-group-lg" : (size == "sm" ? "btn-group-sm" : "") %}

    <div class="btn-group {{ btnGroupClass }}" role="group" aria-label="tools">
        {% for tool in tools %}
            {% set iconClass = "" %}
            {% set btnClass = "" %}

            {% if tool.iconClass is defined %}
                {% set iconClass = tool["iconClass"] %}
            {% endif %}

            {% if tool.btnClass is defined %}
                {% set btnClass = tool["btnClass"] %}
            {% endif %}

            {% if tool.type is defined %}
                {% if tool.type == "add" %}
                    {# Add a new entry #}
                    {% set iconClass = "fas fa-fw fa-plus" %}
                    {% set btnClass = "btn-primary" %}
                {% elseif tool.type == "clipboard"%}
                    {# Copy entry reference #}
                    {% set iconClass = "far fa-fw fa-clipboard" %}
                    {% set btnClass = "btn-primary" %}
                {% elseif tool.type == "edit" %}
                    {# Edit entry #}
                    {% set iconClass = "fa fa-fw fa-pen" %}
                    {% set btnClass = "btn-primary" %}
                {% elseif tool.type == "edit-table" %}
                    {# Edit single entry #}
                    {% set iconClass = "fa fa-fw fa-edit" %}
                    {% set btnClass = "btn-primary" %}
                {% elseif tool.type == "clone" %}
                    {# Clone entry #}
                    {% set iconClass = "fas fa-fw fa-clone" %}
                    {% set btnClass = "btn-primary" %}
                {% elseif tool.type == "view" %}
                    {# View #}
                    {% set iconClass = "far fa-fw fa-eye" %}
                    {% set btnClass = "btn-primary" %}
                {% elseif tool.type == "trash" %}
                    {# Trash #}
                    {% set iconClass = "fas fa-fw fa-trash-alt" %}
                    {% set btnClass = "btn-warning" %}
                {% elseif tool.type == "restore" %}
                    {# Restore #}
                    {% set iconClass = "fas fa-fw fa-trash-restore" %}
                    {% set btnClass = "btn-warning" %}
                {% elseif tool.type == "up" %}
                    {# Hierarchy up #}
                    {% set iconClass = "fas fa-fw fa-arrow-up" %}
                    {% set btnClass = "btn-secondary" %}
                {% elseif tool.type == "back" %}
                    {# Hierarchy up #}
                    {% set iconClass = "fas fa-fw fa-arrow-left" %}
                    {% set btnClass = "btn-secondary" %}
                {% endif %}
            {% endif %}

            {% set classTrail = "btn " ~ btnClass %}

            {% if tool.disabled is defined and tool.disabled == true %}
                {% set classTrail = classTrail ~ " disabled"  %}
            {% endif %}

            {% if too.clipboardText is defined %}
                {% set classTrail = classTrail ~ " btn-clipboard" %}
            {% endif %}

            <a
                    {% if tool.target is defined %}
                        href="{{ tool.target }}"
                    {% endif %}

                    class="btn {{ classTrail }}"

                    {% if tool.confirmationRequired is defined %}
                        onclick='return confirm("{{ tool.confirmationText is defined ? tool.confirmationText : 'Are you sure?' }}")'
                    {% endif %}

                    {% if tool.tooltipText is defined %}
                        data-toggle="tooltip" data-placement="bottom" title="{{ tool.tooltipText }}"
                    {% endif %}

                    {% if tool.clipboardText is defined %}
                        data-clipboard-text="{{ tool.clipboardText }}"
                    {% endif %}
            >
                <span class="{{ iconClass }}"></span>
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro toolbox_card(tools, size="md") %}
    <div class="card-body border-bottom py-1 px-lg-5">
        {{ _self.toolbox_content(tools, size) }}
    </div>
{% endmacro %}

{% macro toolbox(tools) %}
    <div class="row">
        <div class="col p-0 m-0">
            <div class="bg-white mx-3 mb-3 border py-2 px-3 px-lg-5">
                {{ _self.toolbox_content(tools) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro card_header(title) %}
    <div class="card-header">
        <h2 class="mb-0 d-lg-none">
            <button class="btn btn-lg w-100 text-start">
                {{ title }}
            </button>
        </h2>
        <h2 class="mb-0 text-right d-none d-lg-block">
            {{ title }}
        </h2>
    </div>
{% endmacro %}

{% macro card_header_collapse(title, idPart, size="lg") %}
    {% set headerTag = size == "lg" ? "h2" : "h3" %}
    {% set sizeClasses = size == "lg" ? "px-lg-4 " : "px-lg-2" %}

    <div class="card-header" id="collapse{{ idPart }}Header">
        <{{ headerTag }} class="mb-0 d-lg-none">
            <button class="btn btn-lg w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapse{{ idPart }}Content" aria-expanded="false" aria-controls="collapse{{ idPart }}Content">
                {{ title }}
            </button>
        </{{ headerTag }}>
        <{{ headerTag }} class="mb-0 text-right d-none d-lg-block {{ sizeClasses }}">
            {{ title }}
        </{{ headerTag }}>
    </div>
{% endmacro %}

{% macro card_body_start() %}
    <div class="px-lg-4 overflow-auto">
{% endmacro %}

{% macro card_body_end() %}
    </div>
{% endmacro %}

{% macro card_body_collapse_start(idPart, size="lg") %}
    {% set sizeClasses = size == "lg" ? "px-lg-4 " : "px-lg-2" %}
    {% set sizeClasses = "" %}

    <div id="collapse{{ idPart }}Content" class="collapse d-lg-block overflow-auto {{ sizeClasses }}" aria-labelledby="collapse{{ idPart }}Header">
{% endmacro %}

{% macro card_body_collapse_end() %}
    </div>
{% endmacro %}