{% macro definition_row(n, d, url = none) %}
    <dt class="col-sm-4">{{ n }}</dt>
    {% if url %}
        <dd class="col-sm-8"><a href="{{ url }}">{{ d }}</a></dd>
    {% else %}
        <dd class="col-sm-8">{{ d }}</dd>
    {% endif %}
{% endmacro %}

{% macro make_box(box, aliquotes, currentCell, currentAliquote = null) %}
    {% set contents = [] %}
    {% for aliquote in aliquotes %}
        {% for i in range(0, aliquote.vials-1) %}
            {% set contents = contents|merge([aliquote]) %}
        {% endfor %}
    {% endfor %}

    <svg width="200" height="200">
        {% if box.cols < box.rows %}
            {% set s = 200/box.rows %}
        {% else %}
            {% set s = 200/box.cols %}
        {% endif %}

    {% set r = s/2 %}

    {% for i in range(0, box.rows) %}
        {% for j in range(0, box.cols) %}
            {% set n = i*box.cols + j %}

            {% if n<contents|length %}
                {% if currentAliquote %}
                    {% if currentAliquote.id == contents[n].id %}
                        <rect x="{{ j*s }}" y="{{ i*s }}" width="{{ s }}" height="{{ s }}" stroke="black" fill="skyblue" stroke-width="1px" />
                    {% else %}
                        <rect x="{{ j*s }}" y="{{ i*s }}" width="{{ s }}" height="{{ s }}" stroke="gray" fill="none" stroke-width="1px" />
                    {% endif %}
                {% else %}
                    <rect x="{{ j*s }}" y="{{ i*s }}" width="{{ s }}" height="{{ s }}" stroke="gray" fill="none" stroke-width="1px" />
                {% endif %}

                {% if currentCell.id == contents[n].cell.id %}
                    <a
                        href="{{ url("app_cell_aliquote_view", {"cellId": contents[n].cell.id, "aliquoteId": contents[n].id}) }}"
                        data-toggle="tooltip" data-placement="bottom"
                        title="{{ contents[n].cell.name }}, aliquote {{ contents[n].id }}, passage {{ contents[n].passage }},<br> vials left: {{ contents[n].vials }}"
                    >
                        <circle cx="{{ j*s+r }}" cy="{{ i*s+r }}" r="{{ r }}" fill="{{ contents[n].vialColor }}" stroke="black" stroke-width="1px"></circle>
                    </a>
                {% else %}
                    <a
                        href="{{ url("app_cell_aliquote_view", {"cellId": contents[n].cell.id, "aliquoteId": contents[n].id}) }}"
                        data-toggle="tooltip" data-placement="bottom"
                        title="{{ contents[n].cell.name }}, aliquote {{ contents[n].id }}, passage {{ contents[n].passage }},<br> vials left: {{ contents[n].vials }}"
                    >
                        <circle cx="{{ j*s+r }}" cy="{{ i*s+r }}" r="{{ r }}" fill="gray" stroke="black" stroke-width="1px"></circle>
                    </a>
                {% endif %}
            {% else %}
                <rect x="{{ j*s }}" y="{{ i*s }}" width="{{ s }}" height="{{ s }}" stroke="gray" fill="none" stroke-width="1px" />
            {% endif %}
        {% endfor %}
    {% endfor %}
    </svg>
{% endmacro %}

{% macro vendor_url(vendor, pn) %}
    {% if vendor %}
        {% if pn %}
            {% if "{pn}" in vendor.catalogUrl %}
                {% set vendor_url = vendor.catalogUrl|replace({"{pn}": pn}) %}
            {% else %}
                {% set vendor_url = vendor.catalogUrl ~ pn %}
            {% endif %}
        {% else %}
            {% set vendor_url = vendor.catalogUrl|replace({"{pn}": ""}) %}
        {% endif %}

        <a class="fa fa-external-link" href="{{ vendor_url }}">{{ vendor }}{% if pn %} ({{ pn }}){% endif %}</a>
    {% endif %}
{% endmacro %}

{% macro validation_status(antibody) %}
    {% if antibody.validatedInternally %}
        <span class="text-success">✓</span>
    {% endif %}

    {% if antibody.validatedExternally %}
        {% if antibody.externalReference %}
            <a class="text-warning" href="https://doi.org/{{ antibody.externalReference }}">✓</a>
        {% else %}
            <span class="text-warning">✓</span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro rrid_resolver(rrid) %}
    {% if rrid %}
        <a href="https://scicrunch.org/resolver/{{ rrid }}">{{ rrid }}</a>
    {% else %}
        (missing)
    {% endif %}
{% endmacro %}

{% macro pillify_proteins(proteins) %}
    {% for protein in proteins %}
        <a class='badge rounded-pill bg-primary text-light' href='{{ url("app_protein_view", {"proteinId": protein.id}) }}'>{{ protein }}</a>
    {% endfor %}
{% endmacro %}