{% macro definition_row(n, d, url = none) %}
    <tr>
        <th>{{ n }}</th>
        {% if url %}
            <td><a href="{{ url }}">{{ d }}</a></td>
        {% else %}
            <td>{{ d }}</td>
        {% endif %}
    </tr>
{% endmacro %}

{% macro definition_row_raw(n, d) %}
    {# <dt class="col-sm-4">{{ n }}</dt>
    <dd class="col-sm-8">{{ d|raw }}</dd> #}
    <tr>
        <th>{{ n }}</th>
        <td>{{ d|raw }}</td>
    </tr>
{% endmacro %}

{% macro make_box(box, aliquotes, currentCell, currentAliquote = null) %}
    {% set contents = [] %}
    {% for aliquote in aliquotes %}
        {% for i in range(0, aliquote.vials-1) %}
            {% set contents = contents|merge([aliquote]) %}
        {% endfor %}
    {% endfor %}

    <svg width="200" height="200">
        {% if box.cols < box.rows %}
            {% set s = 200/box.rows %}
        {% else %}
            {% set s = 200/box.cols %}
        {% endif %}

    {% set r = s/2 %}

    {% for i in range(0, box.rows) %}
        {% for j in range(0, box.cols) %}
            {% set n = i*box.cols + j %}

            {% if n<contents|length %}
                {% if currentAliquote %}
                    {% if currentAliquote.id == contents[n].id %}
                        <rect x="{{ j*s }}" y="{{ i*s }}" width="{{ s }}" height="{{ s }}" stroke="black" fill="skyblue" stroke-width="1px" />
                    {% else %}
                        <rect x="{{ j*s }}" y="{{ i*s }}" width="{{ s }}" height="{{ s }}" stroke="gray" fill="none" stroke-width="1px" />
                    {% endif %}
                {% else %}
                    <rect x="{{ j*s }}" y="{{ i*s }}" width="{{ s }}" height="{{ s }}" stroke="gray" fill="none" stroke-width="1px" />
                {% endif %}

                {% if currentCell.id == contents[n].cell.id %}
                    <a
                        href="{{ url("app_cell_aliquote_view", {"cellId": contents[n].cell.id, "aliquoteId": contents[n].id}) }}"
                        data-toggle="tooltip" data-placement="bottom"
                        title="{{ contents[n].cell.name }}, aliquote {{ contents[n].id }}, passage {{ contents[n].passage }},<br> vials left: {{ contents[n].vials }}"
                    >
                        <circle cx="{{ j*s+r }}" cy="{{ i*s+r }}" r="{{ r }}" fill="{{ contents[n].vialColor }}" stroke="black" stroke-width="1px"></circle>
                    </a>
                {% else %}
                    <a
                        href="{{ url("app_cell_aliquote_view", {"cellId": contents[n].cell.id, "aliquoteId": contents[n].id}) }}"
                        data-toggle="tooltip" data-placement="bottom"
                        title="{{ contents[n].cell.name }}, aliquote {{ contents[n].id }}, passage {{ contents[n].passage }},<br> vials left: {{ contents[n].vials }}"
                    >
                        <circle cx="{{ j*s+r }}" cy="{{ i*s+r }}" r="{{ r }}" fill="gray" stroke="black" stroke-width="1px"></circle>
                    </a>
                {% endif %}
            {% else %}
                <rect x="{{ j*s }}" y="{{ i*s }}" width="{{ s }}" height="{{ s }}" stroke="gray" fill="none" stroke-width="1px" />
            {% endif %}
        {% endfor %}
    {% endfor %}
    </svg>
{% endmacro %}

{% macro vendor_url(vendor, pn) %}
    {% if vendor %}
        {% if pn %}
            {% if "{pn}" in vendor.catalogUrl %}
                {% set vendor_url = vendor.catalogUrl|replace({"{pn}": pn}) %}
            {% else %}
                {% set vendor_url = vendor.catalogUrl ~ pn %}
            {% endif %}
        {% else %}
            {% set vendor_url = vendor.catalogUrl|replace({"{pn}": ""}) %}
        {% endif %}

        <a href="{{ vendor_url }}">{{ vendor }}{% if pn %} ({{ pn }}){% endif %} <span class="fa fa-external-link-alt"></span></a>
    {% endif %}
{% endmacro %}

{% macro validation_status(antibody) %}
    {% if antibody.validatedInternally %}
        <span class="text-success">✓</span>
    {% endif %}

    {% if antibody.validatedExternally %}
        {% if antibody.externalReference %}
            <a class="text-warning" href="https://doi.org/{{ antibody.externalReference }}">✓</a>
        {% else %}
            <span class="text-warning">✓</span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro rrid_resolver(rrid) %}
    {% if rrid %}
        <a href="https://scicrunch.org/resolver/{{ rrid }}">{{ rrid }}</a>
    {% else %}
        (missing)
    {% endif %}
{% endmacro %}

{% macro pillify_proteins(proteins) %}
    {% for protein in proteins %}
        <a class='badge rounded-pill bg-primary text-light' href='{{ url("app_protein_view", {"proteinId": protein.id}) }}'>{{ protein }}</a>
    {% endfor %}
{% endmacro %}

{% macro list_of_files(files) %}
    {% for file in files %}
        <div class="card mb-3 col-12">
            <div class="row no-gutters p-3">

                <div class="card-body">
                    <h5 class="card-title">
                        {% if file.contentType == "application/pdf" %}
                            {% set icon = "fa-file-pdf" %}
                        {% elseif
                            file.contentType == "application/vnd.openxmlformats-officedocument.presentationml.presentation"
                            or (file.originalFileName ends with ".pptx")
                            or  (file.originalFileName ends with ".ppt")
                        %}
                            {% set icon = "fa-file-powerpoint" %}
                        {% elseif
                            (file.originalFileName ends with ".docx")
                            or  (file.originalFileName ends with ".doc")
                        %}
                            {% set icon = "fa-file-word" %}
                        {% elseif
                            (file.originalFileName ends with ".xlsx")
                            or  (file.originalFileName ends with ".slx")
                        %}
                            {% set icon = "fa-file-excel" %}
                        {% else %}
                            {% set icon = "fa-file" %}
                        {% endif %}

                        <span class="fas {{ icon }} mr-1"></span>
                        {{ file.title }}
                        <a class="ml-3" href="{{ url("file_download", {"fileid": file.id}) }}"><span class="fa fa-download"></span></a>
                    </h5>
                    <p class="card-text">{{ file.description ?? "(no description)" }}</p>
                    <p class="card-text"><small class="text-muted">{{ file.originalFileName }} ({{ _self.format_file_size(file.contentSize)|trim }})</small></p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro format_file_size(size, limit = 200) %}
    {% if size < limit %}
        {{ size }} B
    {% else %}
        {% set size = size/1024 %}

        {% if size < limit %}
            {{ size|round(1) }} kiB
        {% else %}
            {% set size = size/1024 %}

            {% if size < limit %}
                {{ size|round(1) }} MiB
            {% else %}
                {% set size = size/1024 %}

                {{ size|round(1) }} GiB
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro tab_item(name, id, tabid, active=false, enabled=true) %}
    <a class="nav-link {{ active?"active":"" }} {{ enabled ? "" : "disabled" }}" id="{{ id }}" data-toggle="pill" href="#{{ tabid }}" role="tab" aria-controls="{{ tabid }}" aria-selected="{{ active?"true":"false" }}">{{ name }}</a>
{% endmacro %}

{% macro simple_tab_content(name, content, comment=null) %}
    <div class="col-4 mb-3 pb-3">
        <h4 class="bg-secondary p-2 mb-n1 border-secondary border">{{ name }}</h4>
        <div class="p-2 pt-3 border-secondary border">
            {{ (content ?? "unknown")|raw }}

            {% if comment %}
                <p class="text-muted mt-3 mb-n1">{{ comment }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}