{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icons %}
{% from 'utility/substance_lot.html.twig' import lot %}
{% from 'utility/substance_sequence_viewer.html.twig' import view_sequence_2 as view_sequence %}
{% from 'utility/attachments.html.twig' import attachments %}

{% block title %}Gin :: Plasmid :: {{ plasmid.shortName }}{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header(plasmid.shortName, false, true, icons.plasmid()) }}

            {{ layout.toolbox([
                {
                    "type": "up",
                    "target": url("app_plasmids"),
                    "tooltipText": "Back to all plasmids",
                },
                {
                    "type": "edit",
                    "tooltipText": "Edit plasmid",
                    "target": url("app_substance_edit", {"substance": plasmid.ulid}),
                },
                {
                    "type": "add",
                    "tooltipText": "Add lot",
                    "target": url("app_substance_add_lot", {"substance": plasmid.ulid}),
                }
            ]) }}

            <div class="row row-cols-1 row-cols-lg-2">
                {# Details #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Details", "Details") }}

                        {{ layout.card_body_collapse_start("Details") }}
                        <div class="card-body px-lg-5 mx-0">
                            <table class="table table-sm table-borderless table-hover">
                                <tbody>
                                {{ macros.definition_row("ID", plasmid.ulid) }}
                                {{ macros.definition_row("Short name", plasmid.shortName) }}
                                {{ macros.definition_row("Name", plasmid.longName) }}

                                {{ macros.definition_row("Plasmid growth resistance", plasmid.growthResistance|join(", ")) }}

                                <tr>
                                    <th>Expressed Proteins</th>
                                    <td>{{ plasmid.expressedProteins|length > 0 ? macros.pillify(plasmid.expressedProteins) : "none" }}</td>
                                </tr>

                                {{ macros.definition_row("Expression system", plasmid.expressionIn) }}
                                {{ macros.definition_row("Expression resistance", plasmid.expressionResistance|join(", ")) }}

                                {{ macros.definition_row("Fit for expression", plasmid.forProduction ? "Yes" : "No") }}
                                {{ macros.definition_row("Created by", plasmid.createdBy.fullName) }}
                                {{ macros.definition_row_raw("Parent", plasmid.parent ? macros.pillify([plasmid.parent]) : "None") }}
                                {{ macros.definition_row_raw("Children", plasmid.children|length>0 ? macros.pillify(plasmid.children) : "None") }}

                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Sequence #}
                {{ view_sequence(plasmid) }}
            </div>

            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                {# Lots #}
                {{ lot(plasmid) }}

                {# Features #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Features", "Features") }}

                        {{ layout.card_body_collapse_start("Features") }}
                        <div class="card-body px-lg-5 mx-0">
                            {% if plasmid.sequenceAnnotations|length == 0 %}
                                <p class="text-muted">No sequence features registered</p>
                            {% else %}
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Span</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for feature in plasmid.sequenceAnnotations %}
                                        <tr>
                                            <td>{{ feature.annotationLabel }}</td>
                                            <td>{{ feature.annotationType }}</td>
                                            <td>
                                                {% if feature.isComplement %}
                                                    <span class="border-top border-dark border-2">{{ feature.annotationStart }} .. {{ feature.annotationEnd }}</span>
                                                {% else %}
                                                    {{ feature.annotationStart }} .. {{ feature.annotationEnd }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Attachments #}
                {{ attachments(plasmid.attachments) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block script_bottom %}

{% endblock %}