{% extends 'homepage.html.twig' %}
{% from 'macros.html.twig' import pillify %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icons %}

{% block title %}Gin :: Plasmids{% endblock %}

{% macro plasmid_tools(plasmid) %}
    {% if plasmid == null %}
    {% else %}
        {{ layout.toolbox_column([
            {
                "type": "view",
                "tooltipText": "View plasmid",
                "target": url("app_plasmid_view", {"plasmidId": plasmid.ulid}),
            },
            {
                "type": "edit",
                "tooltipText": "Edit plasmid",
                "target": url("app_substance_edit", {"substance": plasmid.ulid}),
                "display": "lg",
            },
            {
                "type": "add",
                "tooltipText": "Add lot",
                "target": url("app_substance_add_lot", {"substance": plasmid.ulid}),
                "display": "lg",
            },
        ]) }}
    {% endif %}
{% endmacro %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header("Plasmids", false, true, icons.plasmid(true)) }}

            {{ layout.toolbox([
                {
                    "type": "add",
                    "tooltipText": "Add new Plasmid",
                    "target": url("app_substance_new", {"type": "plasmid"}),
                },
            ]) }}

            <div class="row">
                <div class="col bg-white mx-3 mb-3 border p-3 p-lg-5 overflow-scroll">
                    <table class="table table-hover {{ plasmids|length > 0 ? "fancyTable" : "" }}">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 50px;">
                            </th>
                            <th scope="col">Number</th>
                            <th scope="col">
                                Name
                            </th>
                            <th scope="col">Size</th>
                            <th scope="col">Lots </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for plasmid_row in plasmids %}
                            {% set plasmid = plasmid_row[0] %}
                            {% set lotCount = plasmid_row[1] %}
                            <tr>
                                <td class="align-middle">
                                    {{ _self.plasmid_tools(plasmid) }}
                                </td>
                                <td>{{ plasmid.number }}</td>
                                <td>{{ plasmid.shortName }}</td>
                                <td>{{ plasmid.sequenceLength/1000 }} kbp</td>
                                <td>{{ lotCount>0?lotCount:"-" }}</td>
                            </tr>
                        {% else %}
                            <tr><td colspan="5" class="p-5 text-center">No plasmids registered</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}