{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}

{% block title %}Gin :: Storage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style rel="stylesheet">
        .list-group.list-group-root {
            padding: 0;
            overflow: hidden;
        }

        .list-group.list-group-root .list-group {
            margin-bottom: 0;
        }

        .list-group.list-group-root .list-group-item {
            border-radius: 0;
            border-width: 1px 0 0 0;
        }

        .list-group.list-group-root > .list-group-item:first-child {
            border-top-width: 0;
        }

        .list-group.list-group-root > .list-group > .list-group-item {
            padding-left: 40px;
        }

        .list-group.list-group-root > .list-group > .list-group > .list-group-item {
            padding-left: 80px;
        }

        .list-group.list-group-root > .list-group > .list-group > .list-group > .list-group-item {
            padding-left: 120px;
        }

        .list-group.list-group-root > .list-group > .list-group > .list-group > .list-group .list-group-item {
            padding-left: 160px;
        }

        .list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group .list-group-item {
            padding-left: 200px;
        }
    </style>
{% endblock %}

{% macro display_boxes(boxes, currentBox=null) %}
    {% for box in boxes %}
        <div class="list-group-item d-flex justify-content-between align-items-center {% if currentBox is same as(box) %}bg-primary text-white{% endif %}">
            <span>
                <a href="{{ url("app_storage_view_box", {"box": box.ulid}) }}"  class="text-decoration-none text-black text-reset">
                    <span class="fas fa-box fa-fw"></span>
                    {{ box.name }} ({{ box.rows }} × {{ box.cols }})

                </a>
                {{ _self.tools(box) }}
            </span>
        </div>
    {% endfor %}
{% endmacro %}

{% macro tools(entity) %}
    {% if entity is box %}
        {{ layout.toolbox_column([
            {
                "type": "edit",
                "tooltipText": "Edit box",
                "target": url("app_storage_edit_box", {"box": entity.ulid}),
                "display": "sm",
            },
        ], "sm", true) }}
    {% elseif entity is rack %}
        {{ layout.toolbox_column([
            {
                "type": "edit",
                "tooltipText": "Edit rack",
                "target": url("app_storage_edit_rack", {"rack": entity.ulid}),
                "display": "sm",
            },
        ], "sm", true) }}
    {% else %}
    {% endif %}
{% endmacro %}

{% macro display_racks(racks, currentBox=null, namePrefix="") %}
    {% for rack in racks %}
        {% set groupId = "gin-storage-" ~ rack.ulid %}

        {% if rack.children|length == 1 and rack.boxes|length == 0 %}
            {# Collapse nesting when there is only 1 child with no boxes #}
            {{ _self.display_racks(rack.children, currentBox, namePrefix ~ rack.name ~ "/") }}
        {% else %}
            {# Rack entry #}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <a id="anchor-for-{{ groupId }}" href="#{{ groupId }}" class="text-decoration-none text-black text-reset" data-bs-toggle="collapse">
                        <span class="collapse-icon far fa-plus-square fa-fw"></span>
                        <span class="fas fa-boxes fa-fw"></span>
                        {{ namePrefix }}{{ rack.name }}
                    </a>

                    {{ _self.tools(rack) }}
                </span>
                <span>
                    <span class="badge bg-secondary rounded-pill" style="width: 30px;">{{ rack.children|length }}</span>
                    <span class="badge bg-primary rounded-pill" style="width: 30px;">{{ rack.boxes|length }}</span>
                </span>
            </div>

            <div class="list-group collapse" id="{{ groupId }}">

                {# Display boxes #}
                {% if rack.boxes|length > 0 %}
                    {{ _self.display_boxes(rack.boxes, currentBox)  }}
                {% endif %}

                {# Display children #}
                {% if rack.children|length > 0 %}
                    {{ _self.display_racks(rack.children, currentBox) }}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header("Storage", false) }}

            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Storage locations", "StorageLocations") }}

                        {{ layout.card_body_collapse_start("StorageLocations") }}
                        <div class="card-body px-lg-5">
                            <div class="list-group list-group-root well border-1 border">
                                {{ _self.display_racks(racks|filter(r => not r.parent), box) }}

                                {{ _self.display_boxes(boxes|filter(b => not b.rack), box) }}
                            </div>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Box content", "BoxContent") }}

                        {{ layout.card_body_collapse_start("BoxContent") }}
                        <div class="card-body px-lg-5">
                            {% if box is same as(null) %}
                                No box selected
                            {% else %}
                                <div class="card-body px-lg-5 mx-0" {{ stimulus_controller("box", {
                                    boxMap: boxMap,
                                    substanceTarget: url("app_substance_view", {"substance": "placeholder-substance-id"}),
                                    cellTarget: url("app_cell_aliquote_view_number", {"cellNumber": "placeholder-cell-numer", "aliquoteId": "placeholder-aliquot-id"}),
                                }) }}>
                                    <div class="row row-cols-1 row-cols-lg-2">
                                        <div class="col">
                                            <div class="text-muted mb-3">Ctrl+Click to access the entry directly. On smartphones, try a long press instead.</div>
                                            <div {{ stimulus_target("box", "boxMap") }} class="text-center"></div>
                                        </div>
                                        <div class="col mb-5" {{ stimulus_target("box", "boxMapContent") }}>

                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_bottom %}
    <script type="application/javascript">
        $(function() {
            $('.list-group').on('shown.bs.collapse', function(e) {
                let id = this.id;

                if (e.target === this) {
                    $(`#anchor-for-${id} > .collapse-icon`, this.parentElement)
                        .toggleClass('fa-plus-square')
                        .toggleClass('fa-minus-square');
                }
            }).on('hidden.bs.collapse', function(e) {
                let id = this.id;

                if (e.target === this) {
                    $(`#anchor-for-${id} > .collapse-icon`, this.parentElement)
                        .toggleClass('fa-plus-square')
                        .toggleClass('fa-minus-square');
                }
            });
        });
    </script>
{% endblock %}