{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}

{% set title = "Storage" %}

{% if currentBox %}
    {% set title = title ~ " :: " ~ currentBox.pathName %}
{% elseif currentRack %}
    {% set title = title ~ " :: " ~ currentRack.pathName %}
{% endif %}

{% block title %}Gin :: {{ title }}{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            <twig:PageHeader :title="title" icon="rack" :barcode="true"  />

            <twig:Layout:Row>
                <twig:Layout:Col type="inner">
                    <twig:Toolbox :toolbox="toolbox" />
                </twig:Layout:Col>
            </twig:Layout:Row>

            <twig:Layout:Row md="2" l="2" xl="2">
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Storage locations" icon="rack">
                        {% set nodes = racks|filter(r => not r.parent)|merge(boxes|filter(b => not b.rack)) %}
                        {% if nodes|length == 0%}
                            No racks or boxes have been added.
                        {% else %}
                            <twig:TreeView
                                :tree="nodes"
                                currentNode="{{ currentBox ?: currentRack }}"
                                :service="service"
                                >
                            </twig:TreeView>
                        {% endif %}
                    </twig:ElementCard>
                </twig:Layout:Col>

                <twig:Layout:Col>
                    {% if currentRack %}
                        <twig:ElementCard title="Location details" icon="rack" iconStack="view" class="mb-5">
                            {% if currentRack.visualisation %}
                                <figure  style="overflow: clip;">
                                    <img src="{{ path("picture", {"id": rack.visualisation.id}) }}" class="img-fluid">
                                </figure>
                            {% endif %}

                            {% if currentRack.pinCode %}
                                <p><strong>Pin-Code: </strong> {{ currentRack.pinCode }}</p>
                            {% endif %}

                            {% if currentRack.comment %}
                                <div>
                                    {{ currentRack.comment|raw }}
                                </div>
                            {% endif %}

                            {% if consumables|length > 0 %}
                                <ul class="list-group">
                                    {% for lot in consumables %}
                                        <twig:StockKeeping:ConsumableLotItem :lot="lot" showConsumableImage="true" showConsumableName="true" />
                                    {% endfor %}
                                </ul>
                            {% else %}
                                No consumables in this location.
                            {% endif %}
                        </twig:ElementCard>
                    {% endif %}

                    {% if currentBox %}
                        <twig:ElementCard title="Content" icon="box" noPadding="true">
                            <div class="card-body px-lg-5">
                                <h3>{{ currentBox.name }}</h3>
                                <p class="text-muted border-bottom">{{ currentBox.pathName }}</p>
                                <div>{{ currentBox.description|raw }}</div>

                                <div {{ stimulus_controller("box", {
                                    boxMap: boxMap,
                                    substanceTarget: url("app_substance_view", {"substance": "placeholder-substance-id"}),
                                    cellTarget: url("app_cell_aliquot_view_number", {"cellNumber": "placeholder-cell-numer", "aliquotId": "placeholder-aliquot-id"}),
                                }) }}>
                                    <div class="row row-cols-1 row-cols-lg-2 m-0">
                                        <div class="col">
                                            <div {{ stimulus_target("box", "boxMap") }} class="text-center"></div>
                                            <div class="text-muted mb-3">Ctrl+Click to access the entry directly. On smartphones, try a long press instead.</div>
                                        </div>
                                        <div class="col mb-5" {{ stimulus_target("box", "boxMapContent") }}>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </twig:ElementCard>
                    {% endif %}
                </twig:Layout:Col>
            </twig:Layout:Row>
        </div>
    </div>
{% endblock %}

