{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}

{% block title %}Gin :: Recipe :: {{ recipe.shortName }}{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header(recipe.shortName) }}

            {{ layout.toolbox([
                {
                    "type": "up",
                    "target": url("app_recipes"),
                    "tooltipText": "Back to all recipes",
                },
            ]) }}

        <div class="row">
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {% if recipe.pH %}
                            <div class="card-body border-bottom">
                                Required pH: <strong>{{ recipe.pH }}</strong>
                            </div>
                        {% endif %}

                        {% if recipe.comment %}
                            <div class="card-body border-bottom">
                                {{ recipe.comment|raw }}
                            </div>
                        {% endif %}

                        <div class="card-body border-bottom">
                            <div class="form-group">
                                <div class="row row-cols-2 row-cols-md-3">
                                    <div class="col">
                                        <label for="_genie_recipe_totalVolume" class="form-label">Volume (mL)</label>
                                        <input id="_genie_recipe_totalVolume" type="number" value="1000" class="form-control">
                                    </div>

                                    <div class="col">
                                        <label for="_genie_recipe_targetConcentrationFactor" class="form-label">Concentration factor</label>
                                        <input id="_genie_recipe_targetConcentrationFactor" type="number" value="{{ recipe.concentrationFactor }}" class="form-control">
                                    </div>

                                    <div class="col">
                                        <label for="_genie_recipe_totalVolume_submit" class="form-label">&nbsp;</label>
                                        <button id='_genie_recipe_totalVolume_submit' class="btn btn-primary form-control" onsubmit="">Recalculate</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body py-lg-5 py-lg-3">
                            <table class="table table-hover _genie_recipe">
                                <thead>
                                    <tr>
                                        <th scope="col">Ingredient</th>
                                        <th class="d-none d-lg-table-cell" scope="col">Concentration</th>
                                        <th scope="col">Mass</th>
                                        <th scope="col">Volume</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for ingredient in recipe.ingredients %}
                                    <tr id="ingredient_{{ ingredient.id }}" class="_genie_recipe_ingredient">
                                        <td><strong>{{ ingredient.chemical.shortName }}</strong> <span class="d-none d-lg-inline">({{ ingredient.chemical.molecularMass }} g/mol)</span></td>
                                        <td class="d-none d-lg-table-cell">{{ ingredient.concentration }}&nbsp;{{ ingredient.concentrationUnit }}</td>
                                        <td>
                                            <span class="_genie_recipe_ingredient_amount"></span>
                                        </td>
                                        <td>
                                            <span class="_genie_recipe_ingredient_amount_volume"></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_bottom %}
    <script type="application/javascript">
        let api_url = "../../api/public/recipe/{{ recipe.id }}"

        function refresh_recipe() {
            let targetConcentrationFactor = parseFloat($("#_genie_recipe_targetConcentrationFactor")[0].value)
            let targetVolume = parseFloat($("#_genie_recipe_totalVolume")[0].value)

            $.getJSON(api_url, {"volume": targetVolume, "concentrationFactor": targetConcentrationFactor}, function(data) {
                data.ingredients.forEach(function (ingredient) {
                    let row = $("#ingredient_" + ingredient.id);
                    let mass_column = row.find("._genie_recipe_ingredient_amount");
                    let volume_column = row.find("._genie_recipe_ingredient_amount_volume");

                    console.log(ingredient)

                    mass_column[0].innerHTML = ingredient.quantity_formatted;

                    if (ingredient.volume) {
                        volume_column[0].innerHTML = ingredient.volume_formatted;
                    } else {
                        volume_column[0].innerHTML = "-";
                    }
                });
            });
        }

        let volumeSubmit = $("#_genie_recipe_totalVolume_submit");
        volumeSubmit.click(refresh_recipe);
        $(document).ready(refresh_recipe);
    </script>
{% endblock %}