{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}Cell Genie: Compounds{% endblock %}

{% block body_main %}
    <div class="row p-3">
        <div class="col col-12 p-5 bg-white mb-3 border">
            <div class="row">
                <h1 class="">
                    <span class="align-middle pl-5">{{ recipe.shortName }}</span>
                </h1>
            </div>
        </div>

        {# Short information #}
        <div class="col col-12 p-5 bg-white mb-3 border">
            {% if recipe.pH %}
                <div class="mb-5">
                    Required pH: <strong>{{ recipe.pH }}</strong>
                </div>
            {% endif %}

            {% if recipe.comment %}
                <div class="pb-5 mb-5 border-bottom">
                    <h4>Comment</h4>
                    {{ recipe.comment|raw }}
                </div>
            {% endif %}

            <div class="form-group">
                <label><span>Volume (mL)</span><input id='_genie_recipe_totalVolume' value="1000" type="number" class="form-control"></label>
                <label><span>Concentration Factor (X)</span><input id='_genie_recipe_targetConcentrationFactor' value="{{ recipe.concentrationFactor }}" type="number" class="form-control"></label>
                <button id='_genie_recipe_totalVolume_submit' class="btn btn-primary" onsubmit="">Recalculate</button>
            </div>

            <div class="p-3">

                <table class="table table-hover _genie_recipe">
                    <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Concentration</th>
                        <th>Mass</th>
                        <th>Volume</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingredient in recipe.ingredients %}
                        <tr id="ingredient_{{ ingredient.id }}" class="_genie_recipe_ingredient">
                            <td>{{ ingredient.chemical.shortName }} ({{ ingredient.chemical.molecularMass }} g/mol)</td>
                            <td>{{ ingredient.concentration }}&nbsp;{{ ingredient.concentrationUnit }}</td>
                            <td>
                                <span class="_genie_recipe_ingredient_amount"></span>
                            </td>
                            <td>
                                <span class="_genie_recipe_ingredient_amount_volume"></span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {# Tabs! #}
    </div>
{% endblock %}

{% block script_bottom %}
    <script type="application/javascript">
        let api_url = "../../api/public/recipe/{{ recipe.id }}"

        function refresh_recipe() {
            let targetConcentrationFactor = parseFloat($("#_genie_recipe_targetConcentrationFactor")[0].value)
            let targetVolume = parseFloat($("#_genie_recipe_totalVolume")[0].value)

            $.getJSON(api_url, {"volume": targetVolume, "concentrationFactor": targetConcentrationFactor}, function(data) {
                data.ingredients.forEach(function (ingredient) {
                    let row = $("#ingredient_" + ingredient.id);
                    let mass_column = row.find("._genie_recipe_ingredient_amount");
                    let volume_column = row.find("._genie_recipe_ingredient_amount_volume");

                    console.log(ingredient)

                    mass_column[0].innerHTML = ingredient.quantity + " " + ingredient.quantity_unit;

                    if (ingredient.volume) {
                        volume_column[0].innerHTML = ingredient.volume + " " + ingredient.volume_unit;
                    } else {
                        volume_column[0].innerHTML = "-";
                    }
                });
            });
        }

        let volumeSubmit = $("#_genie_recipe_totalVolume_submit");
        volumeSubmit.click(refresh_recipe);
        $(document).ready(refresh_recipe);
    </script>
{% endblock %}