{% extends 'homepage.html.twig' %}
{% from 'macros.html.twig' import pillify_epitopes, pillify_proteins %}

{% block title %}Cell Genie: Proteins{% endblock %}

{% macro format_antibody_name(item) %}
    <span data-toggle="tooltip" data-placement="bottom" title="{{ item.longName }}">{{ item.shortName }}</span>
{% endmacro %}

{% block body_main %}
    <div class="row p-3">
        <div class="col col-12 p-5 bg-white mb-3 border">
            <div class="row">
                <h1 class="col">Proteins</h1>

                <div class="col text-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary"><span class="fas fa-fw fa-plus"></span></button>
                        {# <button type="button" class="btn btn-secondary"><span class=""></span></button>
                <button type="button" class="btn btn-secondary"><span class=""></span>Right</button> #}
                    </div>
                </div>
            </div>
        </div>


        <div class="col col-12 p-5 bg-white mb-3 border">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="btn-group mr-3" style="visibility: hidden;">
                                <span class="btn btn-sm btn-info"><span class="fa fa-eye"></span></span>
                            </div>
                            Name
                        </th>
                        <th scope="col">Descendants</th>
                        <th scope="col">Epitopes </th>
                        <th scope="col">Antibodies </th>
                    </tr>
                </thead>
                <tbody>
                    {% for protein in proteins %}
                        <tr>
                            <td class="align-middle">
                                <div class="btn-group mr-3">
                                    <a href="{{ url("app_protein_view", {"proteinId": protein.ulid}) }}" class="btn btn-sm btn-primary"><span class="fa fa-eye"></span></a>
                                </div>

                                {{ _self.format_antibody_name(protein) }}
                            </td>

                            <td class="align-middle">
                                {% if protein.children|length > 0 %}
                                    {{ pillify_proteins(protein.children) }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                            <td class="align-middle">{% if protein.epitopes|length > 0 %}{{ pillify_epitopes(protein.epitopes, true) }}{% else %}None{% endif %}</td>

                            <td class="align-middle">
                                {% set antibody_count = 0 %}
                                {% for epitope in protein.epitopes %}
                                    {% for antibody in epitope.antibodies %}
                                        <a class="pr-3" href="{{ url("app_antibody_view", {"antibodyId": antibody.ulid}) }}">{{ antibody }}</a>
                                    {% endfor %}
                                    {% set antibody_count = antibody_count + epitope.antibodies|length %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}