{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}Cell Genie: Protein Target{% endblock %}

{% block body_main %}
    <div class="row p-3">
        {# title #}
        <div class="col col-12 p-5 bg-white mb-3 border">
            <div class="row">
                <h1>{{ protein.shortName }}</h1>
            </div>
        </div>

        {# Short information #}
        <div class="col col-6 mb-3 p-0 pr-2">
            <div class="bg-white p-5 border h-100">
                <table class="table table-sm table-borderless table-hover">
                    <tbody>
                        {{ macros.definition_row("ID", protein.ulid) }}
                        {{ macros.definition_row("Short name", protein.shortName) }}
                        {{ macros.definition_row("Name", protein.longName) }}
                        {{ macros.definition_row("Type", protein.proteinType ? protein.proteinType : "unknown") }}
                        {{ macros.definition_row("Protein Atlas", protein.proteinAtlasUri ?? "unknown", protein.proteinAtlasUri ?? null) }}
                        {# Experiment types #}

                        <tr>
                            <th>Ancestors</th>
                            <td>
                                {% if protein.parents|length > 0 %}
                                    {{ macros.pillify_proteins(protein.parents) }}
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th>Descendants</th>
                            <td>
                                {% if protein.children|length > 0 %}
                                    {{ macros.pillify_proteins(protein.children) }}
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th>Epitopes</th>
                            <td>
                                {% if protein.epitopes|length > 0 %}
                                    {{ macros.pillify_epitopes(protein.epitopes) }}
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col col-6 mb-3 p-0 pr-2">
            <div class="bg-white p-5 border h-100">
                {% if protein.fastaSequence %}
                <div id="sequenceViewer"></div>
                {% else %}
                    No sequence given.
                {% endif %}
            </div>
        </div>

        {# Tabbed info at the bottom #}
        <div class="col col-12 mb-3">
            <div class="row bg-white p-5 border">
                <div class="col-3 col-xl-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {{ macros.tab_item("Antibodies", "tab-antibodies", "tab-antibodies-content", true) }}
                        {{ macros.tab_item("Experiments", "tab-experiments", "tab-experiments-content") }}
                        {{ macros.tab_item("Cells", "tab-cells", "tab-cells-content", false, associatedCells ? true : false) }}
                    </div>
                </div>

                <div class="col-9 col-xl-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        {# Antibodies #}
                        <div class="tab-pane fade show active" id="tab-antibodies-content" role="tabpanel" aria-labelledby="cell-info-origin">
                            <div class="row">
                                {% for epitope in protein.epitopes %}
                                    {% for antibody in epitope.antibodies %}
                                        <div class="col-4 mb-3 pb-3">
                                            <div class="bg-secondary p-2 mb-n1 border-secondary border">
                                                <h4 class="float-left">{{ antibody }} <span class="badge rounded-pill bg-primary text-light">{{ epitope }}</span></h4>
                                                <a href="{{ url("app_antibody_view", {"antibodyId": antibody.ulid}) }}" class="text-right"><span class="far fa-eye"></span></a>
                                            </div>

                                            <div class="p-2 pt-3 border-secondary border">
                                                {% if antibody.vendor %}
                                                    <p class="text-muted">{{ macros.vendor_url(antibody.vendor, antibody.vendorPN) }}</p>
                                                {% endif %}

                                                <p>
                                                    <strong>Lots:</strong>

                                                    {% if antibody.lots|length > 0 %}
                                                        {% for lot in antibody.lots %}
                                                            <span>{{ antibody.number ~ "." ~ lot.number }}
                                                                <a
                                                                        data-clipboard-text="{{ antibody.longName }} ({{ antibody.vendor.name ?? "??" }}, {{ antibody.vendorPN ?? "??" }}, Lot# {{ lot.lotNumber }}{{ antibody.rrid ? ", RRID:" ~ antibody.rrid : "" }})"
                                                                        class="far fa-clipboard btn-clipboard "
                                                                        role="button"
                                                                ></a>
                                                            </span>
                                                        {% endfor %}
                                                    {% else %}
                                                        None
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>

                        {# Experiments #}
                        <div class="tab-pane fade" id="tab-experiments-content" role="tabpanel" aria-labelledby="tab-experiments">
                            <div class="row">
                                Coming soon (R)
                            </div>
                        </div>

                        {# Cells #}
                        <div class="tab-pane fade" id="tab-cells-content" role="tabpanel" aria-labelledby="tab-cells">
                            <div class="row">
                                {% for cell in associatedCells %}
                                    <div class="col-4 mb-3 pb-3">
                                        <div class="bg-secondary p-2 mb-n1 border-secondary border">
                                            <h4 class="float-left">{{ cell }}</h4>
                                            <a href="{{ url("app_cell_view", {"cellId": cell.id}) }}" class="text-right"><span class="far fa-eye"></span></a>
                                        </div>

                                        <div class="p-2 pt-3 border-secondary border">
                                            {% for associatedProtein in cell.cellProteins|filter(p => protein == p.associatedProtein) %}
                                                <p>
                                                    {{ associatedProtein.description }}
                                                </p>

                                                {% if associatedProtein.detection %}
                                                    <dl>
                                                        {% for detection in associatedProtein.detection %}
                                                            <dt class="{{ detection.isDetectable ? "text-success" : "text-danger"}}">{{ detection.method }}</dt>
                                                            <dd>{{ detection.comment }}</dd>
                                                        {% endfor %}
                                                    </dl>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_bottom %}
    <script src="https://cdn.jsdelivr.net/gh/calipho-sib/sequence-viewer@master/dist/sequence-viewer.min.js"></script>
    <script type="application/javascript">
        {% if protein.fastaSequence %}
        let seq = new Sequence('{{ protein.fastaSequence }}');

        seq.render('#sequenceViewer', {
            'showLineNumbers': true,
            'wrapAminoAcids': true,
            'charsPerLine': 100,
            'toolbar': true,
            'search': true,
            'header' : {
                display:true,
                searchInTitle :true,
                unit: "Char",
                showCpl: false,
                badgeWithUnit : false
            }
        });
        {% endif %}
    </script>
{% endblock %}