{% extends 'homepage.html.twig' %}
{% from 'macros.html.twig' import pillify_epitopes, pillify_substances %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icons %}

{% block title %}Gin :: Proteins{% endblock %}

{% macro format_antibody_name(item) %}
    <span data-toggle="tooltip" data-placement="bottom" title="{{ item.longName }}">{{ item.shortName }}</span>
{% endmacro %}

{% macro protein_tools(protein) %}
    {% if protein == null %}
    {% else %}
        {{ layout.toolbox_column([
            {
                "type": "view",
                "tooltipText": "View protein",
                "target": url("app_protein_view", {"proteinId": protein.ulid}),
            },
            {
                "type": "edit",
                "tooltipText": "Edit protein",
                "target": url("app_substance_edit", {"substance": protein.ulid}),
                "display": "lg",
            },
            {
                "type": "add",
                "tooltipText": "Add lot",
                "target": url("app_substance_add_lot", {"substance": protein.ulid}),
                "display": "lg",
            },
        ]) }}
    {% endif %}
{% endmacro %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header("Proteins", false, true, icons.protein()) }}

            {{ layout.toolbox([
                {
                    "type": "add",
                    "tooltipText": "Add new protein",
                    "target": url("app_substance_new", {"type": "protein"}),
                },
            ]) }}

            <div class="row">
                <div class="col bg-white mx-3 mb-3 border p-3 p-lg-5 overflow-scroll">
                    <table class="table table-hover fancyTable">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 25px;">
                            </th>
                            <th scope="col">
                                Name
                            </th>
                            <th>Lots</th>
                            <th class="d-none d-lg-table-cell" scope="col">Descendants</th>
                            <th class="d-none d-lg-table-cell" scope="col">Epitopes </th>
                            <th class="d-none d-lg-table-cell" scope="col">Antibodies </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for proteinRow in proteins %}
                            {% set protein = proteinRow[0] %}
                            {% set numberOfLots = proteinRow[1] %}
                            <tr>
                                <td class="align-middle">
                                    {{ _self.protein_tools(protein) }}
                                </td>
                                <td class="align-middle" data-sortvalue="{{ protein.shortName }}">
                                    {{ _self.format_antibody_name(protein) }}
                                </td>

                                <td>{{ numberOfLots>0?numberOfLots:"-" }}</td>

                                <td class="align-middle d-none d-lg-table-cell">
                                    {% if protein.children|length > 0 %}
                                        {{ pillify_substances(protein.children) }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>

                                <td class="align-middle">{% if protein.epitopes|length > 0 %}{{ pillify_epitopes(protein.epitopes, true) }}{% else %}-{% endif %}</td>

                                {% set antibody_count = 0 %}
                                {% for epitope in protein.epitopes %}
                                {% for antibody in epitope.antibodies %}

                                {% if antibody_count == 0 %}
                                    <td class="align-middle d-none d-lg-table-cell" data-sortvalue="{{ antibody }}">
                                {% endif %}

                                    <a class="pr-3" href="{{ url("app_antibody_view", {"antibodyId": antibody.ulid}) }}"><span>{{ antibody.number }}</span> <span class="d-none d-lg-inline">{{ antibody.shortName }}</span></a>
                                    {% set antibody_count = antibody_count + 1%}
                                    {% endfor %}
                                    {% set antibody_count = antibody_count + epitope.antibodies|length %}
                                    {% endfor %}

                                    {% if antibody_count == 0 %}
                                        <td class="align-middle d-none d-lg-table-cell" data-sortvalue="">
                                            -
                                        </td>
                                    {% else %}
                                        {{ "</td>" }}
                                    {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}