{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icons %}
{% from 'utility/substance_lot.html.twig' import lot %}
{% from 'utility/substance_sequence_viewer.html.twig' import view_sequence %}

{% block title %}Gin :: Protein :: {{ protein.shortName }}{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header(protein.shortName, false, true, icons.protein()) }}

            {{ layout.toolbox([
                {
                    "type": "up",
                    "target": url("app_proteins"),
                    "tooltipText": "Back to all proteins",
                },
                {
                    "type": "edit",
                    "disabled": true,
                    "tooltipText": "Edit protein",
                }
            ]) }}

            <div class="row row-cols-1 row-cols-lg-2">
                {# Details #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Details", "Details") }}

                        {{ layout.card_body_collapse_start("Details") }}
                        <div class="card-body px-lg-5 mx-0">
                            <table class="table table-sm table-borderless table-hover">
                                <tbody>
                                {{ macros.definition_row("ID", protein.ulid) }}
                                {{ macros.definition_row("Short name", protein.shortName) }}
                                {{ macros.definition_row("Name", protein.longName) }}
                                {{ macros.definition_row("Type", protein.proteinType ? protein.proteinType : "unknown") }}
                                {{ macros.definition_row("Protein Atlas", protein.proteinAtlasUri ?? "unknown", protein.proteinAtlasUri ?? null) }}
                                {# Experiment types #}

                                    <tr>
                                        <th>Ancestors</th>
                                        <td>
                                            {% if protein.parents|length > 0 %}
                                                {{ macros.pillify_proteins(protein.parents) }}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Descendants</th>
                                        <td>
                                            {% if protein.children|length > 0 %}
                                                {{ macros.pillify_proteins(protein.children) }}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Epitopes</th>
                                        <td>
                                            {% if protein.epitopes|length > 0 %}
                                                {{ macros.pillify_epitopes(protein.epitopes) }}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Sequence #}
                {{ view_sequence(protein) }}
            </div>

            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                {# Lots #}
                {{ lot(protein) }}

                {# Antibodies #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {# We first create a list of antibodies from all epitopes #}
                        {% set antibodyCount = 0 %}
                        {% set antibodyList = [] %}
                        {% for epitope in protein.epitopes %}
                            {% for antibody in epitope.antibodies %}
                                {% set antibodyCount = antibodyCount + 1 %}
                                {% set antibodyList = antibodyList|merge([[antibody, epitope]]) %}
                            {% endfor %}
                        {% endfor %}

                        {{ layout.card_header_collapse("Antibodies", "Antibodies", null, antibodyCount) }}

                        {{ layout.card_body_collapse_start("Antibodies") }}
                        <div class="card-body px-lg-5 mx-0">
                            {% if protein.epitopes|length == 0 %}
                                No epitopes registered
                            {% else %}
                                <div class="row row-cols-1">
                                    {% for row in antibodyList %}
                                        {% set antibody = row[0] %}
                                        {% set epitope = row[1] %}
                                        <div class="col mb-2">
                                            <div class="card">
                                                {{ layout.card_header_collapse(antibody.number ~ " | " ~ antibody.shortName, antibody.ulid, "sm") }}
                                                {{ layout.card_body_collapse_start(antibody.ulid, "sm") }}

                                                {{ layout.toolbox_card([{
                                                    "type": "view",
                                                    "target": url("app_antibody_view", {"antibodyId": antibody.ulid}),
                                                }], "sm") }}
                                                <div class="card-body px-lg-2">
                                                    <table class="table table-sm table-borderless table-hover">
                                                        <tbody>
                                                            {{ macros.definition_row_raw("Epitope", macros.pillify_epitopes([epitope])) }}
                                                            {{ macros.definition_row_raw("Vendor", macros.vendor_url(antibody.vendor, antibody.vendorPN)) }}
                                                            <tr>
                                                                <th scope="row">Lots</th>
                                                                <td><ul class="list-group">
                                                                    {% for lot in antibody.lots %}
                                                                        <li class="list-group-item">
                                                                        <span>{{ antibody.number ~ "." ~ lot.number }}
                                                                            <a
                                                                                data-clipboard-text="{{ antibody.longName }} ({{ antibody.vendor.name ?? "??" }}, {{ antibody.vendorPN ?? "??" }}, Lot# {{ lot.lotNumber }}{{ antibody.rrid ? ", RRID:" ~ antibody.rrid : "" }})"
                                                                                class="far fa-clipboard btn-clipboard"
                                                                                role="button"
                                                                            ></a>
                                                                        </span></li>
                                                                    {% endfor %}
                                                                </ul></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                {{ layout.card_body_collapse_end() }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Associated Cells #}
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Associated Cells", "AssociatedCells", null, associatedCells|length) }}

                        {{ layout.card_body_collapse_start("AssociatedCells") }}
                        <div class="card-body px-lg-5 mx-0">
                            {% if associatedCells|length == 0 %}
                                No cells associated.
                            {% else %}
                                <div class="row row-cols-1">
                                    {% for cell in associatedCells %}
                                    <div class="col mb-2">
                                        <div class="card">
                                            {{ layout.card_header_collapse(cell, "Cell" ~ cell.id, "sm") }}
                                            {{ layout.card_body_collapse_start("Cell" ~ cell.id, "sm") }}

                                            {{ layout.toolbox_card([{
                                                "type": "view",
                                                "target": url("app_cell_view", {"cellId": cell.id}),
                                            }], "sm") }}
                                            <div class="card-body px-lg-2">
                                                {% for cellProtein in cell.cellProteins|filter(p => protein == p.associatedProtein) %}
                                                    <div>{{ cellProtein.description }}</div>

                                                    {% if cellProtein.detection %}
                                                        <dl>
                                                            {% for detection in cellProtein.detection %}
                                                                <dt class="{{ detection.isDetectable ? "text-success" : "text-danger"}}">{{ detection.method }}</dt>
                                                                <dd>{{ detection.comment }}</dd>
                                                            {% endfor %}
                                                        </dl>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            {{ layout.card_body_collapse_end() }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div>

                {# Antibodies #}{#
                <div class="col p-0 m-0 mb-3">
                    <div class="card mx-3 h-100">
                        {{ layout.card_header_collapse("Antibodies", "Antibodies") }}

                        {{ layout.card_body_collapse_start("Antibodies") }}
                        <div class="card-body px-lg-5 mx-0">
                        </div>
                        {{ layout.card_body_collapse_end() }}
                    </div>
                </div> #}
            </div>
        </div>
    </div>
{% endblock %}

{% block script_bottom %}

{% endblock %}