{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}Cell Genie: Protein Target{% endblock %}

{% block body_main %}
    <div class="row p-3">
        {# title #}
        <div class="col col-12 p-5 bg-white mb-3 border">
            <div class="row">
                <h1>{{ protein.shortName }}</h1>
            </div>
        </div>

        {# Short information #}
        <div class="col col-12 bg-white mb-3 border p-5">
            <table class="table table-sm table-borderless table-hover col-lg-4 col-md-12">
                <tbody>
                    {{ macros.definition_row("ID", protein.ulid) }}
                    {{ macros.definition_row("Short name", protein.shortName) }}
                    {{ macros.definition_row("Name", protein.longName) }}
                    {{ macros.definition_row("Protein Atlas", protein.proteinAtlasUri ?? "Unknown", protein.proteinAtlasUri ?? null) }}
                    {# Experiment types #}
                    <tr>
                        <th>Epitopes</th>
                        <td>
                            {{ macros.pillify_epitopes(protein.epitopes) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {# Tabbed info at the bottom #}
        <div class="col col-12 mb-3">
            <div class="row bg-white p-5 border">
                <div class="col-3 col-xl-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {{ macros.tab_item("Antibodies", "tab-antibodies", "tab-antibodies-content", true) }}
                        {{ macros.tab_item("Experiments", "tab-experiments", "tab-experiments-content") }}
                    </div>
                </div>

                <div class="col-9 col-xl-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        {# Antibodies #}
                        <div class="tab-pane fade show active" id="tab-antibodies-content" role="tabpanel" aria-labelledby="cell-info-origin">
                            <div class="row">
                                {% for epitope in protein.epitopes %}
                                    {% for antibody in epitope.antibodies %}
                                        <div class="col-4 mb-3 pb-3">
                                            <div class="bg-secondary p-2 mb-n1 border-secondary border">
                                                <h4 class="float-left">{{ antibody }} <span class="badge rounded-pill bg-primary text-light">{{ epitope }}</span></h4>
                                                <a href="{{ url("app_antibody_view", {"antibodyId": antibody.id}) }}" class="text-right"><span class="far fa-eye"></span></a>
                                            </div>

                                            <div class="p-2 pt-3 border-secondary border">
                                                {% if antibody.vendor %}
                                                    <p class="text-muted">{{ macros.vendor_url(antibody.vendor, antibody.vendorPN) }}</p>
                                                {% endif %}

                                                <p>
                                                    <strong>Lots:</strong>

                                                    {% if antibody.lots|length > 0 %}
                                                        {% for lot in antibody.lots %}
                                                            <span>{{ antibody.number ~ "." ~ lot.number }}
                                                                <a
                                                                        data-clipboard-text="{{ antibody.longName }} ({{ antibody.vendor.name ?? "??" }}, {{ antibody.vendorPN ?? "??" }}, Lot# {{ lot.lotNumber }}{{ antibody.rrid ? ", RRID:" ~ antibody.rrid : "" }})"
                                                                        class="far fa-clipboard btn-clipboard "
                                                                        role="button"
                                                                ></a>
                                                            </span>
                                                        {% endfor %}
                                                    {% else %}
                                                        None
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>

                        {# Experiments #}
                        <div class="tab-pane fade" id="tab-experiments-content" role="tabpanel" aria-labelledby="tab-experiments">
                            <div class="row">
                                Coming soon (R)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}