<span{{ attributes }}>
    {%- if entity is same as(null) -%}
            none
    {%- else -%}
        {%- if entity is iterable -%}
            {%- if entity|length > 5 -%}
                {%- for e in entity|slice(0, 3) -%}
                    <twig:EntityReference :entity="e" />
                {% endfor %}
                and {{ entity|length - 3 }} more.
            {%- else %}
                {%- for e in entity -%}
                    <twig:EntityReference :entity="e" />
                {%- else -%}
                    none
                {%- endfor -%}
            {%- endif -%}
        {%- else -%}
            {% cache 'gin-pill-cache-' ~ (entity.ulid is defined ? entity.ulid : entity.id) %}
                <a class="badge {{ this.class(entity) }} rounded-pill text-decoration-none" href="{{ this.href() ?? "#" }}">
                    {% cache "gin-icon-cache-" ~ icon %}
                    <twig:Icon :icon="icon" />
                    {% endcache %}
                    {{ entity|shorten(30) }}
                </a>
            {% endcache %}
        {%- endif -%}
    {%- endif -%}
</span>