<span{{ attributes }}>
    {%- if entity is same as(null) -%}
            none
    {%- else -%}
        {%- if entity is iterable -%}
            {%- for e in entity -%}
                {%- if e is iterable -%}
                    <twig:EntityReference :entity="e" />
                {%- else -%}
                    <a class="badge {{ this.class(e) }} rounded-pill text-decoration-none" href="{{ this.href(e) ?? "#" }}">
                        <twig:Icon :icon="icon" />
                        {{ e }}
                    </a>
                {%- endif -%}
            {%- else -%}
                none
            {%- endfor -%}
        {%- else -%}
            <a class="badge {{ this.class(entity) }} rounded-pill text-decoration-none" href="{{ this.href() ?? "#" }}">
                <twig:Icon :icon="icon" />
                {{ entity }}
            </a>
        {%- endif -%}
    {%- endif -%}
</span>