<span{{ attributes }}>
    {%- if entity is same as(null) -%}
            none
    {%- else -%}
        {%- if entity is iterable -%}
            {%- for e in entity -%}
                {%- if e is iterable -%}
                    <twig:EntityReference :entity="e" />
                {%- else -%}
                    {% cache 'gin-pill-cache ' ~ (this.href() | escape("html_attr")) %}
                        <a class="badge {{ this.class(e) }} rounded-pill text-decoration-none" href="{{ this.href(e) ?? "#" }}">
                            {% cache "gin-icon-cache-" ~ icon %}
                                <twig:Icon :icon="icon" />
                            {% endcache %}
                            {{ e }}
                        </a>
                    {% endcache %}
                {%- endif -%}
            {%- else -%}
                none
            {%- endfor -%}
        {%- else -%}
            {% cache 'gin-pill-cache ' ~ (this.href() | escape("html_attr")) %}
                <a class="badge {{ this.class(entity) }} rounded-pill text-decoration-none" href="{{ this.href() ?? "#" }}">
                    {% cache "gin-icon-cache-" ~ icon %}
                    <twig:Icon :icon="icon" />
                    {% endcache %}
                    {{ entity }}
                </a>
            {% endcache %}
        {%- endif -%}
    {%- endif -%}
</span>