<div{{ attributes }}>
    <dl class="row {{ columnClass }} gy-4">
        {% for title, datum in data %}
            <div class="col">
                <dt>{{ title }}</dt>

                <dd>
                    {% if datum[0] is defined %}
                        {{ component(datum[0], datum[1]) }}
                    {% else %}
                        {% if datum %}
                            {{ datum }}
                        {% else %}
                            <span class="text-muted">empty</span>
                        {% endif %}
                    {% endif %}
                </dd>
            </div>
        {% endfor %}
    </dl>
</div>