<nav{{ attributes }}>
    <ul class="pagination">
        <li class="page-item {{ currentPage<=0 ? "disabled" : "" }}">
            <a class="page-link" data-action="live#action" data-live-action-param="firstPage">First</a>
        </li>

        <li class="page-item {{ currentPage<=0 ? "disabled" : "" }}">
            <a class="page-link" data-action="live#action" data-live-action-param="previousPage" aria-label="Previous">
                <span aria-hidden="true">⮜</span>
            </a>
        </li>

        <li class="page-item active" aria-current="page">
            <span class="page-link">Page {{ currentPage+1 }}</span>
        </li>

        <li class="page-item {{ currentPage+1 >=lastPage ? "disabled" : "" }}">
            <a class="page-link" data-action="live#action" data-live-action-param="nextPage" aria-label="Next">
                <span aria-hidden="true">⮞</span>
            </a>
        </li>

        <li class="page-item {{ currentPage+1 >= lastPage ? "disabled" : "" }}">
            <!-- {{ currentPage }} >= {{ lastPage }} -->
            <a class="page-link" data-action="live#action" data-live-action-param="lastPage">Last</a>
        </li>
    </ul>
</nav>