<div{{ attributes }}>
    <div class="progress" role="progressbar" aria-valuenow="{{ current }}" aria-valuemax="{{ max }}">
        <div class="progress-bar {{ this.colorClass }}" style="width: {{ (max > 0 ? current/max*100 : 0)|round }}%;">
            {% if showNumbers %}{{ current }}/{{ max }}{% endif %}
        </div>
    </div>
</div>