{% if asDropdown %}
    <li>
        <a
            {{- attributes.defaults({
                class: "dropdown-item " ~ (tool.enabled ? "" : " disabled ") ~ (this.clipboard ? "btn-clipboard " : ""),
            }) -}}

            {%- if tool.path %}
                href="{{ tool.path }}"
            {% endif -%}

            {%- if tool.tooltip %}
                data-toggle="tooltip" data-placement="bottom" title="{{ tool.tooltip }}"
            {% endif -%}

            {%- if tool.confirmationRequired %}
                onclick='return confirm("{{ tool.confirmationText }}")'
            {% endif -%}

            {%- if this.clipboard and tool.clipboardText is defined %}
                data-clipboard-text="{{ tool.clipboardText|escape("html_attr") }}"
            {% endif -%}

            {% for attribute, value in tool.otherAttributes %}
                {{ attribute }}="{{ value }}"
            {% endfor %}
        >
            {%- if tool.icon %}
                {%- cache "gin-icon-" ~ tool.icon ~ "-" ~ tool.iconStack %}
                    <twig:Icon :icon="tool.icon" :stack="tool.iconStack"/>
                {% endcache -%}
            {% endif -%}

            {% if tool.tooltip %}
                {{ tool.tooltip }}
            {% endif %}
        </a>
    </li>
{% else %}
    <a {{- attributes.defaults({
        class: "btn " ~ tool.buttonClass ~ (tool.enabled ? "" : " disabled ") ~ (this.clipboard ? "btn-clipboard " : ""),
    }) -}}
        {%- if tool.path %}
            href="{{ tool.path }}"
        {% endif -%}

        {%- if tool.tooltip %}
            data-toggle="tooltip" data-placement="bottom" title="{{ tool.tooltip }}"
        {% endif -%}

        {%- if tool.confirmationRequired %}
            onclick='return confirm("{{ tool.confirmationText }}")'
        {% endif -%}

        {%- if this.clipboard and tool.clipboardText is defined %}
            data-clipboard-text="{{ tool.clipboardText|escape("html_attr") }}"
        {% endif -%}
    >
        {%- if tool.icon %}
            {%- cache "gin-icon-" ~ tool.icon ~ "-" ~ tool.iconStack %}
                <twig:Icon :icon="tool.icon" :stack="tool.iconStack"/>
            {% endcache -%}
        {% endif -%}
    </a>
{% endif %}