{% set outerTreeViewAttributes = {
    class: "list-group list-group-root well border-1 border gin-tree-view"
} %}

<div {{ attributes.defaults(treeLevel == 0 ? outerTreeViewAttributes : {}) }}>
    {% for node in tree|natsort %}
        {% set nodeId = "gin-treeView-" ~ treeLevel ~ "-" ~ node.id %}

        <div class="list-group-item {% if currentNode is same as(node) %}active{% endif %}">
            <div class="list-group-item-tools">
                <twig:Toolbox asDropdown="true" :toolbox="this.nodeTools(node)" size="sm" />
            </div>

            <div class="list-group-item-label d-lg-flex justify-content-between align-items-center">
                <div>
                    {# Collapse icon #}
                    {% if node.children|length > 0  %}
                        <a id="anchor-for-{{ nodeId }}" href="#{{ nodeId }}" class="text-decoration-none text-black text-reset" data-bs-toggle="collapse">
                            <span class="collapse-icon far fa-plus-square fa-fw"></span>
                        </a>
                    {% else %}
                        <span class="collapse-icon far fa-plus-square fa-fw invisible"></span>
                    {% endif %}

                    {# Tools #}

                    {# Node Name #}
                    <a  class="text-decoration-none text-black text-reset" href="{{ this.nodeUrl(node) }}">
                        {% if this.nodeIcon %}
                            <twig:Icon :icon="this.nodeIcon" stack="box" />
                        {% endif %}

                        {{ this.nodeLabel(node) }}
                    </a>
                </div>

                {% set component = this.postNodeComponent(node) %}
                {% if component is not null %}
                    <div class="ms-3 mt-2 mt-lg-0 ms-lg-0" style="min-width: 10rem;">
                        {{ component(component[0], component[1]) }}
                    </div>
                {% endif %}
            </div>
        </div>

        {% if this.active(node) %}
            {% set component = this.preChildComponent(node) %}
            {% if component is not null %}
                <div class="ms-5 list-group-item">
                    <div class="list-group-item-label p-0">
                        {{ component(component[0], component[1]|merge(childComponentParams)) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {# Children categories #}
        <div class="list-group collapse" id="{{ nodeId }}">
            {% if node.children|length > 0 %}
                <twig:TreeView tree="{{ node.children }}" treeLevel="{{ treeLevel + 1 }}" currentNode="{{ currentNode }}" :service="service" :childComponentParams="childComponentParams" />
            {% endif %}
        </div>

        {% if this.active(node) %}
            {% set component = this.postChildComponent(node) %}
            {% if component is not null %}
                <div class="ms-5 list-group-item">
                    <div class="list-group-item-label p-0">
                        {{ component(component[0], component[1]|merge(childComponentParams)) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>