{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icons %}
{% from 'utility/substance_lot.html.twig' import lot %}
{% from 'utility/substance_sequence_viewer.html.twig' import view_sequence %}
{% from 'utility/attachments.html.twig' import attachments %}

{% block title %}Gin :: Oligo :: {{ oligo.shortName }}{% endblock %}

{% block body_main %}
<div class="row">
    <div class="container container-fluid w-100 p-0 m-0">
        {{ layout.header(oligo.shortName, false, true, icons.oligo()) }}

        {{ layout.toolbox([
            {
                "type": "up",
                "target": url("app_oligos"),
                "tooltipText": "Back to all oligos",
            },
            {
                "type": "edit",
                "tooltipText": "Edit oligo",
                "target": url("app_substance_edit", {"substance": oligo.ulid}),
            },
            {
                "type": "add",
                "tooltipText": "Add lot",
                "target": url("app_substance_add_lot", {"substance": oligo.ulid}),
            }
        ]) }}

        <div class="row row-cols-1 row-cols-lg-2">
            {# Details #}
            <div class="col p-0 m-0 mb-3">
                <div class="card mx-3 h-100">
                    {{ layout.card_header_collapse("Details", "Details") }}

                    {{ layout.card_body_collapse_start("Details") }}
                    <div class="card-body px-lg-5 mx-0">
                        <table class="table table-sm table-borderless table-hover">
                            <tbody>
                                {{ macros.definition_row("ID", oligo.ulid) }}
                                {{ macros.definition_row("Short name", oligo.shortName) }}
                                {{ macros.definition_row("Name", oligo.longName) }}
                                {{ macros.definition_row("Molecular mass", oligo.molecularMass > 0 ? oligo.molecularMass ~ " Da" : "n.a.") }}
                                {{ macros.definition_row("Molar extinction coefficient", oligo.extinctionCoefficient ? oligo.extinctionCoefficient ~ " mM⁻¹ cm⁻¹" : "n.a.") }}
                                {# {{ macros.definition_row("Type", protein.proteinType ? protein.proteinType : "unknown") }}
                                {{ macros.definition_row("Protein Atlas", protein.proteinAtlasUri ?? "unknown", protein.proteinAtlasUri ?? null) }}
                                {# Experiment types # }

                                <tr>
                                    <th>Ancestors</th>
                                    <td>
                                        {% if protein.parents|length > 0 %}
                                            {{ macros.pillify_proteins(protein.parents) }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <th>Descendants</th>
                                    <td>
                                        {% if protein.children|length > 0 %}
                                            {{ macros.pillify_proteins(protein.children) }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <th>Epitopes</th>
                                    <td>
                                        {% if protein.epitopes|length > 0 %}
                                            {{ macros.pillify_epitopes(protein.epitopes) }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                </tr> #}
                            </tbody>
                        </table>
                    </div>
                    {{ layout.card_body_collapse_end() }}
                </div>
            </div>

            {# Sequence #}
            {{ view_sequence(oligo) }}

            {# Lot #}
            {{ lot(oligo) }}

            {{ attachments(oligo.attachments) }}
        </div>
    </div>
</div>
{% endblock %}