{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icons %}

{% block title %}Gin :: Oligos{% endblock %}

{% macro oligo_tools(oligo) %}
    {% if oligo == null %}
    {% else %}
        {{ layout.toolbox_column([
            {
                "type": "view",
                "tooltipText": "View oligo",
                "target": url("app_oligo_view", {"oligoId": oligo.ulid}),
            },
            {
            "type": "edit",
            "tooltipText": "Edit oligo",
            "target": url("app_substance_edit", {"substance": oligo.ulid}),
            "display": "lg",
            },
            {
            "type": "add",
            "tooltipText": "Add lot",
            "target": url("app_substance_add_lot", {"substance": oligo.ulid}),
            "display": "lg",
            }
        ]) }}
    {% endif %}
{% endmacro %}


{% block body_main %}
<div class="row">
    <div class="container container-fluid w-100 p-0 m-0">
        {{ layout.header("Oligos", false, true, icons.oligo(true)) }}

        {{ layout.toolbox([
            {
                "type": "add",
                "tooltipText": "Add new oligo",
                "target": url("app_substance_new", {"type": "oligo"}),
            },
        ]) }}

        <div class="row">
            <div class="col bg-white mx-3 mb-3 border p-3 p-lg-5 overflow-scroll">
                <table class="table table-hover fancyTable">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 50px;">
                            </th>
                            <th scope="col">
                                Name
                            </th>
                            <th scope="col">Length</th>
                            <th scope="col">Lots </th>
                            <th class="d-none d-lg-table-cell" scope="col">Sequence</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for oligo_row in oligos %}
                        {% set oligo = oligo_row[0] %}
                        {% set lotCount = oligo_row[1] %}
                        <tr>
                            <td class="align-middle">
                                {{ _self.oligo_tools(oligo) }}
                            </td>
                            <td>{{ oligo.shortName }}</td>
                            <td>{{ oligo.sequenceLength }}</td>
                            <td>{{ lotCount>0?lotCount:"-" }}</td>
                            <td class="d-none d-lg-table-cell">{{ oligo.sequence }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}