<div {{ attributes.defaults({}) }}>
    {%- if datum is array -%}
        {%- for subDatum in datum -%}
            <twig:Experiment:Datum :datum="subDatum" :field="field" :formRow="formRow" />
        {%- endfor -%}
    {%- else -%}
        {%- if this.isComponent -%}
            {%- set chemical = this.getChemical() -%}

            {% set entityReference %}
                {%- if datum is object or datum is array -%}
                    {% cache 'gin-datum' ~ (datum.ulid ?? datum.id) %}
                        <twig:EntityReference entity="{{ datum }}" />
                    {% endcache %}
                {%- else -%}
                    {{ datum }}
                {%- endif -%}
            {% endset %}

            {% if not small and app.user.settings.param("hideSmilesInDataOverview", false).asBool() %}
                {% set small = true %}
            {% endif %}

            {# Only display Smiles normally if "not small" #}
            {%- if chemical -%}
                {% if small %}<div class="d-none" id="smiles-viewer-tooltip-container-{{ chemical.ulid }}" style="min-width: 20rem">{% endif %}
                    <twig:SmilesViewer key="{{ chemical.ulid }}" smiles="{{ chemical.smiles }}" size="20" />
                {% if small %}</div>{% endif %}

                {% if small %}<div class="d-inline" data-bs-toggle="tooltip" data-tooltip-reference="smiles-viewer-tooltip-container-{{ chemical.ulid }}">{% endif %}
                    {{ entityReference|raw }}
                {% if small %}</div>{% endif %}
            {% else %}
                {{ entityReference|raw }}
            {%- endif -%}
        {%- else -%}
            {%- if datum is float -%}
                {{ datum|roundScientifically }}
            {%- elseif datum is instanceof("\\DateTime") -%}
                <twig:Date dateTime="{{ datum }}" />
            {%- elseif formRow.type.value == "image" -%}
                {%- if datum -%}
                    <div style="max-width: 20rem; max-height: 2rem;">
                        <img src="{{ datum }}" style="max-height: 2rem; vertical-align: top;" />
                    </div>
                {%- else -%}
                    <p class="text-muted">empty</p>
                {%- endif -%}
            {%- else -%}
                {{ datum }}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
</div>