<div {{ attributes.defaults({}) }}>
    <!-- Components::Experiment::Datum -->
    {%- if datum is array -%}
        {% if formRow.type.value == "modelParameter" %}
            {{ datum[1]|roundScientifically }}±{{ datum[2]|roundScientifically }} ({{ datum[3]|roundScientifically }}–{{ datum[4]|roundScientifically }})
        {% else %}
            {%- for subDatum in datum -%}
                <twig:Experiment:Datum :datum="subDatum" :field="field" :formRow="formRow" />
            {%- endfor -%}
        {% endif %}
    {%- else -%}
        {%- if this.isComponent -%}
            {%- set chemical = this.getChemical() -%}

            {% set entityReference %}
                {%- if datum is object or datum is array -%}
                    {% cache 'gin-datum' ~ (datum.ulid ?? datum.id) %}
                        <twig:EntityReference entity="{{ datum }}" />
                    {% endcache %}
                {%- else -%}
                    {{ datum }}
                {%- endif -%}
            {% endset %}

            {% if not small and app.user.settings.param("hideSmilesInDataOverview", false).asBool() %}
                {% set small = true %}
            {% endif %}

            {# Only display Smiles normally if "not small" #}
            {%- if chemical -%}
                <div
                {% if small %}
                    class="d-none" id="smiles-viewer-tooltip-container-{{ chemical.ulid }}" style="min-width: 20rem"
                {% else %}
                    style="min-width: 20rem"
                {% endif %}
                >
                    <twig:SmilesViewer key="{{ chemical.ulid }}" smiles="{{ chemical.smiles }}" size="20" />
                </div>

                {% if small %}<div class="d-inline" data-bs-toggle="tooltip" data-tooltip-reference="smiles-viewer-tooltip-container-{{ chemical.ulid }}">{% endif %}
                    {{ entityReference|raw }}
                {% if small %}</div>{% endif %}
            {% else %}
                {{ entityReference|raw }}
            {%- endif -%}
        {%- else -%}
            {%- if datum is same as(null) -%}

            {%- elseif datum is float or formRow.type.value == "float" -%}
                {{ datum|roundScientifically|number_format(null, ".", " ") }}
            {%- elseif datum is instanceof("\\DateTime") -%}
                <twig:Date dateTime="{{ datum }}" />
            {%- elseif formRow.type.value == "image" -%}
                {%- if datum -%}
                    <div style="max-width: 20rem; max-height: 10rem;">
                        <img src="{{ datum }}" style="max-height: inherit; max-width: inherit; vertical-align: top;" />
                    </div>
                {%- else -%}
                    <p class="text-muted">empty</p>
                {%- endif -%}
            {%- else -%}
                {{ datum }}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
</div>