{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% from 'utility/attachments.html.twig' import attachments %}
{% from 'parts/instruments/instruments.html.twig' import row_tools %}

{% block title %}Gin :: Instrument :: {{ instrument.instrumentNumber }} {{ instrument.shortName }}{% endblock %}

{% macro getInstrumentLevel(instrument, user) %}
    {% for instrumentUser in instrument.users|filter(e => e.user.id == user.id) %}
        {{ instrumentUser.role.value|capitalize }}
    {% else %}
        {{ instrument.requiresTraining ? "Untrained" : "User" }}
    {% endfor %}
{% endmacro %}

{% block body_main %}
    {% set instrumentRole = "untrained" %}
    {% if instrument.users|filter(e => e.user.id == app.user.id)|length > 0 %}
        {% set instrumentRole = (instrument.users|filter(e => e.user.id == app.user.id)|first).role.value %}
    {% endif %}

    {% set canEdit = false %}
    {% if is_granted("ROLE_ADMIN") %}
        {% set canEdit = true %}
    {% endif %}
    {% if instrumentRole == "admin" or instrumentRole == "responsible" %}
        {% set canEdit = true %}
    {% endif %}

    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            <twig:PageHeader title="{{ [instrument.instrumentNumber, instrument.shortName]|join(" | ") }}" icon="instrument" barcode />

            <twig:Layout:Row>
                <twig:Layout:Col type="inner">
                    <twig:Toolbox :toolbox="toolbox" />
                </twig:Layout:Col>
            </twig:Layout:Row>


            <twig:Layout:Row>
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Metadata" icon="instrument" iconStack="view">
                        {% if instrument.requiresTraining and instrumentRole == "untrained" %}
                            <p class="alert alert-danger">You have not been trained on this instrument yet. Contact a responsible person for this instrument.</p>
                        {% elseif instrument.requiresTraining %}
                            <p class="alert alert-success">You have been trained on this instrument. Contact a responsible person or an advanced user for advice if you have any questions.</p>
                        {% endif %}

                        <twig:Metadata data="{{ {
                            "ID": instrument.id,
                            "Number": instrument.instrumentNumber,
                            "Short name": instrument.shortName,
                            "Full name": instrument.longName,
                            "Inventory registration": instrument.registrationNumber ?? "none",
                            "Group": instrument.group ?? "unknown",
                            "Location": instrument.location,
                            "Mandatory training": ["boolean", instrument.requiresTraining],
                            "Mandatory booking": ["boolean", instrument.requiresReservation],
                            "Model number": instrument.modelNumber,
                            "Serial number": instrument.serialNumber,
                            "Company contact": instrument.instrumentContact,
                            "Acquired on": instrument.acquiredOn ? ["date", instrument.acquiredOn] : "unknown",
                            "Last Maintenance": instrument.lastMaintenance ? ["date", instrument.lastMaintenance] : "unknown",
                            "Modules": instrument.isModular or instrument.isCollective ? ["entity", instrument.children] : "not modular",
                        } }}" />

                        <div class="pt-3">
                            {{ instrument.description|raw }}
                        </div>

                        {% if instrument.citationText %}
                            <div class="pt-3">
                                <strong>Citation: </strong>
                                {{ instrument.citationText|raw }}
                            </div>
                        {% endif %}
                    </twig:ElementCard>
                </twig:Layout:Col>
            </twig:Layout:Row>

            <twig:Layout:Row xl="3">
                {# Log book #}
                <twig:Layout:Col>
                    <twig:ElementCard title="Log Book" icon="instrument" iconStack="logbook" noPadding="true">
                        <div class="overflow-auto card-body p-0" {{ stimulus_controller("form-toggler", {
                            viewPath: path("app_instrument_view_log_partial", {"instrument": instrument.id}),
                            formPath: path("app_instrument_form_log_partial", {"instrument": instrument.id}),
                        }) }}>
                            {# Toolbar #}
                            <div class="border-bottom py-1 px-lg-4">
                                <div class="btn-group btn-group-sm">
                                    {% if is_granted("ROLE_ADMIN") or is_granted("log_new", instrument) %}
                                        <a class="btn btn-primary collapse show"
                                            data-toggle="tooltip" data-placement="bottom" title="Add new log entry"
                                            {{ stimulus_action("form-toggler", "doToggle", "click") }}
                                            {{ stimulus_target("form-toggler", "button") }}
                                        >
                                            <span class="fas fa-fw fa-plus" aria-label="Add"></span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>

                            {# Body #}
                            <div class="py-1 px-lg-4">
                                {# Logs #}
                                <div
                                    class="collapse show"
                                    {{ stimulus_target("form-toggler", "frame view") }}
                                >
                                    <turbo-frame id="gin-turbo-logs" src="{{ path("app_instrument_view_log_partial", {"instrument": instrument.id}) }}"
                                    ></turbo-frame>
                                </div>


                                {# Form #}
                                <div
                                    class="collapse"
                                    {{ stimulus_target("form-toggler", "frame form") }}
                                ><turbo-frame id="gin-turbo-form" {# src="{{ path("app_instrument_form_log_partial", {"instrument": instrument.id}) }}" #}></turbo-frame></div>

                            </div>
                        </div>
                        <turbo-frame id="gin-instrument-log">

                        </turbo-frame>
                    </twig:ElementCard>
                </twig:Layout:Col>

                {# Instrument users #}
                <twig:Layout:Col>
                    <twig:ElementCard title="Instrument Users" icon="instrument" iconStack="user" noPadding="true">
                        <div class="pt-3">
                            <turbo-frame id="gin-turbo-instrument-users" src="{{ path("app_instrument_view_user_partial", {"instrument": instrument.id}) }}"
                            ></turbo-frame>
                        </div>
                    </twig:ElementCard>
                </twig:Layout:Col>

                {# Instrument calendar #}
                {% if instrument.requiresReservation and not instrument.calendarId is null %}
                    <twig:Layout:Col>
                        <twig:ElementCard title="Calendar" icon="instrument" iconStack="booking">
                            {% if instrument.bookable %}
                                <div class="pb-3">
                                    Quick booking:
                                    <form method="post" action="{{ url("app_instruments_book", {"instrument": instrument.id}) }}" class="row row-cols-lg-auto g-3">
                                        <div class="col-5">
                                            <label class="input-group">
                                                <span class="input-group-text">
                                                    At
                                                </span>

                                                <input type="datetime-local" class="form-control gin-datetime-autofill" name="start">
                                            </label>
                                        </div>

                                        <div class="col-5">
                                            <label class="input-group">
                                                <span class="input-group-text">
                                                    For (in hours)
                                                </span>

                                                <input type="text" class="form-control" name="length" value="{{ instrument.defaultReservationLength }}">
                                            </label>
                                        </div>

                                        <div class="col-2">
                                            <button type="submit" class="btn btn-primary">Book!</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            <iframe src="https://calendar.google.com/calendar/embed?src={{ instrument.calendarId }}&ctz=Europe%2FZurich&mode=WEEK&showNav=1&showPrint=0&showTabs=0" style="border: 0" width="100%" height="600"></iframe>
                        </twig:ElementCard>
                    </twig:Layout:Col>
                {% endif %}

                {# Consumables #}
                {% if instrument.consumables|length %}
                    <twig:Layout:Col>
                        <twig:ElementCard title="Consumables" icon="consumable" iconStack="instrument">
                            <twig:StockKeeping:ConsumableListView :allConsumables="instrument.consumables" />
                        </twig:ElementCard>
                    </twig:Layout:Col>
                {% endif %}

                {% if instrument.attachments|length %}
                    <twig:Layout:Col>
                        <twig:ElementCard title="Attachments" icon="attachment" iconStack="instrument">
                            <twig:Attachments :attachments="instrument.attachments" />
                        </twig:ElementCard>
                    </twig:Layout:Col>
                {% endif %}
            </twig:Layout:Row>
        </div>
    </div>
{% endblock %}
